<#body>
<style>
td {
	padding-left: 60px;
}

.datebox-button td {
	padding-left: 0;
}

input[class^="easyui-"] {
	width: 300px;
}

.title-first, .title-second {
	margin-top: 20px;
	background: #f7f7f7;
}

.title-first {
	padding-left: 0;
}

.title-second {
	padding-left: 30px;
}

.textbox-label {
	width: 100px;
}

.panel-tool {
	top: 10px;
	height: 24px;
}
</style>
<div id="smDialog" style="display: none;"></div>
<div id="cusTools">
	<a onclick="window.location.href='${contextPath}/approve/change/index.html';" class="easyui-linkbutton"
		style="width: 50px; height: 24px; text-align: center; text-decoration: none; color: #000; border: 1px solid #ccc; border-radius: 3px; background: #ecf2ef">返回</a>
</div>
<div class="easyui-panel" title="项目变更审批" style="height: 100%" data-options="tools:'#cusTools'">
	<div style="padding: 10px 60px 20px 60px">
		<form id="ff" method="post" action="">
			<input type="hidden" name="id" value="${approve.id}"> 
			<input type="hidden" name="taskId"  value="${taskId}">
			<input type="hidden" name="opt" id="opt" value="">
			<table cellpadding="5" id="tb" style="width: 100%">
				<tr>
					<td>项目编号</td>
					<td>${change.number}</td>
					<td>项目审批状态</td>
					<td>审批中</td>
				</tr>
				<tr>
					<td>申请人</td>
					<td>${approve.createMemberId}</td>
					<td>创建日期</td>
					<td>${approve.created}</td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">1项目内容及资源</td>
				</tr>
				<tr>
					<td colspan="2"><input class="easyui-textbox" type="text" name="name" value="${change.name}" data-options="label:'变更名称:'"></td>
					<td colspan="2"><input class="easyui-combobox" type="text" name="projectId" id="projectId" data-options="label:'项目编号:'"></td>
				</tr>
				<tr>
					<td colspan="2"><input class="easyui-textbox" type="text" name="projectName" id="projectName" data-options="label:'项目名称:'"></td>
					<td colspan="2"><input class="easyui-combobox" type="text" name="projectType" id="projectType" data-options="label:'项目类型:'"></td>
				</tr>
				<tr>
					<td colspan="2"><input class="easyui-combobox" type="text" name="type" id="type" data-options="label:'变更类型:'"> <#comboProvider
							_id="type" _provider='changeTypeProvider' /></td>
					<td colspan="2"><input class="easyui-numberbox" type="text" name="workingHours" value="${change.workingHours}"
						data-options="label:'变更工作量预估:'"></td>
				</tr>
				<tr>
					<td colspan="2"><select id="affectsOnline" class="easyui-combobox" name="affectsOnline" style="width: 305px;"
						data-options="editable:false,label:'是否影响上线'" required="true">
							<option value="1">是</option>
							<option value="2">否</option>
					</select></td>
					<td colspan="2"><input class="easyui-datebox" type="text" name="name" value="${change.created}" data-options="label:'提交日期:'"></td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">2.变更描述</td>
				</tr>
				<tr>
					<td colspan="4" style="padding: 20px;">简述项目目的、范围、方法概要</td>
				</tr>
				<tr>
					<td class="title-second" colspan="4">变更内容及原因</td>
				</tr>
				<tr>
					<td colspan="4"><input class="easyui-textbox" id="content" name="content" value="${change.content}"
						data-options="required:true,multiline:true,prompt:'限制输入500个字符串',validType:['length[0,500]']" style="width: 100%; height: 120px" /></td>
				</tr>
				<tr>
					<td class="title-second" colspan="4">变更方案及影响风险</td>
				</tr>
				<tr>
					<td colspan="4"><input class="easyui-textbox" name="effects" id="effects" value="${change.effects}"
						data-options="multiline:true,prompt:'限制输入500个字符串',validType:['length[0,500]']" style="width: 100%; height: 120px" /></td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">立项评审&审批</td>
				</tr>
				<tr>
					<td class="" colspan="4">
						<table id="dg" class="easyui-datagrid" style="height: auto"
							data-options="singleSelect: true,url: '${contextPath}/approve/loadDesc?id=${approve.id}'">
							<thead>
								<tr>
									<th data-options="field:'approveDate',_provider:'dateProvider',width:'20%',align:'center'">审批时间</th>
									<th data-options="field:'userId',width:'15%',align:'center'">用户</th>
									<th data-options="field:'role',width:'25%',align:'center'">职务</th>
									<th data-options="field:'result',width:'15%',align:'center',formatter:format">审批结果</th>
									<th data-options="field:'notes',width:'25%',align:'center'">审批意见</th>
								</tr>
							</thead>
						</table>
					</td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">验证审批</td>
				</tr>
				<tr>
					<td class="" colspan="4">
						<table id="dg1" class="easyui-datagrid" style="height: auto" data-options="singleSelect: true">
							<thead>
								<tr>
									<th data-options="field:'created',_provider:'dateProvider',width:'25%',align:'center'">审批时间</th>
									<th data-options="field:'approver',_provider:'memberProvider',width:'20%',align:'center'">用户</th>
									<th data-options="field:'roleName',_provider:'roleNameProvider',width:'30%',align:'center'">职务</th>
									<th data-options="field:'result',width:'25%',align:'center',formatter:format">验证结果</th>
								</tr>
							</thead>
						</table>
					</td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">验证执行</td>
				</tr>
				<tr>
					<td class="" colspan="4">
						<table id="task" class="easyui-datagrid" style="height: auto" data-options="singleSelect: true">
							<thead>
								<tr>
									<th data-options="field:'changeName',_provider:'projectChangeProvider',width:180,align:'center'">变更对象</th>
									<th data-options="field:'changeType',_provider:'projectChangeProvider',width:200,align:'center'">变更内容</th>
									<th data-options="field:'planTime',width:100,align:'center'">变更工作量</th>
									<th data-options="field:'owner',_provider:'memberProvider',width:100,align:'center'">执行人</th>
									<th data-options="field:'endDate',_provider:'dateProvider', width:150,align:'center'">完成时间</th>
								</tr>
							</thead>
						</table>
					</td>
				</tr>
			</table>
			<% if(approve.$_status==3){ %>
			<table>
				<tr>
					<td colspan="4" style="padding-left: 0"><input id="notes" class="easyui-textbox" name="notes"
						data-options="label:'验证意见',multiline:true,prompt:'限制输入200个字符串',validType:['length[0,200]']" style="width: 800px; height: 120px" /></td>
				</tr>
			</table>
			<%}%>
		</form>
		<% if(approve.$_status==3){ %>
		<div style="text-align: center; padding: 5px; margin-top: 50px;">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:'80px'" onclick="submitForm('reject')">拒绝</a> <a
				href="javascript:void(0)" class="easyui-linkbutton" data-options="width:'80px'" onclick="submitForm('accept')">同意</a>
		</div>
		<%}%>
	</div>
</div>
<script type="text/javascript">
	function format(value) {
		if (value != undefined) {
			return value == "accept" ? "通过" : "未通过";
		}
		return value;
	}

	function submitForm(opt) {
		$('#ff')
				.form(
						'submit',
						{
							url : "${contextPath}/approve/verityApprove",
							onSubmit : function() {
								$("#opt").val(opt);
								$("#opt").val(opt);
								return $("#ff").form('validate');
							},
							success : function(data) {
								var data = eval('(' + data + ')');
				                if(data.success) {
				                	document.domain="diligrp.com";
									//如果父页面是任务中心
									var plh1= window.location.href.indexOf('?') > 0 ? window.location.href.substring(0, window.location.href.indexOf('?')) : window.location.href;
									if(plh1=='http://almweb.diligrp.com/approve/changeApproveByAlm.html'){
											window.location.href = "${contextPath}/approve/change/index.html";
				                    }else{
					                    var plh = parent.location.href.indexOf('?') > 0 ? parent.location.href.substring(0, parent.location.href.indexOf('?')) : parent.location.href;
					                    if(plh=='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
					                        //向任务中心发送消息，参数为要跳转的地址
					                        window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
					                    }
				                    }
				                } else {
									$.messager.alert('错误', obj.result);
								}
							}
						});
	}

	$('#projectId')
			.combobox(
					{
						url : '${contextPath}/project/getProjectList?queryAll=true&dataAuth=false',
						valueField : 'id',
						textField : 'serialNumber',
						onLoadSuccess : function() {
							$("#projectId").combobox("setValue",
									'${change.projectId}');
						},
						onChange : function(projectValue) {
							var datas = $("#projectId").combobox('getData');
							for (var i = 0; i < datas.length; i++) {
								var data = datas[i];
								if (data.id == projectValue) {
									$("#projectName").textbox("setText",
											data.name);
									$("#projectType").textbox("setText",
											data.type);
								}
							}
						}
					});

	$(function() {
		$("#type").combobox("setValue", '${change.type}');
		$("#affectsOnline").combobox("setValue", '${change.affectsOnline}');
		$('input[class^=easyui-]').textbox("disable");
		$('select[class^=easyui-]').textbox("disable");
		$('#notes').textbox("enable");

		var opts = $("#task").datagrid("options");
		opts.method = 'get';
		if (null == opts.url || "" == opts.url) {
			opts.url = "${contextPath}/projectChange/loadTask?changeId=${change.id}&projectId=${change.projectId}";
		}
		var param = bindMetadata("task", true);
		$("#task").datagrid("load", param);

		opts = $("#dg1").datagrid("options");
		opts.method = 'get';
		if (null == opts.url || "" == opts.url) {
			opts.url = "${contextPath}/projectChange/loadVerify?approveId=${approve.id}";
		}
		var param = bindMetadata("dg1", true);
		$("#dg1").datagrid("load", param);
	});
</script> </#body>