<#body>
    <style>
    td div div:first-child {
        border: 0;
        background-color: #EEEEEE;
    }

    body {
        margin: 0;
        padding: 0;
    }
    </style>
    <div id="page-layout" class="page-layout index-layout">
        <!--消息通知、用户信息-->
        <div class="head" data-options="region:'north'" style="height:72px;border:none;">
            <div class="info">
                <!--用户设置-->
                <div class="user-info show-list" data-id="user-menu">
                    <div class="user-menu">
                        <a class="user-img" href=""><img src="${contextPath}/resources/images/default-user.png" width="40" height="40" alt="头像"></a>
                        <a class="user-name">${username} </a>
                    </div>
                </div>
                <!--消息列表-->
                <div class="msg show-list" data-id="news-list">
                    <span id="messageCount" style="display: none;"></span>
                </div>
            </div>
            <!--LOGO-->
            <div class="logo">LOGO</div>
            <!--顶部menu-->
            <div id="css3menu" class="menu-top">
                <ul>
                	<% for(item in menu){ %>
	                    <li><a id="fMenu${item.id}" href="javascript:void(0)" rel="${item.name}" onclick="setOnMenu(this)">${item.name}</a></li>
                    <% } %>
                </ul>
            </div>

        </div>
        <!--<div data-options="region:'south'" style="height:50px;"></div>-->
        <!--左侧菜单栏-->
        <div class="menu-left" data-options="region:'west'" style="width:251px;height:100%;border: none">
            <div id="menuList" class="easyui-accordion" data-options="multiple:true" style="width:251px;" >
    			<% for(item in menu){ %>
    				<div id="${item.id}" title="${item.name}" data-options="selected:true" style="overflow:auto;padding:10px 0;background: #f0f0f0;">
		                <ul>
		                    <% for(item1 in item.children){ %> 
		                        <li>
		                            <a href="javascript:void(0)" id="${item1.id }" rel="${item1.menuUrl}" onclick="menuClickHandler(this)">${item1.name}</a>
		                        </li>     
		                    <% } %>
		                </ul>
		             </div>
		         <% } %>
		     </div>
		     
    		

        </div>
        <!--页面主体内容-->
        <div data-options="region:'center'" style="height:100%;padding:15px 15px 0;border: none;">
           <iframe id="homeIndex" scrolling="auto" frameborder="0"  src="http://127.0.0.1:8083/alm/home/index" style="width:100%; height: 99.6%; display:none;"></iframe>
           <div id="tabs" style="width:100%; height: 99.6%;display: none;">
		   </div>
        </div>
    </div>
    <!--用户菜单-->
    <div class="menu-list" id="user-menu" data-index="0">
        <ul>
            <li><a href="javascript:void(0)" onclick="menuClickHandler(this)">用户信息</a></li>
            <li><a  href="javascript:void(0)" onclick="menuClickHandler(this)">修改密码</a></li>
            <li><a  href="javascript:void(0)" onclick="logout()">注销</a></li>
        </ul>
        <!--<span class="item dot-top"></span>-->
    </div>
    <!--消息列表-->
    <div class="menu-list" id="news-list" data-index="1">
        <ul id="messageList">
        
        </ul>
        <!--<span class="item dot-top"></span>-->
    </div>



    <script type="text/javascript">

    $(function() {
        $('#page-layout').layout();
        //            setHeight();
    });
	
	
    function addItem() {
        $('#page-layout').layout('panel', 'center').append('<p>More Panel Content.</p>');
        setHeight();
    }

    function removeItem() {
        $('#page-layout').layout('panel', 'center').find('p:last').remove();
        setHeight();
    }

    function setHeight() {
        var c = $('#page-layout');
        var p = c.layout('panel', 'center'); // get the center panel
        var oldHeight = p.panel('panel').outerHeight();
        p.panel('resize', { height: 'auto' });
        var newHeight = p.panel('panel').outerHeight();
        c.layout('resize', {
            height: (c.height() + newHeight - oldHeight)
        });
    }
    </script>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
    
    function menuClickHandler(obj) {
        var title = obj.text;
        var url = obj.rel;
		var id = obj.id;
		
		$("#homeIndex").css('display','none');
		$("#tabs").css('display','block');
		$("#"+id+"").parent().parent().children("li").removeClass("on");
		if(id!=null&&id!=''){
			$("#"+id+"").parent().addClass("on");
		}
        addOneTab(title, url);   
    }
    
    function addOneTab(title, url) {
        if ("用户信息" == title) {
            url = "${contextPath}/main/userDetail.html";

        } else if ("修改密码" == title) {
            url = "${contextPath}/main/changePwd.html"
        }
        $("#tabs").empty();
        $("#tabs").append('<iframe scrolling="auto" frameborder="0"  src="' + url + '"  style="width:100%; height: 99.6%;"></iframe>');
    }

    function backToLogin() {
        window.location.href = "${contextPath}/login/index.html";
    }

    function logout() {
        $.post('${contextPath!}/login/logoutAction', null, function(data) {
            if ("200" == data.code) {
                window.location.href = "${contextPath}/login/index.html";
            } else {
                $.messager.alert('提示', '注销失败');
            }
        });
    }


    /**顶部header滑动下拉**/
    $(function () {
        let timer=[];
        $('.show-list').on('mouseover',function(){
            $('#'+$(this).data('id')).show();
            if($(this).data('id')=='user-menu'){
                $(this).find('.user-menu').addClass('mouseover');
            }
            clearTimeout(timer[$(this).index()]);
        }).on('mouseout',function(){
            var buttonObj=$(this);
            var obj=$('#'+$(this).data('id'));
            timer[$(this).index()]=setTimeout(function(){
                obj.hide();
                if(buttonObj.data('id')=='user-menu'){
                    buttonObj.find('.user-menu').removeClass('mouseover');
                }
            }, 300);
        });

        $('.menu-list').on('mouseover',function(){
//            console.log(1,$(this).data('index'));
            clearTimeout(timer[$(this).data('index')]);
            $(this).show();
        }).on('mouseout',function(){
            var obj = $(this);
            console.log($(this).data('index')===0)
            timer[$(this).data('index')]=setTimeout(function(){
                if(obj.data('index')===0){
                    $('.user-menu').removeClass('mouseover');
                }
                obj.hide();
            }, 300);
        });
        messagesListen();
        setOnMenu(0);

    });
    /** 得到消息通知信息  **/
    var userId =${userid}
    var getMessages = {
    		type: "POST",
            url:'http://alm.diligrp.com:8083/alm/messageApi/list',
            data:{userId,userId},
            dataType:'json',
            success:function(data) {
            	if(data.count==0){
            		$("#messageCount").empty();
	             	$("#messageList").empty();
            		$("#messageCount").css('display','none');
            	}else{
            		$("#messageCount").css('display','block');
	    			var result = data.messages;
	    			$("#messageCount").empty();
	             	$('#messageCount').text(data.count);
	             	$("#messageList").empty();
	    			for(var i = 0; i<result.length; i++){
	     				$("#messageList").append("<li><a id='"+result[i].id+"'href='javascript:void(0)' onclick='setMessageTags(this)' rel='"+result[i].url+"'>一条消息未处理</a></li>");
	    			} 
            	}
    		}
    	};
   		function messagesListen(){$.ajax(getMessages)}	
    	//关键在这里，Ajax定时访问服务端，不断获取数据 ，这里是30秒请求一次。	
    	window.setInterval(function(){$.ajax(getMessages)},30000);
    	
    	function setMessageTags(obj){
    		var title ="消息管理";
    		var url =obj.rel;
    		var id = obj.id;
            updateMessageIsRead(id,title,url);
    	}
    	function updateMessageIsRead(id,title,url){
    		$.ajax(
    			{  
    	            type : "post" ,
    	            url : "http://alm.diligrp.com:8083/alm/messageApi/updateMessageIsRead" ,  
    	            data:{id,id},
    	            datatype : 'json',
    	            success : function (data) {
    	            	var flag = data.success;
    	            	if(flag){
    	            		addOneTab(title, url);
    	            	}
    	            	messagesListen();
    	            }
    		});
    	}
    	function setOnMenu(obj){
    		$("#css3menu").find("ul li").removeClass("on");
    		$("#menuList").children().each(function(){ 
                $(this).css('display','none');  
            });  
    		$("#homeIndex").css('display','none');
			if(obj==0){
				$("#css3menu").find("ul li").first().addClass("on");
				var id = $("#css3menu").find("ul li").children().get(0).id.replace("fMenu","");
				$("#"+id+"").parent().css('display','block');
			}else if(obj.rel=='ALM'){
				var menuFid = obj.id;
				var id = menuFid.replace("fMenu","");
				$("#"+menuFid+"").parent().addClass("on");
				$("#"+id+"").parent().css('display','block');
				$("#homeIndex").css('display','block');
			}else{
				var menuFid = obj.id;
				var id = menuFid.replace("fMenu","");
				$("#"+menuFid+"").parent().addClass("on");
				$("#"+id+"").parent().css('display','block');
			}
		}
    </script>
</#body>