<#body>
    <style>
    td div div:first-child {
        border: 0;
        background-color: #EEEEEE;
    }
    body {
        margin: 0;
        padding: 0;
    }
    </style>
    <div id="page-layout" class="page-layout index-layout" style="width: 100%;height: 100%;">
        <!--消息通知、用户信息-->
        <div class="head" data-options="region:'north'" style="height:72px;border:none;">
            <div class="info">
                <!--用户设置-->
                <div class="user-info show-list" data-id="user-menu">
                    <div class="user-menu">
                        <a class="user-img" href=""><img src="${contextPath}/resources/images/default-user.png" width="40" height="40" alt="头像"></a>
                        <a class="user-name">${username} </a>
                    </div>
                </div>
                <!--消息列表-->
                <div class="msg show-list" data-id="news-list">
                    <span id="messageCount" style="display: none;"></span>
                </div>
            </div>
            <!--LOGO-->
            <div class="logo">LOGO</div>
            <!--顶部menu-->
            <div id="css3menu" class="menu-top">
                <ul>
                	<% for(item in menu){ %>
	                    <li><a id="fMenu${item.id}" href="javascript:void(0)" rel="${item.name}">${item.name}</a></li>
                    <% } %>
                </ul>
            </div>

        </div>
        <!--<div data-options="region:'south'" style="height:50px;"></div>-->
        <!--左侧菜单栏-->
         <div  data-options="region:'west'" style="width:251px;height:100%;padding-top:0px;border: none">

        </div>
        <!--页面主体内容-->
        <div data-options="region:'center'" id="center" style="width:100%;height:100%;border: none;" >
           <iframe id="homeIndex" scrolling="auto" frameborder="0"  style="width:100%; height: 99.6%; display:block;"></iframe>
           <div id="tabs" style="width:100%; height: 99.6%;display: none;padding:10px 10px 0;box-sizing: border-box;min-width:929px"></div>
        </div>
    </div>
    <!--用户菜单-->
    <div class="menu-list" id="user-menu" data-index="0">
        <ul>
            <li><a href="javascript:void(0)" onclick="menuClickHandler(this)">用户信息</a></li>
            <li><a  href="javascript:void(0)" onclick="menuClickHandler(this)">修改密码</a></li>
            <li><a  href="javascript:void(0)" onclick="logout()">注销</a></li>
        </ul>
        <!--<span class="item dot-top"></span>-->
    </div>
    <!--消息列表-->
    <div class="menu-list" id="news-list" data-index="1">
        <ul id="messageList">

        </ul>
        <!--<span class="item dot-top"></span>-->
    </div>



    <script type="text/javascript">

    $(function() {
        $('#page-layout').layout();
    });

    </script>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
    
    function menuClickHandler(obj) {
        var title = obj.text;
        var url = obj.rel;
		var id = obj.id;
		$("#menuList").find("ul li").removeClass("on");
		if(id!=null&&id!=''){
			$("#"+id+"").parent().addClass("on");
		}
        addOneTab(title, url);   
    }
    
    function addOneTab(title, url) {
    	$("#homeIndex").css('display','none');
		$("#tabs").css('display','block');
        if ("用户信息" == title) {
            url = "${contextPath}/main/userDetail.html";

        } else if ("修改密码" == title) {
            url = "${contextPath}/main/changePwd.html"
        }
        $("#tabs").empty();
        $("#tabs").append('<iframe scrolling="auto" frameborder="0"  src="' + url + '"  style="width:100%; height: 99.6%;"></iframe>');
    }

    function backToLogin() {
        window.location.href = "${contextPath}/login/index.html";
    }

    function logout() {
        $.post('${contextPath!}/login/logoutAction', null, function(data) {
            if ("200" == data.code) {
                window.location.href = "${contextPath}/login/index.html";
            } else {
                $.messager.alert('提示', '注销失败');
            }
        });
    }


    /**顶部header滑动下拉**/
    $(function () {
        let timer=[];
        $('.show-list').on('mouseover',function(){
            $('#'+$(this).data('id')).show();
            if($(this).data('id')=='user-menu'){
                $(this).find('.user-menu').addClass('mouseover');
            }
            clearTimeout(timer[$(this).index()]);
        }).on('mouseout',function(){
            var buttonObj=$(this);
            var obj=$('#'+$(this).data('id'));
            timer[$(this).index()]=setTimeout(function(){
                obj.hide();
                if(buttonObj.data('id')=='user-menu'){
                    buttonObj.find('.user-menu').removeClass('mouseover');
                }
            }, 300);
        });

        $('.menu-list').on('mouseover',function(){
//            console.log(1,$(this).data('index'));
            clearTimeout(timer[$(this).data('index')]);
            $(this).show();
        }).on('mouseout',function(){
            var obj = $(this);
            // console.log($(this).data('index')===0)
            timer[$(this).data('index')]=setTimeout(function(){
                if(obj.data('index')===0){
                    $('.user-menu').removeClass('mouseover');
                }
                obj.hide();
            }, 300);
        });
        messagesListen();

    });
    /** 得到消息通知信息  **/
    var userId =${userid}
    var getMessages = {
    		type: "POST",
            url:'http://alm.diligrp.com:8083/alm/messageApi/list',
            data:{userId,userId},
            dataType:'json',
            success:function(data) {
            	if(data.count==0){
            		$("#messageCount").empty();
	             	$("#messageList").empty();
            		$("#messageCount").css('display','none');
            	}else{
            		$("#messageCount").css('display','block');
	    			var result = data.messages;
	    			$("#messageCount").empty();
	             	$('#messageCount').text(data.count);
	             	$("#messageList").empty();
	    			for(var i = 0; i<result.length; i++){
							$("#messageList").append("<li><a id='"+result[i].id+"'href='javascript:void(0)' onclick='setMessageTags(this)' rel='"+result[i].url+"'>一条"+result[i].messageName+"消息未处理</a></li>");

	    			} 
            	}
    		}
    	};
   		function messagesListen(){$.ajax(getMessages)}	
    	//关键在这里，Ajax定时访问服务端，不断获取数据 ，这里是30秒请求一次。	
    	window.setInterval(function(){$.ajax(getMessages)},30000);
    	
    	function setMessageTags(obj){
    		var title ="消息管理";
    		var url =obj.rel;
    		var id = obj.id;
            updateMessageIsRead(id,title,url);
    	}
    	function updateMessageIsRead(id,title,url){
    		$.ajax(
    			{  
    	            type : "post" ,
    	            url : "http://alm.diligrp.com:8083/alm/messageApi/updateMessageIsRead" ,  
    	            data:{id,id},
    	            datatype : 'json',
    	            success : function (data) {
    	            	var flag = data.success;
                        addOneTab(title, url);
                        if(flag){
                        	messagesListen();
    	            	}
    	            	
    	            }
    		});
    	}

    /*菜单切换*/
    $(function () {
    	$('#css3menu ul li').first().addClass("on");

    	$('#page-layout').layout('remove','west');
        $('#homeIndex').attr("src","http://alm.diligrp.com:8083/alm/home/index");

    	$('#css3menu ul li').on('click',function(){
            let index= $(this).index();
            if(index<1){
                $('#page-layout').layout('remove','west')
                $("#homeIndex").css('display','block');
                $('#homeIndex').attr("src","http://alm.diligrp.com:8083/alm/home/index");
                $("#tabs").empty().hide();
            }else{
                // console.log($('#menuTem').html())
                $('#page-layout').layout('add',{
                    region:'west',
                    width:251
                });

                $('.layout-panel-west .panel-body').html('').append($('#menuTem').html());

                var id = $(this).children().get(0).id.replace("fMenu","");
                $("#"+id+"").find("ul li").first().addClass('on');
                var menuLi=$("#"+id+"").find("ul li").first().children().get(0);
                addOneTab(menuLi.text,menuLi.rel);
            };
            $('.menu-left-list').eq(index).show().siblings().hide();
            $(this).addClass('on').siblings().removeClass('on');

        })
    });


    </script>
<script type="text/template" id="menuTem">
    <div id="menuList" class="menu-left">
        <% for(item in menu){ %>
        <div id="${item.id}" class="menu-left-list">
            <% for(item1 in item.children){ %>
            <div class="title-name">${item1.name}</div>
            <ul>
                <% for(item2 in item1.children){ %>
                <li>
                    <a href="javascript:void(0)" id="${item2.id }" rel="${item2.menuUrl}" onclick="menuClickHandler(this)">${item2.name}</a>
                </li>
                <% } %>
            </ul>
            <% } %>
        </div>
        <% } %>
    </div>

</script>
</#body>