<form id="phaseForm" action="${contextPath!}/project/phase/insert" class="easyui-form" method="post" fit="true">
	<input name="id" id="id" type="hidden" value="${model.id!}">
	<input type="hidden" name="projectId" value="${model.project.id!}">
	<table width="100%">
		<tr>
			<td style="padding: 5px;"><input class="easyui-textbox" style="width: 100%;" value="${model.project.name!}" panelWidth="auto"
				panelHeight="auto" label="项目名称:" readonly="readonly" /></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><select editable="false" panelWidth="auto" panelHeight="auto" label="版本名称:" class="easyui-combobox"
				name="versionId" id="versionId" style="width: 100%;"> <%for(item in model.allVersions){%>
					<option value="${item.id!}"<%if(has(model) && model.versionId == item.id){%>selected="selected"<%}%>>${item.version!}</option> <%}%>
			</select></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><select editable="false" panelWidth="auto" panelHeight="auto" label="阶段名称:" class="easyui-combobox"
				name="name" id="name" style="width: 100%;"> <%for(item in model.phaseNames){%>
					<option value="${item.value!}"<%if(has(model) && model.name == item.value){%>selected="selected"<%}%>>${item.code!}</option> <%}%>
			</select></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><input class="easyui-datebox" name="plannedStartDate" id="plannedStartDate"
				value="${model.plannedStartDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" style="width: 100%" data-options="label:'计划开始日期:',editable:false"
				required="true" /></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><input class="easyui-datebox" name="plannedEndDate" id="plannedEndDate"
				value="${model.plannedEndDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" style="width: 100%" data-options="label:'计划结束日期:',editable:false"
				required="true" /></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><label style="margin-right: 49px;">文档：</label>
				<div id="fileuploader"></div>
				<table class="easyui-datagrid" title="阶段文档列表" id="phaseFileGrid" fitColumns="true" pagination="false" remoteSort="false"
					loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="false" striped="true" idField="id"
					data-options="<%if(model.id != null){%>url:'${contextPath!}/files/list?phaseId=${model.id!}'<%}%>">
					<thead>
						<tr>
							<th data-options="field:'name', width:'20%', align:'center', resizable:'true', fixed:'false'">文件名</th>
							<th data-options="field:'length', width:'20%', align:'center', resizable:'true', fixed:'false'">大小</th>
							<th data-options="field:'created', width:'50%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">上传日期</th>
							<th data-options="field:'opt', width:'10%', align:'center', resizable:'true', fixed:'false',formatter:phaseFileOptFormatter">操作</th>
						</tr>
					</thead>
				</table></td>
		</tr>
	</table>
</form>
<script type="text/javascript">
	<#project_phaseFormJs />
</script>