<style>
.table-box {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.table-box, .table-box tr td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table-box tr td {
	/*display: block;*/
	box-sizing: border-box;
	/*width: 16.6% !important;*/
	padding: 5px;
}

.table-box .table-title {
	background-color: #f5f5f5;
	font-weight: bold;
}

.table-combo .textbox, .table-combo .filebox {
	border: none;
	border-radius: 0;
}
</style>
<div class="easyui-panel" style="box-sizing: border-box; width: 100%;">
	<form id="editForm" action="" method="post" enctype="multipart/form-data" style="box-sizing: border-box; display: block; width: 100%">
		<input type="hidden" name="id" value="${model.id!}">
		<div style="box-sizing: border-box;; width: 100%; padding: 10px 0px 10px 10px;">
			<div class="easyui-layout" style="box-sizing: border-box; width: 100%;">
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" width="16.6%">工单编号</td>
						<td class="" width="16.6%">${model.serialNumber!}</td>
						<td class="table-title" width="16.6%">工单名称</td>
						<td width="16.6%">${model.workOrderName!}</td>
						<td width="16.6%" class="table-title">工单类型</td>
						<td width="16.6%">${model.workOrderType!}</td>
					</tr>
					<tr>
						<td class="table-title">工单优先级</td>
						<td>${model.priority!}</td>
						<td class="table-title">工单来源</td>
						<td>${model.workOrderSource!}</td>
						<td class="table-title">受理人</td>
						<td>${model.acceptorId!}</td>
					</tr>
					<tr>
						<td class="table-title">抄送</td>
						<td>${model.copyUsers!}</td>
						<td class="table-title">实施人</td>
						<td>${model.executorId!}</td>
						<td class="table-title">申请人</td>
						<td class="table-combo">${model.applicantId!}</td>
					</tr>
					
					<tr>
						<td colspan="6" style="padding: 5px;">
							 <table class="easyui-datagrid"  rownumbers="false" remoteSort="false" loadMsg="数据加载中..."
				               singleSelect="true" method="post" multiSort="true" data-options="<%if(has(model) && model.id != null){%>url:'${contextPath!}/demand/queryDemandListByApplyIdOrVersionIdOrWorkOrderId.action?id=${model.id!}&type=3'<%}%>">
				               <thead>
						            <tr>
						            	<th data-options="field:'id',hidden:'true'">
						              	<th data-options="field:'serialNumber', width:'20%', align:'center', resizable:'true', fixed:'false'">需求编号</th>
										<th data-options="field:'name', width:'20%', align:'center', resizable:'true', fixed:'false'">需求名称</th>
										<th data-options="field:'finishDate', width:'30%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">需求期待时间日期</th>
										<th data-options="field:'opt', width:'25%', align:'center',formatter:showDemandOptFormatter, resizable:'true', fixed:'false'">详情</th>
										
						            </tr>
					            </thead>
				        	</table>
						</td>
					</tr>
					<tr>
						<td class="table-title">附件</td>
						<td><%if(model.$_attachmentFileId != null){%><a href="${contextPath!}/files/download?id=${model.$_attachmentFileId!}">${model.attachmentFileId}</a><%}%></td>
					</tr>

					<tr>
						<td class="table-title" colspan="6">描述</td>
					</tr>
					<tr>
						<td class="table-combo" colspan="6">${model.description!}</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">执行操作记录</td>
					</tr>
					<%for(item in opRecords){%>
					<tr>
						<td colspan="6">
							<table class="table-box" style="width: 100%; padding: 0; margin: 0;">
								<tr>
									<td class="table-title">${item.operationName!}</td>
									<td class="table-combo" style="padding: 0">${item.operatorId!}</td>
									<td class="table-title">操作结果</td>
									<td class="table-combo" style="padding: 0">${item.operationResult!}</td>
									<td class="table-title">描述</td>
									<td class="table-combo" style="padding: 0; width: 20%">${item.description!}</td>
									<td class="table-title" style="width: 10%">时间</td>
									<td class="table-combo" style="padding: 0; width: 20%">${item.operationTime!}</td>
								</tr>
							</table>
						</td>
					</tr>
					<%}%>
				</table>
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" colspan="6">任务工时</td>
					</tr>
					<%for(item in model.executionRecords){%>
					<tr>
						<td colspan="6"><table class="table-box" style="padding:0px 0px;margin:0px 0px;" width="100%">
								<tr>
									<td class="table-title">开始日期</td>
									<td class="table-combo">${item.startDate!,'yyyy-MM-dd'}</td>
									<td class="table-title">结束日期</td>
									<td class="table-combo">${item.endDate!,'yyyy-MM-dd'}</td>
									<td class="table-title">常规工时</td>
									<td class="table-combo">${item.taskHours!}</td>
									<td class="table-title">加班工时</td>
									<td class="table-combo">${item.overtimeHours!}</td>
								</tr>
							</table></td>
					</tr>
					<%}%>
				</table>
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" colspan="2">创建时间</td>
						<td class="table-combo" colspan="4">${model.creationTime!}</td>
					</tr>
				</table>
			</div>
		</div>

	</form>
</div>
<script type="text/javascript">
function showDemandOptFormatter(value, row, index) {
	return '<a href="javascript:void(0);" onclick="showDemandDetail(' + row.id
			+ ');">详情</a>';
}
function showDemandDetail(id){
	$('#win').dialog({
		title : '需求详情',
		width : 800,
		height : 640,
		href : '${contextPath!}/demand/detail?id=' + id,
		modal : true,
		buttons : [{
					text : '返回',
					handler : function() {
						$('#win').dialog('close');
					}
				}]
	});
}
</script>