
<#body>
<style>
.table-box {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.table-box, .table-box tr td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table-box tr td {
	/*display: block;*/
	box-sizing: border-box;
	/*width: 16.6% !important;*/
	padding: 5px;
}

.table-box .table-title {
	background-color: #f5f5f5;
	font-weight: bold;
}

.table-combo .textbox, .table-combo .filebox {
	border: none;
	border-radius: 0;
}
</style>
<script type="text/javascript" src="${contextPath!}/resources/js/dateFormat.js"></script>

<div class="easyui-panel" style="box-sizing: border-box; width: 100%;">
	<form id="editForm" action="" method="post" enctype="multipart/form-data" style="box-sizing: border-box; display: block; width: 100%">
		<input type="hidden" name="id" value="${model.id!}">
		
		<div style="box-sizing: border-box;; width: 100%; padding: 10px 0px 10px 10px;">
			<div class="easyui-layout" style="box-sizing: border-box; width: 100%;">
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" width="16.6%">工单编号</td>
						<td class="" width="16.6%">${model.serialNumber!}</td>
						<td class="table-title" width="16.6%">工单名称</td>
						<td width="16.6%">${model.workOrderName!}</td>
						<td width="16.6%" class="table-title">工单类型</td>
						<td width="16.6%">${model.workOrderType!}</td>
					</tr>
					<tr>
						<td class="table-title">工单优先级</td>
						<td>${model.priority!}</td>
						<td class="table-title">工单来源</td>
						<td>${model.workOrderSource!}</td>
						<td class="table-title">受理人</td>
						<td>${model.acceptorId!}</td>
					</tr>
					<tr>
						<td class="table-title">抄送</td>
						<td>${model.copyUsers!}</td>
						<td class="table-title">实施人</td>
						<td>${model.executorId!}</td>
						<td class="table-title">申请人</td>
						<td class="table-combo">${model.applicantId!}</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">描述</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">${model.description!}</td>
					</tr>
					<tr>
						<td class="table-title" colspan="2">附件</td>
						<td class="table-combo" colspan="4" style="padding: 0"><a href="${contextPath!}/files/download?id=${model.$_attachmentFileId!}"
							target="_blank">${model.attachmentFileId!}</a></td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">执行操作记录</td>
					</tr>
					<%for(item in opRecords){%>
					<tr>
						<td colspan="6">
							<table class="table-box" style="width: 100%; padding: 0; margin: 0;">
								<tr>
									<td class="table-title">${item.operationName!}</td>
									<td class="table-combo" style="padding: 0">${item.operatorId!}</td>
									<td class="table-title">操作结果</td>
									<td class="table-combo" style="padding: 0">${item.operationResult!}</td>
									<td class="table-title">描述</td>
									<td class="table-combo" style="padding: 0; width: 20%">${item.description!}</td>
									<td class="table-title" style="width: 10%">时间</td>
									<td class="table-combo" style="padding: 0; width: 20%">${item.operationTime!}</td>
								</tr>
							</table>
						</td>
					</tr>
					<%}%>
					<tr>
						<td class="table-title">工作时间</td>
						<td colspan="5" style="padding: 0px 10px; text-align: left;"><input class="easyui-datebox" id="startDate" name="startDate"
							value="" data-options="required:true,editable:false" style="width: '20%';"><span style="padding: 0px 10px;">至</span><input
							class="easyui-datebox" id="endDate" name="endDate" value="" data-options="required:true,editable:false" style="width: '20%';"></td>
					</tr>
					<tr>
						<td class="table-title" colspan="1">任务工时</td>
						<td colspan="2" style="padding: 0"><input class="easyui-numberbox" name="taskHours" value=""
							data-options="min:1,max:9999,required:true" style="width: '95%';"></td>
						<td class="table-title" colspan="1">加班工时</td>
						<td colspan="2" style="padding: 0"><input class="easyui-numberbox" name="overtimeHours" value="" data-options="max:9999"
							style="width: '95%';"></td>
					</tr>
					<tr>
						<td class="table-title" colspan="2">工作内容描述</td>
						<td colspan="4"><input class="easyui-textbox" name="workContent"
							data-options="required:true,multiline:true,validType:['length[0,200]']" style="width: 92%"></td>
						<td> <input type="hidden" name="taskId" value="${taskId}" />	</td>
					  
					</tr>
				</table>
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" colspan="2">创建时间</td>
						<td class="table-combo" colspan="4">${model.creationTime!}</td>
					</tr>
						  
				</table>
				<table class="table-box" width="100%">
				   <tr>
					      
					       <td> 
					          <a id="btn" href="#" class="easyui-linkbutton" data-options="onClick:sssssssst">解决人执行</a>
					   	  </td>
					   	 
				   </tr>
				   
				</table>
			</div>
		</div>
       
	</form>
</div>


<script type="text/javascript">
	<#members_index/>
	<#workOrder_index />
	$(function() {
		$('#workOrderType').combobox('initValue',${model.$_workOrderType!});
		$('#workOrderType').combobox('setText','${model.workOrderType!}');
		
		$('#priority').combobox('initValue',${model.$_priority!});
		$('#priority').combobox('setText','${model.priority!}');
		
		$('#workOrderSource').combobox('initValue','${model.$_workOrderSource!}');
		$('#workOrderSource').combobox('setText','${model.workOrderSource!}');
		
		$('#acceptorId').combobox('initValue',${model.$_acceptorId!});
		$('#acceptorId').combobox('setText','${model.acceptorId!}');
		
		var copyUserIds='${model.copyUserId!}';
		$(copyUserIds).each(function(index,item){
			var node = $('#copyUserIds').combotree('tree').tree('find',item);
			$('#copyUserIds').combotree('tree').tree('check', node.target);
		});
	});
	
	
   function sssssssst(){
			 //alert("sss");
			// alert( $('#taskId').val());//获取到了
	  
	 $('#editForm').form('submit', {
			url : '${contextPath!}/workOrder/solveAgree',
			onSubmit : function() {
				var startDate = $('#startDate').datebox('getValue');
				var endDate = $('#endDate').datebox('getValue');
				if (startDate > endDate) {
					$.messager.alert('提示', '工单开始日期不能大于工单结束日期!');
					return false;
				}
				if (!$(this).form('validate')) {
					return false;
				}
			},
			success : function(data) {
				var obj = $.parseJSON(data);
				if (obj.code == 200) {
					/* updateGridRow(obj.data);
					$('#win').dialog('close'); */
				} else {
					$.messager.alert('错误', obj.result);
				}
			}
		});
	   
	   
		    
	}
	   
	   
	   
</script>

</#body>