<style>
.table-box {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.table-box, .table-box tr td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table-box tr td {
	/*display: block;*/
	box-sizing: border-box;
	/*width: 16.6% !important;*/
	padding: 5px;
}

.table-box .table-title {
	background-color: #f5f5f5;
	font-weight: bold;
}

.table-combo .textbox, .table-combo .filebox {
	border: none;
	border-radius: 0;
}
</style>
<div class="easyui-panel" style="box-sizing: border-box; width: 100%;">
	<form id="editForm" action="" method="post" enctype="multipart/form-data" style="box-sizing: border-box; display: block; width: 100%">
		<input type="hidden" name="id" value="${model.id!}">
		<div style="box-sizing: border-box;; width: 100%; padding: 10px 0px 10px 10px;">
			<div class="easyui-layout" style="box-sizing: border-box; width: 100%;">
				<table class="table-box" width="100%">
					<tr>
						<td class="table-title" width="16.6%">工单编号</td>
						<td class="" width="16.6%">${model.serialNumber!}</td>
						<td class="table-title" width="16.6%">工单名称</td>
						<td width="16.6%">${model.workOrderName!}</td>
						<td width="16.6%" class="table-title">工单类型</td>
						<td width="16.6%">${model.workOrderType!}</td>
					</tr>
					<tr>
						<td class="table-title">工单优先级</td>
						<td>${model.priority!}</td>
						<td class="table-title">工单来源</td>
						<td>${model.workOrderSource!}</td>
						<td class="table-title">受理人</td>
						<td>${model.acceptorId!}</td>
					</tr>
					<tr>
						<td class="table-title">抄送</td>
						<td>${model.copyUsers!}</td>
						<td class="table-title">实施人</td>
						<td>${model.executorId!}</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">描述</td>
					</tr>
					<tr>
						<td class="table-combo" colspan="6">${model.description!}</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">执行操作记录</td>
					</tr>
					<%for(item in opRecords){%>
					<tr>
						<td class="table-title">${item.operationName!}</td>
						<td class="table-combo" style="padding: 0">${item.operatorId!}</td>
						<td class="table-title">描述</td>
						<td class="table-combo" style="padding: 0">${item.description!}</td>
						<td class="table-title">时间</td>
						<td class="table-combo" style="padding: 0">${item.operationTime!}</td>
					</tr>
					<%}%>
					<tr>
						<td class="table-title" colspan="6">任务工时</td>
					</tr>
					<tr>
						<td class="table-title">常规工时</td>
						<td class="table-combo" colspan="2" style="padding: 0">${model.taskHours!}</td>
						<td class="table-title">加班工时</td>
						<td class="table-combo" colspan="2" style="padding: 0">${model.overtimeHours!}</td>
					</tr>
					<tr>
						<td class="table-title">申请人</td>
						<td class="table-combo" colspan="2" style="padding: 0">${model.applicantId!}</td>
						<td class="table-title">创建时间</td>
						<td class="table-combo" colspan="2" style="padding: 0">${model.creationTime!}</td>
					</tr>
				</table>
			</div>
		</div>

	</form>
</div>