
<#body>
<div id="win" style="display: none;"></div>
<div id="smDialog" style="display: none;"></div>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="workOrderName" id="workOrderName" style="width: 100%"
							data-options="label:'工单名称:'" /></td>
						<td style="padding: 5px;"><input name="workOrderState" id="workOrderState" style="width: 100%"
							data-options="label:'状态:',editable:false" /> 
							<#comboProvider _id="workOrderState" _provider='workOrderStateProvider' /></td>
						<td style="padding: 5px;"><input name="priority" id="priority1" style="width: 100%"
							data-options="label:'优先级:',editable:false" /> 
							<#comboProvider _id="priority1" _provider='workOrderPriorityProvider' /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="serialNumber" id="serialNumber" style="width: 100%"
							data-options="label:'工单编号:'" /></td>
						<td style="padding: 5px;"><input name="workOrderType" id="workOrderType1" style="width: 100%"
							data-options="label:'工单类型:',editable:false" /> 
							<#comboProvider _id="workOrderType1" _provider='workOrderTypeProvider' /></td>
						<td style="padding: 5px;"><input class="easyui-datebox" name="submitStartDate" id="submitStartDate" style="width: 100%"
							data-options="label:'申请日期:'" /></td>
						<td style="padding: 5px;"><input class="easyui-datebox" name="submitEndDate" id="submitEndDate" style="width: 190px;"
							data-options="label:'至:',labelWidth:30" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input name="workOrderSource" id="workOrderSource1" style="width: 100%"
							data-options="label:'工单来源:',editable:false" /> 
							<#comboProvider _id="workOrderSource1" _provider='workOrderSourceProvider' /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="applicantId" id="applicantId" style="width: 100%"
							data-options="label:'申请人:',
							editable:false,
									buttonText:'选择',
									onClickButton:selectMember,onChange:_changeTextboxShowClear" /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="acceptorId" id="acceptorId1" style="width: 100%"
							data-options="label:'受理人:',
							editable:false,
									buttonText:'选择',
									onClickButton:selectMember,onChange:_changeTextboxShowClear" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="executorId" id="executorId1" style="width: 100%"
							data-options="label:'执行人:',
							editable:false,
									buttonText:'选择',
									onClickButton:selectMember,onChange:_changeTextboxShowClear" /></td>
						<td style="padding: 5px;"><input name="channel" id="channel1" style="width: 100%"
							data-options="label:'渠道:',editable:false" /> 
							<#comboProvider _id="channel1" _provider='workOrderChannelProvider' /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a
							href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="工单列表" id="grid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="both"
			rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="true"
			striped="true" toolbar="#toolbar" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',formatter:serialNumberFormatter">工单编号</th>
					<th data-options="field:'workOrderName', align:'center', resizable:'true', fixed:'false'">工单名称</th>
					<th data-options="field:'priority', _provider:'workOrderPriorityProvider', align:'center', resizable:'true', fixed:'false'">优先级</th>
					<th data-options="field:'workOrderType', _provider:'workOrderTypeProvider', align:'center', resizable:'true', fixed:'false'">工单类型</th>
					<th data-options="field:'workOrderSource', _provider:'workOrderSourceProvider', align:'center', resizable:'true', fixed:'false'">工单来源</th>
					<th data-options="field:'channel', _provider:'workOrderChannelProvider', align:'center', resizable:'true', fixed:'false'">渠道</th>
					<th data-options="field:'workOrderState', _provider:'workOrderStateProvider',  align:'center', resizable:'true', fixed:'false'">状态</th>
					<th data-options="field:'applicantId',  _provider:'memberProvider',  align:'center', resizable:'true', fixed:'false'">提单人</th>
					<th data-options="field:'acceptorId', _provider:'memberProvider', align:'center', resizable:'true', fixed:'false'">受理人</th>
					<th data-options="field:'executorId', _provider:'memberProvider',  align:'center', resizable:'true', fixed:'false'">执行人</th>
					<th
						data-options="field:'submitTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						申请时间</th>
					<th
						data-options="field:'closeTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						关闭时间</th>
					 <th data-options="field:'operation',  width:'10%', align:'center', resizable:'true', fixed:'false',formatter:operationFormatterPage">操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<%if(user.id != 1){%><a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a> <a href="#"
				class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true"></a> <a href="#" class="easyui-linkbutton"
				iconCls="icon-remove" onclick="del()" plain="true"></a><%}%> <a href="#" class="easyui-linkbutton" iconCls="icon-export"
				onclick="doExport('grid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 -->
<!-- ====================================================================================================================== --> <script
	type="text/javascript">
	<#members_index/>
	<#workOrder_index />
	
	
	
	var userId = '${user.id!}';
	userId = parseInt(userId);
	
	function operationFormatterPage(value, row, index) {
		var content = '';
		if (row.$_workOrderState == 1) {
			if (row.$_applicantId == userId) {
				if( row.taskId!=null){
				   content += '<a href="javascript:void(0);" onclick="handleProcess(\'' + row.taskId + '\',\'' + row.formKey + '\',' + row.isNeedClaim + ');">请你编辑</a>';
				   content += '<a style="padding:0px 2px;" href="javascript:void(0);" onclick="del(' + index + ');">删除</a>';
				}else{
					 content += '<a style="padding:0px 2px;" href="javascript:void(0);">请双击提交申请</a>';
					 content += '<a style="padding:0px 2px;" href="javascript:void(0);" onclick="del(' + index + ');">删除</a>';
				}
			} else {
				content += '<span style="padding:0px 2px;">编辑</a>';
				content += '<span style="padding:0px 2px;">删除</a>';
			}
		} else if (row.$_workOrderState == 2) {
			if (row.$_acceptorId == userId) {
				content += '<a href="javascript:void(0);" onclick="handleProcess(\'' + row.taskId + '\',\'' + row.formKey + '\',' + row.isNeedClaim + ');">请你分配</a>';
			} else {
				content += '<span style="padding:0px 2px;">分配</a>';
			}
		} else if (row.$_workOrderState == 3) {
			if (row.$_executorId == userId) {
				content +='<a href="javascript:void(0);" onclick="handleProcess(\'' + row.taskId + '\',\'' + row.formKey + '\',' + row.isNeedClaim + ');">请你完成</a>';
			} else {
				content += '<span style="padding:0px 2px;">完成</a>';
			}
		} else if (row.$_workOrderState == 4) {
			if (row.$_applicantId == userId) {
				content += '<a href="javascript:void(0);" onclick="handleProcess(\'' + row.taskId + '\',\'' + row.formKey + '\',' + row.isNeedClaim + ');">请你关闭</a>';
			} else {
				content += '<span style="padding:0px 2px;">关闭</a>';
			}
		}else if (row.$_workOrderState ==5) {
		
				content += '<span style="padding:0px 2px;">归档</a>';
		
		}else {
			
			content += '<span style="padding:0px 2px;">其他</a>';
		
		}
		return content;
	}
	
	
    function handleProcess(taskId, formKey, isNeedClaim) {
	       $.ajax({
				type : "POST",
				url : '${contextPath!}/process/getTaskUrl',
				data : {
					taskId : taskId,
					formKey : formKey,
					isNeedClaim : isNeedClaim
				},
				processData : true,
				dataType : "json",
				async : true,
				success : function(data) {
					if (data.success) {
						//alert(data.data.taskUrl+""+ taskId+"sss"+isNeedClaim);
						window.location.href = data.data.taskUrl + '?taskId=' + taskId + '&isNeedClaim=' + false;
					} else {
						$.messager.alert('错误', data.result);
					}
				},
				error : function() {
					$.messager.alert('错误', '远程访问失败');
				}
			});
   }
    
</script> </#body>