<#body>
    <div id="main" style="width:1000px;">
    <div id="tt" class="easyui-tabs" style="width:70%;height:500px;float:left;">

    <div id="tt" class="easyui-tabs" style="width:70%;height:500px">
        <div title="待办任务" >
          <iframe scrolling="auto" frameborder="0"  src="/alm/home/taskList" style="width:100%;height:100%;"></iframe> 
        </div>
         <div title="我的项目">
          <iframe scrolling="auto" frameborder="0"  src="/alm/home/myProjectIndex" style="width:100%;height:100%;"></iframe>  
        </div>
    </div>

    <div>
	   <div id='calendar' style="width:25%;float:right;"></div>
	   <div style="width:25%;float:right;padding-top:20px">
	       待办事件
	   <hr/>
	   <ol id="scheduleList">
	   <li></li>
	   <li></li>
	   </ol>
	   </div>
	</div>
	</div>
	
	  <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="日程详情" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 200,
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
		<form id="_form" class="easyui-form" method="post" fit="true">	
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="scheduleDate" id="scheduleDate" style="width:100%" data-options="label:'编辑时间:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="scheduleText" id="scheduleText" style="width:100%" data-options="label:'编辑内容:', validType:'length[0,255]'" />
                </td>
            </tr>
        </table>
        </form>
    </div>
<script type="text/javascript">
$(function() {
	  init();
	});
	
   function init(){
	   $('#calendar').empty();
	   $("#scheduleList").empty();
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var events ;
		$('#calendar').fullCalendar({
			header: {},
			firstDay:1,
			editable: false,
			timeFormat: 'H:mm',
			axisFormat: 'H:mm',
			events:function (start,end,callback){
				//得到日期就显示样式
 			   	 var  htmlobj=$.ajax({url:"${contextPath}/workSchedule/getWorkSchedule.json",async:false});
				 var str=htmlobj.responseText;
				 var obj = $.parseJSON(str);
				 events=[];
				  $(obj).each(function(){
	                  events.push({
	                      title: "*",
	                      start: this.scheduleDateStr, // will be parsed
	                      color: '#A52A2A'
	                  });
					  });
 
                  callback(events);
			} ,dayClick: function(date, allDay, jsEvent, view) {   
				//弹出框
	            var selDate =$.fullCalendar.formatDate(date,'yyyy-MM-dd');//格式化日期   
	            $('#dlg').dialog("open");
	            $('#_form').form("load",{scheduleDate:selDate});
	        },eventMouseover:function(calEvent, jsEvent, view){
	        
	        	var selDate =$.fullCalendar.formatDate(calEvent.start,'yyyy-MM-dd');//格式化日期  
	        	listEvents(selDate);
	        }
		});

   }
		 //根据主键删除
        function del(id) {
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/workSchedule/delete",
                        data: {id:id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                init();
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
	
	//保存日程
    function saveOrUpdate(){
		
        if(!$('#_form').form("validate")){
            return;
        }
        var _formData = $("#_form").serializeObject();
        var _url = null;
        //没有id就新增
        if(_formData.id == null || _formData.id==""){
            _url = "${contextPath}/workSchedule/insert";
        }else{//有id就修改
            _url = "${contextPath}/workSchedule/update";
        }
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                    $('#dlg').dialog('close');
                    init();
                }else{
                    $.messager.alert('错误',data.result);
                }
            },
            error: function(){
                $.messager.alert('错误','远程访问失败');
            }
        });
    }

	//获取数据方法
	function listEvents(selDate){
		//得到日期就显示样式
	   	 var  htmlobj=$.ajax({url:"${contextPath}/workSchedule/getWorkSchedule.json?scheduleDate="+selDate,async:false});
		 var str=htmlobj.responseText;
		 var obj = $.parseJSON(str);
		 var htmlStr="";
		 $("#scheduleList").empty();
		  $(obj).each(function(){
            htmlStr+="<li>"+this.scheduleText +"<a href='javascript:void(0)' onclick='del("+this.id+")'>删除</a></li>";
		  });
		 $("#scheduleList").html(htmlStr);

	}
</script>
<script src='${contextPath}/resources/js/jquery-ui-1.10.2.custom.min.js'></script>
<script src='${contextPath}/resources/js/fullcalendar.min.js'></script>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/fullcalendar.css">
</#body>
