 <#body>
    <div class="easyui-layout" fit="true">
    	<div id="smDialog" style="display: none;"></div>
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="我的项目列表" style="width:100%" id="grid" fitColumns="false"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="both" rownumbers="false" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="serialNumber"
                   align="center" fit="true" striped="true" toolbar="#toolbar" idField="id" data-options="onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
						<th data-options="field:'serialNumber', align:'left'">项目编号</th>
						<th
							data-options="field:'name',formatter:formatprojectName, align:'left'">项目名称</th>
						<th 
							data-options="field:'type', _provider:'projectTypeProvider',width:80, _table:'data_dictionary_value',_valueField:'value',_textField:'code',_queryParams:{'yn':1,'dd_id':3}, align:'center'" >
							项目类型</th>
						<th
							data-options="field:'startToEndDate',width:280, align:'center'">项目开始时间至结束时间</th>

						<th
							data-options="field:'actualStartTime',width:140,align:'center'">实际开始时间</th>
						<th data-options="field:'projectState', _provider:'projectStateProvider', align:'center',">项目状态</th>
						<th data-options="field:'taskCount', align:'center'">任务数</th>
						<th data-options="field:'memberCount', align:'center'">成员数</th>
						<th data-options="field:'completedProgress', align:'center'">完成进度</th>
						<th data-options="field:'originator', _provider:'memberProvider', align:'center'" >项目发起人</th>
                        <th data-options="field:'_operate',align:'center',formatter:formatOper,width:80">操作</th>
                  	      
                    </tr>
                    
                </thead>
            </table>

            <!-- datagrid工具栏 -->
            <div id="toolbar" style="height:20px;padding:5px 5px;">
                <div style="float:right">
                边框显示:<select onchange="changeBorder('grid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>
        </div>
    </div>
    
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
    	<#home_myProjectIndex/>
    	<#members_index/>
    </script>
</#body>