
<#body>

<div class="easyui-layout" fit="true">
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="任务列表" id="grid" fitColumns="false" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" rownumbers="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
			align="center" fit="true" striped="true" toolbar="#toolbar" idField="id">
			<thead>
				<tr>
					<th data-options="field:'name', width:'15%', order:'asc',formatter:formatNameOptions, align:'center', resizable:'true', fixed:'false'">
						任务名称</th>
					<th
						data-options="field:'projectId', width:'15%',order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'projectProvider'">
						所属项目</th>
					<th
						data-options="field:'versionId', width:'10%',order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'projectVersionProvider'">
						所属版本</th>
					<th
						data-options="field:'phaseId', width:100, width:'10%', order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'projectPhaseProvider'">
						所属阶段</th>
					<th
						data-options="field:'owner', width:100,width:'9%',order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'memberProvider'">
						责任人</th>
					<th data-options="field:'planDays',width:'17%', order:'asc', align:'center', resizable:'true', fixed:'false'">计划周期</th>

					<th
						data-options="field:'status', width:'6%', order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'taskStateProvider'">
						状态</th>
					<th data-options="field:'progress',formatter:progressFormatter,order:'asc', align:'center', resizable:'true', fixed:'false'">进度</th>

					<th data-options="field:'options',width:'8%',formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

<!-- ====================================================================================================================== --> <!-- style & script 分隔线 -->
<!-- ====================================================================================================================== --> <script
	type="text/javascript">
	//表格查询
	function queryGrid() {
		var opts = $("#grid").datagrid("options");
		if (null == opts.url || "" == opts.url) {
			opts.url = "${contextPath}/task/listTaskPageTab";
		}
		if (!$('#form').form("validate")) {
			return;
		}
		var param = bindMetadata("grid", true);
		var formData = $("#form").serializeObject();
		$.extend(param, formData);
		$("#grid").datagrid("load", param);
		$('#detail_form').form('load', {
			_taskHour : formData._planTime
		});
		$('#grid').datagrid({
			view : myview,
			emptyMsg : '当前没有任务'
		});
	}

	var myview = $.extend({}, $.fn.datagrid.defaults.view, {
		onAfterRender : function(target) {
			$.fn.datagrid.defaults.view.onAfterRender.call(this, target);
			var opts = $(target).datagrid('options');
			var vc = $(target).datagrid('getPanel').children(
					'div.datagrid-view');
			vc.children('div.datagrid-empty').remove();
			if (!$(target).datagrid('getRows').length) {
				var d = $('<div class="datagrid-empty"></div>').html(
						opts.emptyMsg || 'no records').appendTo(vc);
				d.css({
					position : 'absolute',
					left : 0,
					top : 50,
					width : '100%',
					textAlign : 'center'
				});
			}
		}
	});
	//清空表单
	function clearForm() {
		$('#form').form('clear');
	}

	//表格表头右键菜单
	function headerContextMenu(e, field) {
		e.preventDefault();
		if (!cmenu) {
			createColumnMenu("grid");
		}
		cmenu.menu('show', {
			left : e.pageX,
			top : e.pageY
		});
	}

	$.messager.progress({
		title : "提示",
		msg : "加载中,请稍候...",
		value : '10',
		text : '{value}%',
		interval : 200
	});
	$.parser.onComplete = function() {
		$.messager.progress("close");
	}
	//全局按键事件
	function getKey(e) {
		e = e || window.event;
		var keycode = e.which ? e.which : e.keyCode;
		if (keycode == 46) { //如果按下删除键
			var selected = $("#grid").datagrid("getSelected");
			if (selected && selected != null) {
				del();
			}
		}
	}

	/**
	 * 绑定页面回车事件，以及初始化页面时的光标定位
	 * @formId
	 *          表单ID
	 * @elementName
	 *          光标定位在指点表单元素的name属性的值
	 * @submitFun
	 *          表单提交需执行的任务
	 */
	$(function() {
		/*             bindFormEvent("form", "name", queryGrid);
		            bindFormEvent("_form", "_name", saveOrUpdate, function (){$('#dlg').dialog('close');});
		            if (document.addEventListener) {
		                document.addEventListener("keyup",getKey,false);
		            } else if (document.attachEvent) {
		                document.attachEvent("onkeyup",getKey);
		            } else {
		                document.onkeyup = getKey;
		            } */
		queryGrid();
	})

	function formatOptions(value, row, index) {
		if (row.updateDetail) {
			var content = '<span style="padding:5px;"><a href="javascript:void(0)" onclick="openUpdateDetail('
					+ index + ')">执行任务</a></span>';
		} else {
			var content = '<span style="padding:5px;color:#8B8B7A;text-decoration:underline;">执行任务</span>';
		}
		return content;
	}

	// 打开执行任务窗口
	function openUpdateDetail(row) {
		var selected = $("#grid").datagrid('getData').rows[row];
		window.parent.openUpdateDetail(selected);
	}

	//进度条处理
	function progressFormatter(value, rowData, rowIndex) {
		var progress = rowData.progress;
		if (rowData.progress > 100) {
			progress = 100;
		}
		var htmlstr = '<div style="width: 100px; height:20px;border: 1px solid #299a58;"><div style="width:' + progress + 'px; height:20px; background-color: #299a58;"><span>'
				+ rowData.progress + '%</span></div></div>';
		return htmlstr;
	}
	function formatNameOptions(value, row, index) {
		var content = '<span style="padding:5px;"><a href="javascript:void(0)" onclick="openDetail('
				+ index + ')">' + row.name + '</a></span>';
		return content;
	}

	// 显示详情页面
	function openDetail(row) {
		var selected = $("#grid").datagrid('getData').rows[row];
		window.parent.openDetail(selected);
	}

	function reloadGrid() {
		$("#grid").datagrid("reload");
	}

	function startTask() {
		window.parent.startTask();
	}
</script> </#body>