<style>
	#versionForm .textbox-label{width: 110px}
</style>
<form id="versionForm" action="${contextPath!}/project/version/insert" class="easyui-form" method="post" fit="true">
	<input name="id" id="id" type="hidden" value="${model.id!}">
	<input type="hidden" name="projectId" value="${project.id!}">
	<table width="100%">
		<tr>
			<td style="width:50%;padding: 5px;">
				<span class="require">*</span>
				<input class="easyui-textbox" style="width: calc(50% - 50px);" value="${project.name!}" panelWidth="auto" panelHeight="auto" label="项目名称:" readonly="readonly" />
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<span class="require">*</span>
				<input class="easyui-textbox" name="version" id="version" value="${model.version!}" style="width: calc(50% - 50px);" data-options="label:'版本名称:',required:true, validType:'length[0,40]'" />
			</td>
			<td style="padding: 5px;">
				<span class="require">*</span>
				<input class="easyui-datebox" name="plannedOnlineDate" id="plannedOnlineDate" value="${model.plannedOnlineDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" style="width: calc(50% - 50px);" data-options="label:'计划上线日期:',editable:false" required="true" />
			</td>
		</tr>
		<tr>

			<td style="padding: 5px;">
				<span class="require">*</span>
				<input class="easyui-datebox" name="plannedStartDate" id="plannedStartDate" value="${model.plannedStartDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" style="width: calc(50% - 50px);" data-options="label:'计划开始日期:',editable:false" required="true" />
			</td>
			<td style="padding: 5px;">
				<em></em>
				<input class="easyui-textbox" name="host" id="host" value="${model.host!}" style="width: calc(50% - 50px);" data-options="label:'IP地址:', validType:'length[0,120]'" />
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<span class="require">*</span>
				<input class="easyui-datebox" name="plannedEndDate" id="plannedEndDate" value="${model.plannedEndDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" style="width: calc(50% - 50px);" data-options="label:'计划结束日期:',editable:false" required="true" />
			</td>
			<td style="padding: 5px;">
				<em></em>
				<input class="easyui-numberbox" name="port" id="port" value="${model.port!}" style="width: calc(50% - 50px);" data-options="label:'端口:'" />
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;">
				<em></em>
				<input class="easyui-textbox" name="git" value="${model.git!}" id="git" style="width: calc(50% - 50px);" data-options="label:'git地址:', validType:'length[0,255]'" />
			</td>
			<td style="padding: 5px;">
				<em></em>
				<input class="easyui-textbox" name="redmineUrl" value="${model.redmineUrl!}" id="redmineUrl" style="width: calc(50% - 50px);" data-options="label:'redmine文档地址:', validType:'length[0,255]'" />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 5px;">
				<em></em>
				<input class="easyui-textbox" name="visitUrl" id="visitUrl" value="${model.visitUrl!}" style="width: calc(100% - 57px);" data-options="label:'访问地址:', validType:'length[0,120]'" />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 5px;">
				<em></em>
				<input class="easyui-textbox" name="notes" id="notes" value="${model.notes!}" style="width: calc(100% - 57px);" data-options="label:'版本描述:', validType:'length[0,255]',multiline:true,required:true" />
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 5px;">
				<label style="float:left;margin-left: 11px;">文档：</label>
				<div id="fileuploader" style="margin-left: 120px;padding: 5px"></div>
				<table class="easyui-datagrid" title="版本文档列表" id="versionFileGrid" style="width: 100%"
					   fitColumns="true" pagination="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="false" striped="true" idField="id" data-options="<%if(has(model) && model.id != null){%>url:'${contextPath!}/project/version/file/list?versionId=${model.id!}'<%}%>">
					<thead>
					<tr>
						<th data-options="field:'name', width:'20%', align:'center', resizable:'true', fixed:'false'">文件名</th>
						<th data-options="field:'length', width:'20%', align:'center', resizable:'true', fixed:'false'">大小</th>
						<th data-options="field:'created', width:'50%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">上传日期</th>
						<th data-options="field:'opt', width:'10%', align:'center', resizable:'true', fixed:'false',formatter:versionFileOptFormatter">操作</th>
					</tr>
					</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 5px;">
				<div id="tb1" style="height:auto">
		                <a class="easyui-linkbutton"
		                   data-options="iconCls:'icon-add',plain:true" onclick='saveDemandToProject()'>添加</a>
		     	</div>	
				<table class="easyui-datagrid" title="需求列表" id="demandGrid" style="width: 100%"
					   fitColumns="true" pagination="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="false" striped="true" idField="id" data-options="toolbar: '#tb1',<%if(has(model) && model.id != null){%>url:'${contextPath!}/demandProject/list?versionId=${model.id!}'<%}%>">
					<thead>
					<tr>
						<th data-options="field:'demNum', width:'20%', align:'center', resizable:'true', fixed:'false'">需求编号</th>
						<th data-options="field:'demName', width:'20%', align:'center', resizable:'true', fixed:'false'">需求名称</th>
						<th data-options="field:'finishDate', width:'50%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">需求期待时间日期</th>
						<th data-options="field:'opt', width:'10%', align:'center', resizable:'true', fixed:'false',formatter:demandOptFormatter">操作</th>
					</tr>
					</thead>
				</table>
			</td>
		</tr>
	</table>
</form>

<script type="text/javascript">
    <#project_formJs />
</script>