
<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="projectId" id="projectId" style="width: 100%"
							data-options="label:'项目名称:'" /> <#comboProvider _id="projectId" _table="project" _valueField="id" _textField="name" /></td>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="applicantId" id="applicantId" style="width: 100%"
							data-options="label:'申请人id:', validType:'length[0,19]'" /></td>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="rootDepartemntId" id="rootDepartemntId" style="width: 100%"
							data-options="label:'所属中心id，根部门id:', validType:'length[0,19]'" /></td>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="departmentId" id="departmentId" style="width: 100%"
							data-options="label:'申请部门id:', validType:'length[0,19]'" /></td>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="applyState" id="applyState" style="width: 100%"
							data-options="label:'申请状态:', validType:'length[0,10]'" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a
							href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="TravelCostApply列表" id="grid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="projectId"
			align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
			data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',formatter:serialNumberFormatter">编号</th>
					<th data-options="field:'projectId',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">项目</th>
					<th data-options="field:'applyState',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请状态</th>
					<th
						data-options="field:'totalAmount',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',formatter:function(index,row,value){return value/100;}">差旅成本</th>
					<th data-options="field:'travelDayAmount',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">出差天数</th>
					<th data-options="field:'applicantId',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请人</th>
					<th data-options="field:'submitDate', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请日期</th>
					<th data-options="field:'opt',align:'center',formatter:optFormatter">操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a> <a href="#" class="easyui-linkbutton"
				iconCls="icon-edit" onclick="openUpdate()" plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()"
				plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('grid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="TravelCostApply信息"
	style="padding: 20px" modal="true" border="thin" closed="true" data-options=""></div>

<div id="areaDlg" style="padding: 20px; display: none;"></div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 -->
<!-- ====================================================================================================================== --> <script
	type="text/javascript">
	var dataAuth = {
		reviewTravelCostApply : <%if(hasResource('reviewTravelCostApply')){%>true<%}else{%>false<%}%>
	};
	<#travelCostApply_index />
</script> </#body>