
<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="width:950px;padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="projectId" id="projectId" style="width: 100%"
							data-options="label:'项目:'" /> <#comboProvider _id="projectId" _table="project" _valueField="id" _textField="name" /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="applicantId" id="applicantId" style="width: 100%"
							data-options="label:'申请人:', editable:false,
									buttonText:'选择',
									onClickButton:selectMember,onChange:_changeTextboxShowClear" /></td>
						<td style="padding: 5px;">
							<select class="easyui-combobox" name="applyState" id="applyState" style="width: 100%"
							data-options="label:'状态:',editable:false">
								<option value=""></option> <%for(item in states){%>
								<option value="${item.value!}">${item.name!}</option> <%}%>
							</select>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-datebox" name="submitStartDate" id="submitStartDate" style="width: 100%;" panelWidth="auto"
							panelHeight="auto" label="申请日期:" data-options="editable:false" /></td>
						<td><input class="easyui-datebox" labelWidth="20" name="submitEndDate" id="submitEndDate" style="width: 170px;" panelWidth="auto"
							panelHeight="auto" label="至" data-options="editable:false" /></td>
					</tr>
					<tr>
						<td>
							<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a
							href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="TravelCostApply列表" id="grid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="projectId"
			align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
			data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',width:'5%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',formatter:serialNumberFormatter">编号</th>
					<th data-options="field:'projectId', width:'25%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">项目</th>
					<th data-options="field:'applyState',width:'10%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请状态</th>
					<th
						data-options="field:'totalAmount', width:'10%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',formatter:function(value,row,index){return value/100;}">差旅成本</th>
					<th data-options="field:'travelDayAmount', width:'10%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">出差天数</th>
					<th data-options="field:'applicantId', width:'10%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请人</th>
					<th data-options="field:'submitDate',width:'20%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">申请日期</th>
					<th data-options="field:'opt',width:'10%',align:'center',formatter:optFormatter">操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a> <a href="#" class="easyui-linkbutton"
				iconCls="icon-edit" onclick="openUpdate()" plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()"
				plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('grid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="差旅信息"
	style="padding: 10px" modal="true" border="thin" closed="true" data-options=""></div>

<div id="areaDlg" style="padding: 20px; display: none;"></div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 -->
<!-- ====================================================================================================================== --> <script
	type="text/javascript">
	var dataAuth = {
		reviewTravelCostApply : <%if(hasResource('reviewTravelCostApply')){%>true<%}else{%>false<%}%>
	};
	<#members_index/>
	<#travelCostApply_index />
</script> </#body>