<form id="_form" class="easyui-form" method="post" fit="true">
	<input name="_id" id="_id" type="hidden" value="${apply.id!}"> <input type="hidden" id="applyType" name="applyType"
		value="${apply.applyType!}">
	<table width="700px">
		<tr>
			<td style="padding: 5px;"><select class="easyui-combobox" name="projectId" id="projectId" style="width: 300px"
				data-options="label:'项目:',onChange:checkSelect" required="true"> <%for(item in projects){%>
					<option value="${item.id!}"<%if(apply.projectId == item.id)%>selected="selected"<%%>>${item.name!}</option> <%}%>
					<option value="-1"<%if(apply.applyType == 2){%>selected="selected"<%}%> >自定义</option>
			</select></td>
			<td style="padding: 5px;"><input class="easyui-textbox" style="width: 300px" id="customNote" name="customNote"
				value="${apply.projectGridName!}" data-options="label:'自定义:',required:true<%if(apply.applyType == 1){%>,disabled:true<%}%>" /></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><input class="easyui-combobox" style="width: 300px" id="applicantId1" name="applicantId"
				data-options="label:'申请人:',
				required:true,
				url:'${contextPath!}/travelCostApply/users.json',
				textField:'realName',
				valueField:'id',
				onSelect:updateDepartment" /></td>
			<td style="padding: 5px;"><input class="easyui-textbox" id="department" style="width: 300px"
				data-options="label:'申请部门:',readonly:true,required:true,onChange:updateCenter" /></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><input class="easyui-textbox" id="center" style="width: 300px"
				data-options="label:'所属中心:',readonly:true,required:true" /></td>
		</tr>
	</table>
	<table class="easyui-datagrid" title="差旅成本明细列表" style="height: 300px" id="travelCostGrid" fitColumns="true" rownumbers="true"
		remoteSort="false" loadMsg="数据加载中..." singleSelect="true" align="center" fit="false" striped="true" toolbar="#travelCostGridToolbar"
		idField="id" data-options="onBeginEdit:onCostItemGridBeginEdit,onDblClickRow:editCostItem,onEndEdit:onTravelCostGridEndEdit">
		<thead>
			<tr>
				<th
					data-options="field:'travelDayAmount',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
								editor : {
									type : 'numberbox',
									options : {
										required : true,
										missingMessage : '请输入天数'
									}
								}">出差天数</th>
				<th
					data-options="field:'setOutPlace', width:95,  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
								editor : {
									type : 'textbox',
									options : {
										required : true,
										missingMessage : '请填写出发地',
									}
								}">出发地</th>
				<th
					data-options="field:'destinationPlace', width:95,  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
								editor : {
									type : 'textbox',
									options : {
										required : true,
										missingMessage : '请填写出发地',
									}
								}">到达地</th>
				<%for(item in costItems){%>
				<th
					data-options="field:'${item.key!}',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
								editor : {
									type : 'numberbox',
									options : {
										precision:2,
										missingMessage : '请输入金额'
									}
								}">${item.value!}</th>
				<%}%>
				<th data-options="field:'totalAmount',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">合计</th>
				<th data-options="field:'op', hidden:true, width:100, formatter:opFormatter, align:'center', resizable:'true', fixed:'false'">操作</th>
			</tr>
		</thead>
		<tbody>
			<%for(cost in apply.travelCost){%>
			<tr>
				<td>${cost.travelDayAmount!}</td>
				<td>${cost.setOutPlace!}</td>
				<td>${cost.destinationPlace!}</td> <%for(item in costItems){%> <%for(detail in cost.travelCostDetail){%> <%if(item.key ==
				detail.costName){%>
				<td>${detail.costAmount!/100}</td> <%}%> <%}%> <%}%>
				<td>${cost.totalAmount!/100}</td>
			</tr>
			<%}%>

		</tbody>
	</table>
	<div style="padding-top: 10px; text-align: right">
		<input class="easyui-numberbox" type="text" id="totalAmount" name="totalAmount" value="${apply.totalAmount!/100}"
			data-options="
				label:'总计：',
				required:true,
				precision:2,
				width:200,
				missingMessage : '请输入金额'"> 元
	</div>

</form>
<div id="travelCostGridToolbar" style="padding: 2px 5px;">
	<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="addCostItem()" plain="true"></a> <a href="#" class="easyui-linkbutton"
		iconCls="icon-remove" onclick="removeCostItem()" plain="true"></a>
</div>
<script type="text/javascript">
	$(function() {
		var userId = '${apply.applicantId!}';
		$('#applicantId1').combobox('select', userId);
	})
</script>