<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:projectOnlineApply<br/>
    类名:ProjectOnlineApply<br/>
    表名:project_online_apply<br/>
    表注释:<br/>
    实体对象名:ProjectOnlineApply<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:project_name,
        javaProperty:String:projectName,
        defaultValue:String:,
        remarks:String:项目名称,
        length:int:255,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:project_id,
        javaProperty:String:projectId,
        defaultValue:String:,
        remarks:String:项目id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:project_serial_number,
        javaProperty:String:projectSerialNumber,
        defaultValue:String:,
        remarks:String:项目编号,
        length:int:255,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:version_id,
        javaProperty:String:versionId,
        defaultValue:String:,
        remarks:String:项目版本id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:version,
        javaProperty:String:version,
        defaultValue:String:,
        remarks:String:版本名称,
        length:int:255,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:project_manager_id,
        javaProperty:String:projectManagerId,
        defaultValue:String:,
        remarks:String:项目经理id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:product_manager_id,
        javaProperty:String:productManagerId,
        defaultValue:String:,
        remarks:String:产品经理id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:test_manager_id,
        javaProperty:String:testManagerId,
        defaultValue:String:,
        remarks:String:测试经理id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:development_manager_id,
        javaProperty:String:developmentManagerId,
        defaultValue:String:,
        remarks:String:研发经理id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:online_date,
        javaProperty:String:onlineDate,
        defaultValue:String:,
        remarks:String:申请上线日期,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:dependency_description,
        javaProperty:String:dependencyDescription,
        defaultValue:String:,
        remarks:String:上线子系统及依赖关系描述,
        length:int:500,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:scope_description,
        javaProperty:String:scopeDescription,
        defaultValue:String:,
        remarks:String:上线影响范围描述,
        length:int:500,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:applicant_id,
        javaProperty:String:applicantId,
        defaultValue:String:,
        remarks:String:申请人id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:created,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:apply_state,
        javaProperty:String:applyState,
        defaultValue:String:,
        remarks:String:状态,
        length:int:10,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:actual_online_date,
        javaProperty:String:actualOnlineDate,
        defaultValue:String:,
        remarks:String:实际上线日期,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
</body>
</html>