<#body>
<div class="easyui-panel" title="New Topic" style="width:100%;max-width:400px;padding:30px 60px;">
    <form id="ff" method="post" action="">
        <div style="margin-bottom:20px">
            <input name="type" id="_projectType" style="width:100%;" data-options="editable:false"
                   panelWidth="auto" panelHeight="auto" label="项目类型:" required="true"/>
            <#comboProvider _id="_projectType" _provider='projectTypeProvider'/>
        </div>
        <div style="margin-bottom:20px">
            <label class="textbox-label textbox-label-before">项目级别:</label>
            <select id="cc" class="easyui-combobox" name="level" style="width: 150px;" data-options="editable:false"
                    required="true">
                <option value="">请选择</option>
                <option value="1">一级项目</option>
                <option value="2">二级项目</option>
            </select>
        </div>
        <div style="margin-bottom:20px;display: block;" id="child_div">
            <input name="child" id="child" style="width:100%;" data-options="editable:false"
                   panelWidth="auto" panelHeight="auto"/>
        </div>
    </form>
    <div style="text-align:center;padding:5px 0">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">下一步</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">返回</a>
    </div>
</div>
<script>
    $('#child').combobox({
        url: '${contextPath}/projectApply/getProjectList',
        valueField: 'value',
        textField: 'text'
    });

    function submitForm() {
        $('#ff').form('submit', {
            url: "${contextPath}/projectApply/insert",
            onSubmit: function () {
                // do some check
                // return false to prevent submit;
            },
            success: function (data) {
                var data = eval('(' + data + ')');
                if(data.success==true){
                    window.location.href="${contextPath}/projectApply/toStep/1/" + data.result;
                }
            }
        });
    }


    $('#cc').combobox({
        onChange: function (newValue, oldValue) {
            if (newValue == 2) {
                $("#child_div").show();
            }
        }
    });
</script>
</#body>