<#body>
<div class="easyui-panel" title="立项申请">
    <div style="padding:10px 60px 20px 60px">
        <form id="ff" method="post" action="">
            <table cellpadding="5" width="100%">
            	<tr>
                    <td>
                        <input name="type" class="easyui-combobox" id="_projectType" style="width:300px" data-options="editable:false" panelWidth="auto" panelHeight="auto" label="项目类型:" required="true" />
                        <#comboProvider _id="_projectType" _provider='projectTypeProvider' _queryParams='{emptyText:""}'/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!--<label class="textbox-label textbox-label-before">项目级别:</label>-->
                        <select id="cc" class="easyui-combobox" name="level" style="width: 300px;" label="项目级别:"  data-options="editable:false" required="true">
                            <option value="1">一级项目</option>
                            <option value="2">二级项目</option>
                        </select>
                    </td>
                </tr>
                <tr id="child_div">
                    <td>
                        <input class="easyui-combobox"  name="pid" id="child" style="width:300px;" label="父项目:" validType="checked" data-options="editable:false" panelWidth="auto" panelHeight="auto" required="true" />
                    </td>
                </tr>
                <tr>
						<td colspan="6"  style="padding: 5px;" >
							<div id="tb1" style="height:auto">
					                <a class="easyui-linkbutton"
					                   data-options="iconCls:'icon-add',plain:true" onclick='saveDemandToProject()'>添加</a>
					     	</div>	
							<table class="easyui-datagrid" title="需求列表" id="demandGrid" style="width: 100%"
								   fitColumns="true" pagination="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="false" striped="true" idField="id" data-options="toolbar: '#tb1'">
								<thead>
								<tr>
									<th data-options="field:'id',hidden:'true'">
									<th data-options="field:'serialNumber', width:'20%', align:'center', resizable:'true', fixed:'false'">需求编号</th>
									<th data-options="field:'name', width:'20%', align:'center', resizable:'true', fixed:'false'">需求名称</th>
									<th data-options="field:'finishDate', width:'40%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">需求期待时间日期</th>
									<th data-options="field:'opt', width:'10%', align:'center', resizable:'true', fixed:'false',formatter:demandOptFormatter">操作</th>
								</tr>
								</thead>
							</table>
						</td>
				</tr>
            </table>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm(this)" style="width:80px">下一步</a>
            <a href="${contextPath}/projectApply/index.html" class="easyui-linkbutton" style="width:80px">取消</a>
        </div>
    </div>
</div>
<div id="demandListDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false"
         title="需求添加列表" style="padding: 20px; height: 400px; width: 600px"align-content
         border="thin" closed="true" data-options="
         			modal:true,
                  	inline:true, 
					buttons: [{
						text:'确定',
						handler:function(){addDemandList();}
						},{
						text:'取消',
						handler:function(){$('#demandListDlg').dialog('close');}
					}]
					
				">
        <table class="easyui-datagrid" id="demandListGrid" rownumbers="false" remoteSort="false" loadMsg="数据加载中..."
               singleSelect="false" method="post" multiSort="true"  data-options="url:'${contextPath}/demand/queryDemandListToProject.action'">
               <thead>
		            <tr>
		            	<th data-options="field:'id', checkbox:true ">需求ID</th>
		                <th data-options="field:'serialNumber', width:'30%', align:'center', resizable:'true', fixed:'false'">需求编号</th>
						<th data-options="field:'name', width:'30%', align:'center', resizable:'true', fixed:'false'">需求名称</th>
						<th data-options="field:'finishDate', width:'30%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">需求期待时间日期</th>
						
		            </tr>
	            </thead>
        </table>
</div>
<script>
    $('#child').combobox({
        url: '${contextPath}/projectApply/getProjectList?queryAll=false&dataAuth=true',
        valueField: 'value',
        textField: 'text'
    }).combobox('disable');

    $('#cc').combobox({
        onChange: function(newValue) {
            if (newValue == 2) {
                $('#child').combobox('enable');
            } else {
                $('#child').combobox('disable').combobox('reset');
            }
        }
    });


    function submitForm(obj) {
    	if($($("input[name$='demandIds']")[0]).val()==null||$($("input[name$='demandIds']")[0]).val()==""){
    		$.messager.alert('警告', '请选择至少一个需求');
    	}else{
    		 $('#ff').form('submit', {
    	            url: "${contextPath}/projectApply/insert",
    	            onSubmit: function() {
    	                if ($("#ff").form('validate')) {
    	                    $(obj).linkbutton('disable');
    	                }
    	                return $("#ff").form('validate');
    	            },
    	            success: function(data) {
    	                var data = eval('(' + data + ')');
    	                if (data.success == true) {
    	                    try {
    	                        LogUtils.saveLog(LOG_MODULE_OPS.ADD_PROJECT_APPLY,"新增立项申请:" + data.data + ":成功", function() {
    	                            window.location.href = "${contextPath}/projectApply/toStep/1/" + data.result;
    	                        });
    	                    } catch (e) {
    	                        window.location.href = "${contextPath}/projectApply/toStep/1/" + data.result;
    	                    }
    	                }
    	            }
    	        });
    	}
       
    }

    $.extend($.fn.validatebox.defaults.rules, {
        checked: {
            validator: function(value) {
                return value != '请选择';
            },
            message: '请选择'
        }
    });
    function demandOptFormatter(value, row, index) {
		return '<a href="javascript:void(0);" onclick="delDemand(' + row.id
				+ ');">删除</a>';
	}
	function saveDemandToProject() {
		$( "input[name$='demandIds']" ).each(function(i){	
			var id = $(this).val();
			var rows = $('#demandListGrid').datagrid('getRows');
			$('#demandListGrid').datagrid('uncheckAll'); 
			for(var g=0;g<rows.length;g++){
				if(rows[g].id==id){
					$('#demandListGrid').datagrid('deleteRow', g); 
				}
			}							
		});
		
		$('#demandListDlg').dialog('open');

	}
	function addDemandList(){
		$('#demandListDlg').dialog('close');
		var selRows = $('#demandListGrid').datagrid('getChecked');
		for(var i=0;i<selRows.length;i++){
            $('#ff').append('<input  type="hidden" id="demandId'+ selRows[i].id + '" name="demandIds" value="' + selRows[i].id + '">');
            $('#demandGrid').datagrid('appendRow', selRows[i]); 
		}	
	}
	function delDemand(id){
		 var rows = $('#demandGrid').datagrid('getRows');
		 for(var i=0;i<rows.length;i++){
			 if(rows[i].id==id){
				 $('#demandListGrid').datagrid('appendRow', rows[i]); 
				 $('#demandGrid').datagrid('deleteRow', i); 
				 $("#demandId" + id + "").remove();
			 }	 
		 }
		
	}
</script>
</#body>