<#body>
<div class="easyui-panel" title="立项申请">
    <div style="padding:10px 60px 20px 60px">
        <form id="ff" method="post" action="">
            <table cellpadding="5" width="100%">
                <tr>
                    <td>
                        <input name="type" class="easyui-combobox" id="_projectType" style="width:300px" data-options="editable:false" panelWidth="auto" panelHeight="auto" label="项目类型:" required="true" />
                        <#comboProvider _id="_projectType" _provider='projectTypeProvider' />
                    </td>
                </tr>
                <tr>
                    <td>
                        <!--<label class="textbox-label textbox-label-before">项目级别:</label>-->
                        <select id="cc" class="easyui-combobox" name="level" style="width: 300px;" label="项目级别:"  data-options="editable:false" required="true">
                            <option value="1">一级项目</option>
                            <option value="2">二级项目</option>
                        </select>
                    </td>
                </tr>
                <tr id="child_div">
                    <td>
                        <input class="easyui-combobox"  name="pid" id="child" style="width:300px;" label="父项目:" validType="checked" data-options="editable:false" panelWidth="auto" panelHeight="auto" required="true" />
                    </td>
                </tr>
            </table>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">下一步</a>
            <a href="${contextPath}/projectApply/index.html" class="easyui-linkbutton" style="width:80px">返回</a>
        </div>
    </div>
</div>
<script>
    $('#child').combobox({
        url: '${contextPath}/projectApply/getProjectList',
        valueField: 'value',
        textField: 'text'
    }).combobox('disable');

    $('#cc').combobox({
        onChange: function(newValue) {
            if (newValue == 2) {
                $('#child').combobox('enable');
            } else {
                $('#child').combobox('disable').combobox('reset');
            }
        }
    });


    function submitForm() {
        $('#ff').form('submit', {
            url: "${contextPath}/projectApply/insert",
            onSubmit: function() {
                return $("#ff").form('validate');
            },
            success: function(data) {
                var data = eval('(' + data + ')');
                if (data.success == true) {
                    try {
                        LogUtils.saveLog("新增立项申请:" + data.result, function() {
                            window.location.href = "${contextPath}/projectApply/toStep/1/" + data.result;
                        });
                    } catch (e) {
                        window.location.href = "${contextPath}/projectApply/toStep/1/" + data.result;
                    }
                }
            }
        });
    }

    $.extend($.fn.validatebox.defaults.rules, {
        checked: {
            validator: function(value) {
                return value != '请选择';
            },
            message: '请选择'
        }
    });
</script>
</#body>