<#body>
<style>
.title-first, .title-second {
	margin-top: 20px;
	background: #f7f7f7;
}

.title-first {
	padding-left: 0;
}

.title-second {
	padding-left: 30px;
}

.cus-table, .cus-table tr th, .cus-table tr td {
	border-color: #f5f5f5;
}

em {
	display: inline-block;
	width: 11px;
}
</style>
<div class="easyui-panel" title="立项申请（第五步）">
	<div style="padding: 10px 60px 20px 60px">
		<form id="ff" method="post">
			<input type="hidden" name="applyId" value="${apply.id!}">
			<table cellpadding="5" width="100%">
				<tr>
					<td>项目编号</td>
					<td>${apply.number}</td>
					<td>项目类别</td>
					<td>${apply.type}</td>
				</tr>
				<tr>
					<td class="title-first" colspan="4">5.项目ROI分析</td>
				</tr>
			</table>
			<table class="cus-table" border="1" cellpadding="0" cellspacing="0"
				style="width: 100%; margin-top: 20px; line-height: 32px; collapse: collapse;" cellspacing="0">
				<tr style="background-color: #f5f5f5;">
					<th rowspan="10" style="width: 12%; text-align: center">项目收益</th>
					<th style="width: 16%; text-align: center">业务类</th>
					<th style="width: 24%; text-align: center">指标一</th>
					<th style="width: 24%; text-align: center">指标二</th>
					<th style="width: 24%; text-align: center">指标三</th>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">指标名称</td>
					<td><input class="easyui-textbox" name="indicatorName[0]" value="${roi.businessIndicators[0].indicatorName!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[0]" value="1"></td>
					<td><input class="easyui-textbox" name="indicatorName[1]" value="${roi.businessIndicators[1].indicatorName!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[1]" value="1"></td>
					<td><input class="easyui-textbox" name="indicatorName[2]" value="${roi.businessIndicators[2].indicatorName!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[2]" value="1"></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">指标现状</td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[0]" value="${roi.businessIndicators[0].indicatorCurrentStatus!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[1]" value="${roi.businessIndicators[1].indicatorCurrentStatus!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[2]" value="${roi.businessIndicators[2].indicatorCurrentStatus!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">项目目标</td>
					<td><input class="easyui-textbox" name="projectObjective[0]" value="${roi.businessIndicators[0].projectObjective!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="projectObjective[1]" value="${roi.businessIndicators[1].projectObjective!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="projectObjective[2]" value="${roi.businessIndicators[2].projectObjective!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">实现日期</td>
					<td><input class="easyui-datebox" name="implemetionDate[0]" value="${roi.businessIndicators[0].implemetionDate!}"
						data-options="editable:false,required:false" style="width: 100%" /></td>
					<td><input class="easyui-datebox" name="implemetionDate[1]" value="${roi.businessIndicators[1].implemetionDate!}"
						data-options="editable:false,required:false" style="width: 100%" /></td>
					<td><input class="easyui-datebox" name="implemetionDate[2]" value="${roi.businessIndicators[2].implemetionDate!}"
						data-options="editable:false,required:false" style="width: 100%" /></td>
				</tr>

				<tr style="background-color: #f5f5f5;">
					<th style="text-align: center">效率以及性能类</th>
					<th style="text-align: center">指标一</th>
					<th style="text-align: center">指标二</th>
					<th style="text-align: center">指标三</th>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">指标名称</td>
					<td><input class="easyui-textbox" name="indicatorName[3]" value="${roi.efficiencyAndPerformanceIndicators[0].indicatorName!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[3]" value="2"></td>
					<td><input class="easyui-textbox" name="indicatorName[4]" value="${roi.efficiencyAndPerformanceIndicators[1].indicatorName!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[4]" value="2"></td>
					<td><input class="easyui-textbox" name="indicatorName[5]" value="${roi.efficiencyAndPerformanceIndicators[2].indicatorName!}"
						style="width: 100%" data-options="multiline:true,validType:['length[0,50]']" /><input type="hidden" name="indicatorType[5]" value="2"></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">指标现状</td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[3]"
						value="${roi.efficiencyAndPerformanceIndicators[0].indicatorCurrentStatus!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[4]"
						value="${roi.efficiencyAndPerformanceIndicators[1].indicatorCurrentStatus!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="indicatorCurrentStatus[5]"
						value="${roi.efficiencyAndPerformanceIndicators[2].indicatorCurrentStatus!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">项目目标</td>
					<td><input class="easyui-textbox" name="projectObjective[3]"
						value="${roi.efficiencyAndPerformanceIndicators[0].projectObjective!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="projectObjective[4]"
						value="${roi.efficiencyAndPerformanceIndicators[1].projectObjective!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
					<td><input class="easyui-textbox" name="projectObjective[5]"
						value="${roi.efficiencyAndPerformanceIndicators[2].projectObjective!}" style="width: 100%"
						data-options="multiline:true,validType:['length[0,50]']" /></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">实现日期</td>
					<td><input class="easyui-datebox" name="implemetionDate[3]"
						value="${roi.efficiencyAndPerformanceIndicators[0].implemetionDate!}" data-options="editable:false,required:false"
						style="width: 100%" /></td>
					<td><input class="easyui-datebox" name="implemetionDate[4]"
						value="${roi.efficiencyAndPerformanceIndicators[1].implemetionDate!}" data-options="editable:false,required:false"
						style="width: 100%" /></td>
					<td><input class="easyui-datebox" name="implemetionDate[5]"
						value="${roi.efficiencyAndPerformanceIndicators[2].implemetionDate!}" data-options="editable:false,required:false"
						style="width: 100%" /></td>
				</tr>
			</table>
			<table class="cus-table" border="1" cellpadding="0" cellspacing="0"
				style="width: 100%; margin-top: -2px; line-height: 32px; collapse: collapse;" cellspacing="0">
				<tr style="background-color: #f5f5f5;">
					<th rowspan="8" style="width: 12%; text-align: center">项目成本</th>
					<th colspan="2" style="width: 16%; text-align: center">名称</th>
					<th style="width: 18%; text-align: center">数量</th>
					<th style="width: 18%; text-align: center">费率</th>
					<th style="width: 18%; text-align: center">合计（人民币）</th>
					<th style="width: 18%; text-align: center">备注</th>
				</tr>
				<tr>
					<td colspan="2" style="background-color: #f5f5f5; text-align: center">人天成本<input type="hidden" name="costType[0]" value="1"></td>
					<td><input class="easyui-numberbox cal1" type="text" name="amount[0]" value="${roi.humanCost.amount!}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal1" type="text" name="rate[0]" value="${roi.humanCost.rate!'1000'}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" readonly id="cal1" type="text" name="total[0]" value="${roi.humanCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[0]" value="${roi.humanCost.note!}"
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" /></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color: #f5f5f5; text-align: center">软件成本<input type="hidden" name="costType[1]" value="2"></td>
					<td><input class="easyui-numberbox" type="text" name="amount[1]" value="${roi.softwareCost.amount!}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" type="text" value="${roi.softwareCost.rate!'/'}" name="rate[1]" data-options=""
						style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" type="text" name="total[1]" value="${roi.softwareCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[1]" value="${roi.softwareCost.note!}" id=""
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" /></td>
				</tr>
				<tr>
					<td rowspan="2" style="background-color: #f5f5f5; text-align: center">硬件成本</td>
					<td style="background-color: #f5f5f5; text-align: center">实体机<input type="hidden" name="costType[2]" value="3"></td>
					<td><input class="easyui-numberbox" type="text" name="amount[2]" value="${roi.hardwarePhysicalMachineCost.amount!}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" type="text"
						value="${roi.hardwarePhysicalMachineCost.rate!'实体机 50000元/台VM 1H1G:1200元/年，2H2G：2400元/年，2H4G:4800元/年，4H4G:9600元/年；'}" name="rate[2]"
						data-options="" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" type="text" name="total[2]" value="${roi.hardwarePhysicalMachineCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[2]" value="${roi.hardwarePhysicalMachineCost.note!}"
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" style="width: 100%" /></td>
				</tr>
				<tr>
					<td style="background-color: #f5f5f5; text-align: center">VM<input type="hidden" name="costType[3]" value="4"></td>
					<td><input class="easyui-numberbox" type="text" name="amount[3]" value="${roi.hardwareVirtualMachineCost.amount!}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox"
						value="${roi.hardwareVirtualMachineCost.rate!'实体机 50000元/台VM 1H1G:1200元/年，2H2G：2400元/年，2H4G:4800元/年，4H4G:9600元/年；'}" type="text"
						name="rate[3]" data-options="" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" type="text" name="total[3]" value="${roi.hardwareVirtualMachineCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[3]" value="${roi.hardwareVirtualMachineCost.note!}"
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" /></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color: #f5f5f5; text-align: center">差旅会议成本<input type="hidden" name="costType[4]" value="5"></td>
					<td><input class="easyui-numberbox" type="text" name="amount[4]" value="${roi.travelConferenceCost.amount!}"
						data-options="min:0,max:999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" value="${roi.travelConferenceCost.rate!'机票：4000元/人，补助：600元/人/天；'}" type="text" name="rate[4]"
						data-options="" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" type="text" name="total[4]" value="${roi.travelConferenceCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[4]" value="${roi.travelConferenceCost.note!}"
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" /></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color: #f5f5f5; text-align: center">其他成本<input type="hidden" name="costType[5]" value="6"></td>
					<td><input class="easyui-numberbox" type="text" name="amount[5]" value="${roi.otherCost.amount!}" data-options="min:0,max:999999"
						style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" value="/" type="text" name="rate[5]" value="${roi.otherCost.rate!}" data-options=""
						style="width: 100%; height: 100%"></td>
					<td><input class="easyui-numberbox cal" type="text" name="total[5]" value="${roi.otherCost.total!}"
						data-options="min:0,max:99999999" style="width: 100%; height: 100%"></td>
					<td><input class="easyui-textbox" name="note[5]" value="${roi.otherCost.note!}"
						data-options="multiline:true,validType:['length[0,50]']" style="width: 100%" /></td>
				</tr>
				<tr>
					<td colspan="2" style="background-color: #f5f5f5; text-align: center">合计</td>
					<td></td>
					<td></td>
					<td><input class="easyui-textbox" readonly id="totalTxt" type="text" value="${roi.total!}" name="roiTotal" style="width: 100%"
						data-options=""></td>
					<td></td>
				</tr>
			</table>
		</form>
		<div style="text-align: center; padding: 5px; margin-top: 50px;">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:'80px'" onclick="backForm()">上一步</a> <a
				href="javascript:void(0)" class="easyui-linkbutton" data-options="width:'80px'" onclick="submitForm()">下一步</a> <a
				href="${contextPath}/projectApply/index.html" class="easyui-linkbutton" style="width: 80px">取消</a>
		</div>
	</div>
</div>
<script>

    function backForm() {
        window.location.href = "${contextPath}/projectApply/toStep/4/${apply.id}";
    }

    function submitForm() {
        if ($("#ff").form('validate')) {
        	var data = $("#ff").serializeArray();
            $.ajax({
                type: "Post",   //访问WebService使用Post方式请求
                url: "${contextPath}/projectApply/insertRoi", //调用WebService的地址和方法名称组合 ---- WsURL/方法名
                data: data,         //这里是要传递的参数，格式为 data: "{paraName:paraValue}",下面将会看到
                success: function (data) {     //回调函数，result，返回值
                    if (data.success == true) {
                        if (data.success == true) {
                            try {
                                LogUtils.saveLog(LOG_MODULE_OPS.UPDATE_PROJECT_APPLY,"修改立项申请:" + data.data+":成功", function () {
                                    window.location.href = "${contextPath}/projectApply/toStep/6/" + data.result;
                                });
                            } catch (e) {
                                window.location.href = "${contextPath}/projectApply/toStep/6/" + data.result;
                            }
                        }
                    }
                }
            });
        }
    }

    function cal() {
        var cal = 0;
        $(".cal").textbox().each(function () {
            var value = $(this).textbox("getValue");
            if (value != '') {
                cal += parseInt(value);
            }
        });
        $("#totalTxt").textbox('initValue',cal + '元');
    }

    function cal1() {
        var cal = 0;
        $(".cal1").textbox().each(function () {
            var value = $(this).textbox("getValue");
            if (value != '') {
                if(cal == 0){
                    cal = 1;
                }
                cal *= parseInt(value);
            }
        });

        $("#cal1").textbox('initValue',cal);
    }
    <%
    var b="{}";
    %>
    $(function () {
        try {
            $('#ff').form('load', ${isEmpty(apply.roi)?b:apply.roi});
        } catch (ex) {
        }
        $(".cal").textbox({
            'onChange': function () {
                cal();
            }
        });
        $(".cal1").textbox({
            'onChange': function () {
                cal1();
                cal();
            }
        });
    })

</script> </#body>