 <#body>
  <div class="easyui-panel" id="submitDiv" style="width:100%;" align="center">
    <form id="form" class="easyui-form" method="post" fit="true">
        <input name="taskId" id="taskId" value="${taskId}" type="hidden">
         <input name="code" id="code" value="${demand.serialNumber}" type="hidden">
        <table width="60%" style="alignment: center">
            <tr>
	            <td align="center" style="padding:5px;">
	            <input name="acceptId" id="acceptId" class="easyui-combobox" style="width: 100%;"
									data-options="label:'责任人:',editable:true,url:'${contextPath!}/member/members',textField:'realName',valueField:'id'">
	            </td>
                <td align="center" style="padding:5px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="submitBtn"
                   onclick="save()">同意</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="cancelBtn"
                   onclick="cancel()">不同意</a>
            </td>
        </table>
    </form>
 </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        function cancel() {
        	$('#form').form('submit', {
                url : "${contextPath}/demand/rejectDemand.action",
                dataType : "json",
                onSubmit : function(){

                },
                success:function(data){
                    var data = eval('(' + data + ')');
                    if(data.success) {
                        //如果父页面是任务中心
                        if(parent.location.href='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
                            //向任务中心发送消息，参数为要跳转的地址
                            window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
                        }else{
                            location.href = "${contextPath}/demand/index.html";
                        }
                    }else{
                    	$.messager.alert('警告',"错误:"+data.message);
                    }
                }
            });
        }

        function save(){
            if(!$('#form').form("validate")){
                return;
            }
            $("#submitBtn").linkbutton("disable");
            $('#form').form('submit', {
                url : "${contextPath}/demand/accept.action",
                dataType : "json",
                onSubmit : function(){

                },
                success:function(data){
                    var data = eval('(' + data + ')');
                    if(data.success) {
                        //如果父页面是任务中心
                        if(parent.location.href='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
                            //向任务中心发送消息，参数为要跳转的地址
                            window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
                        }else{
                            location.href = "${contextPath}/demand/index.html";
                        }
                    }else{
                    	$.messager.alert('警告',"错误:"+data.message);
                    }
                }
            });


        }

    </script>
</#body>