 <#body>
 <link href="${contextPath!}/resources/css/uploadfile.css"
	rel="stylesheet">
	<form id="_form" class="easyui-form" method="post"
		enctype="multipart/form-data">
		<input name="_id" id="_id" type="hidden">
		<table width="100%">
			<tr>
				<td style="padding: 5px;width: 50%">
				<input class="easyui-textbox"
					style="width: 100%"
					data-options="label:'需求申请人'"value="${userInfo.realName}" />
					<input type="hidden" id="userId" name="userId" value="${userInfo.id}" /></td>
					<td style="padding: 5px;width: 50%"><input class="easyui-textbox"
					style="width: 100%"
					data-options="label:'申请人电话'"value="${userInfo.cellphone}" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox"
					 style="width: 100%"data-options="label:'需求部门:'"value="${userInfo.depName}" data-options="editable:false" /></td>
					<td style="padding: 5px;"><input class="easyui-numberbox"
					name="_belongSysId" id="_belongSysId" style="width: 100%"
					data-options="label:'所属系统:'" required="true" />
					<!-- <#comboProvider _id="belong_sys_id" _provider='projectSysProvider' /> -->
					</td>
			</tr>
						<tr>
				<td style="padding: 5px;"><input class="easyui-textbox"
					name="_name" id="_name" style="width: 100%"
					data-options="label:'需求名称:', validType:'length[0,25]'"
					required="true" /></td>
									<td style="padding: 5px;"><input class="easyui-textbox" 
					name="_belongProId" id="_belongProId" style="width: 100%"
					data-options="label:'所属項目:'" />
					</td>
			</tr>
			<tr>

									<td style="padding: 5px;"><input class="easyui-textbox"
					name="_type" id="_type" style="width: 100%"
					data-options="label:'需求类型:', validType:'length[0,3]'"
					required="true" />
					<#comboProvider _id="_type" _provider='demandTypeProvider' />
					</td>
									<td style="padding: 5px;"><input class="easyui-datebox"
					name="_finishDate" id="_finishDate" style="width: 100%"
					data-options="label:'期望实现日期:'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"  colspan="2">
				<p>添加附件：</p>
					<div id="fileuploader">选择文件</div>
				</td>
			</tr>
			<tr>
				<td style="padding: 5px;"  colspan="2">
					<!-- <input class="easyui-textbox"
					name="_content" id="_content" style="width: 100%"
					data-options="label:'需求内容:', validType:'length[0,65535]'"
					required="true" /></td> -->
					<p>需求内容:</p>
					<div id="editor_content"  style="width: 100%"></div>
			</tr>
			<tr>
				<td style="padding: 5px;" colspan="2"><!-- <input class="easyui-textbox"
					name="_reason" id="_reason" style="width: 100%"
					data-options="label:'需求背景:', validType:'length[0,65535]'" /> -->
					<p>需求背景:</p>
					<div id="editor_reason"  style="width: 100%"></div>
					</td>
			</tr>
		</table>
		<input type="hidden" id="documentUrl" name="documentUrl" value=""/>
	</form>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
<script type="text/javascript"
	src="${contextPath!}/resources/js/jquery.uploadfile.min.js"></script>
<script type="text/javascript"
	src="${contextPath!}/resources/js/wangEditor.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor_content')
/* 	editor.customConfig.onchange = function (html) {
	    // 监控变化，同步更新到 textarea
	    $text1.val(html)
	} */
	editor.customConfig.menus = [
                                  'head',
                                  'bold',
                                  'italic',
                                  'underline',
                                  'image',
                                  'justify',
                              ]
	editor.create();
	
    var editor2 = new E('#editor_reason');
    editor2.customConfig.menus = [
                                 'head',
                                 'bold',
                                 'italic',
                                 'underline',
                                 'image',
                                 'justify',
                             ]
    editor2.create()
	
	function getText(){
		 alert(editor.txt.html())
	}
</script>
<script type="text/javascript">
var myfiles = new Array();
$("#fileuploader").uploadFile({
	url :"${contextPath!}/files/filesUpload", // 文件上传url                 //文件上传url
    fileName : "file",             //提交到服务器的文件名
    maxFileCount: 10,                //上传文件个数（多个时修改此处
    returnType: 'json',              //服务返回数据
    allowedTypes: 'jpg,jpeg,png,gif',  //允许上传的文件式
    showDone: false,                     //是否显示"Done"(完成)按钮
    showDelete: true,                  //是否显示"Delete"(删除)按钮
    deleteCallback: function(data,pd)
    {
    	
			$.ajax({
						type : "POST",
						url : '${contextPath!}/files/delete',
						data : {
							id : data.data[0].id
						},
						success : function(dataresult) {
							if (dataresult.code == 200) {
				                pd.statusbar.hide();        //删除成功后隐藏进度条等
			                    $('#image').val('');
							} else {
								$.messager.alert('错误', dataresult.result);
							}
							var fileIds =new Array($('#documentUrl').val()) ;//取值
							var index_id=fileIds.indexOf(data.data[0].id);
 							console.log(data.data[0].id);
 							fileIds.splice(index_id,1);
 							$("#documentUrl").val();
 						    $("#documentUrl").val(fileIds);
						},
						error : function() {
							$.messager.alert('错误', '远程访问失败');
						}
					});
    },
    onSuccess: function(files,data,xhr,pd)
    {
        //组织文件ID上传
         $("#documentUrl").val();
        myfiles.push(data.data[0].id);
        $("#documentUrl").val(myfiles);
        if(data&&data.code===0){
            $('#image').val(data.url);
        }
    }
});

function loadProjectSelect(queryAll) {
	$('#_belongProId').combobox({
				url : "${contextPath!}/task/listTreeProject.json",
				valueField : 'id',
				textField : 'name',
				editable : false
			});

}

$(document).ready(function() {
	loadProjectSelect();
})
</script>
</#body>