 <#body>
 <div class="easyui-panel">
        <form id="_form" class="easyui-form" method="post" enctype="multipart/form-data">>
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'需求名称:', validType:'length[0,25]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'需求申请人:'" 
                        required="true" />
                </td>
            </tr>
             <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'申请人电话:'" 
                        required="true" />
                </td>
            </tr>
              <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'申请人电话:'" 
                        required="true" />
                </td>
            </tr>
              <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'需求部门:'" 
                        required="true" />
                </td>
            </tr>
             <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_userId" id="_userId" style="width:100%" data-options="label:'所属系统:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_belongProId" id="_belongProId" style="width:100%" data-options="label:'所属項目:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_type" id="_type" style="width:100%" data-options="label:'需求类型:', validType:'length[0,3]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_status" id="_status" style="width:100%" data-options="label:'需求状态:', validType:'length[0,3]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="_finishDate" id="_finishDate" style="width:100%" data-options="label:'需求期望实现时间:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_documentUrl" id="_documentUrl" style="width:100%" data-options="label:'相关附件:', validType:'length[0,120]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_content" id="_content" style="width:100%" data-options="label:'需求内容:', validType:'length[0,65535]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_reason" id="_reason" style="width:100%" data-options="label:'需求背景:', validType:'length[0,65535]'" />
                </td>
            </tr>
        </table>
    </form>
</div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
    </script>
</#body>