 <#body>
<link href="${contextPath!}/resources/css/uploadfile.css"
	rel="stylesheet">
<form id="_form" class="easyui-form" method="post"
	enctype="multipart/form-data">
	<input name="_id" id="_id" type="hidden">
	<table width="100%">
		<tr>
			<td style="padding: 5px; width: 50%"><span style="color:red;"> * </span><input
				class="easyui-textbox" style="width: 95%"
				data-options="label:'需求申请人'" value="${userInfo.realName}"  readonly="readonly"/> <input
				type="hidden" id="userId" name="userId" value="${userInfo.id}" /></td>
			<td style="padding: 5px; width: 50%"><span style="color:red;"> * </span><input
				class="easyui-textbox" style="width: 95%"
				data-options="label:'申请人电话'" value="${userInfo.cellphone}"  readonly="readonly"/></td>
		</tr>
		<tr>
			<td style="padding: 5px;"> <span style="color:red;"> * </span><input class="easyui-textbox"
				style="width: 95%" data-options="label:'需求部门:'"
				value="${depName}" data-options="editable:false" readonly="readonly" /> 
				</td>
			<td style="padding: 5px;"><span style="color:red;">  * </span>
			<input name="_belongSysId" id="_belongSysId" class="easyui-combobox" style="width: 95%" editable="false"
					data-options="label:'所属系统:', required:true,prompt:'--选择系统项目--'" >
				</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><span style="color:red;"> * </span><input class="easyui-textbox"
				name="_name" id="_name" style="width: 95%"
				data-options="label:'需求名称:', validType:'length[0,20]'"
				required="true" /></td>
			<td style="padding: 5px;"><span style="color:red;"> &nbsp;  </span><input class="easyui-combobox"
				name="_belongProId" id="_belongProId" style="width: 95%"
				data-options="label:'所属项目:'" required="true" editable="false" />
				<#comboProvider
				_id="_belongProId" _provider='projectProvider' />
				</td>
		</tr>
		<tr>

			<td style="padding: 5px;"><span style="color:red;"> * </span><input class="easyui-textbox"
				name="_type" id="_type" style="width: 95%"
				data-options="label:'需求类型:', required:true"
				editable="false"/> <#comboProvider _id="_type"
				_provider='demandTypeProvider' /></td>
			<td style="padding: 5px;"><span style="color:red;"> * </span><input class="easyui-datebox"
				name="_finishDate" id="_finishDate" style="width:95%"
				data-options="label:'期望实现日期:'" required="true"  editable="false"/></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 5px;">
				<label style="float:left;">添加附件：</label>
				<div id="fileuploader" style="margin-left: 75px;padding: 5px">选择文件</div>
				<table class="easyui-datagrid" title="需求文档列表" id="demandFileGrid" style="width: 100%"
					   fitColumns="true" pagination="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" align="center" fit="false" striped="true" idField="id" >
					<thead>
					<tr>
						<th data-options="field:'name', width:'20%', align:'center', resizable:'true', fixed:'false'">文件名</th>
						<th data-options="field:'length', width:'20%', align:'center', resizable:'true', fixed:'false'">大小</th>
						<th data-options="field:'created', width:'50%',  _provider:'datetimeProvider', align:'center', resizable:'true', fixed:'false'">上传日期</th>
						<th data-options="field:'opt', width:'10%', align:'center', resizable:'true', fixed:'false',formatter:demandFileOptFormatter">操作</th>
					</tr>
					</thead>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p><span style="color:red;"> * </span>需求内容:</p>
				<div id="editor_content" style="width: 100%">
				<p>请输入内容...</p>
				</div>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p>需求背景:</p>
				<div id="editor_reason" style="width: 100%">
				<p>请输入内容...</p>
				</div>
			</td>
		</tr>
		
	</table>

	<input type="hidden" id="documentUrl" name="documentUrl" value="" />
</form>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript"
	src="${contextPath!}/resources/js/jquery.uploadfile.min.js"></script>
<script type="text/javascript"
	src="${contextPath!}/resources/js/wangEditor.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor_content')
/* 	editor.customConfig.onchange = function (html) {
	    // 监控变化，同步更新到 textarea
	    $text1.val(html)
	} */
	editor.customConfig.menus = [
                                  'head',
                                  'bold',
                                  'italic',
                                  'underline',
                                  'image',
                                  'justify',
                              ];
    editor.customConfig.onfocus = function () {
    	if(editor.txt.html()=="<p>请输入内容...</p><p><br></p>"){
    		editor.txt.html("");
    	}
    	
    }
    editor.customConfig.onblur = function (html) {
    	if(editor.txt.html()=="<p><br></p>"){
    	 editor.txt.html("<p>请输入内容...</p><p><br></p>");
    	}
    }

    editor.customConfig.uploadFileName = 'file';
    editor.customConfig.uploadImgServer = "${contextPath!}/files/filesUpload"
    editor.customConfig.uploadImgHooks = {
           customInsert: function (insertImg, result, editor) {
                 var id = result.data[0].id;
                 insertImg("http://almweb.diligrp.com/files/images?id="+id);
            }
        }
    editor.customConfig.uploadImgParamsWithUrl = true
	editor.create();

    var editor2 = new E('#editor_reason');
    editor2.customConfig.menus = [
                                 'head',
                                 'bold',
                                 'italic',
                                 'underline',
                                 'image',
                                 'justify',
                             ]
    editor2.customConfig.zIndex = 100
    editor2.customConfig.onfocus = function () {
    	if(editor2.txt.html()=="<p>请输入内容...</p><p><br></p>"){
    		editor2.txt.html("");
    	}
    	
    }
    editor2.customConfig.onblur = function (html) {
    	if(editor2.txt.html()=="<p><br></p>"){
    	 editor2.txt.html("<p>请输入内容...</p><p><br></p>");
    	}
    }

    editor2.customConfig.uploadFileName = 'file';
    editor2.customConfig.uploadImgServer = "${contextPath!}/files/filesUpload"
    editor2.customConfig.uploadImgHooks = {
           customInsert: function (insertImg, result, editor) {
                 var id = result.data[0].id;
                 insertImg("http://almweb.diligrp.com/files/images?id="+id);
            }
        }
    editor2.customConfig.uploadImgParamsWithUrl = true
    editor2.create()

</script>
<script type="text/javascript">
/* var myfiles = new Array();
$("#fileuploader").uploadFile({
	url :"${contextPath!}/files/filesUpload", // 文件上传url                 //文件上传url
    fileName : "file",             //提交到服务器的文件名
    uploadStr: '上传附件',
    deleteStr: '删除',
    abortStr: '上传中',
    maxFileCount: 10,                //上传文件个数（多个时修改此处
    returnType: 'json',              //服务返回数据
    allowedTypes: 'doc,xls,ppt,pdf,txt,dwg,exb,dps,wps,et,rar,zip,xmind,JPG,GIF,png,bmp',  //允许上传的文件式
    extErrorStr : '文件格式错误！允许上传格式：',
    dragDropStr:'',
    showDone: false,                     //是否显示"Done"(完成)按钮
    showDelete: true,                  //是否显示"Delete"(删除)按钮
    deleteCallback: function(data,pd)
    {
    	
			$.ajax({
						type : "POST",
						url : '${contextPath!}/files/delete',
						data : {
							id : data.data[0].id
						},
						success : function(dataresult) {
							if (dataresult.code == 200) {
				                pd.statusbar.hide();        //删除成功后隐藏进度条等
			                    $('#image').val('');
							} else {
								$.messager.alert('错误', dataresult.result);
							}
							var fileIds =new Array($('#documentUrl').val()) ;//取值
							var index_id=fileIds.indexOf(data.data[0].id);
 							fileIds.splice(index_id,1);
 							$("#documentUrl").val();
 						    $("#documentUrl").val(fileIds);
						},
						error : function() {
							$.messager.alert('错误', '远程访问失败');
						}
					});
    },
    onSuccess: function(files,data,xhr,pd)
    {
        //组织文件ID上传
         $("#documentUrl").val();
        myfiles.push(data.data[0].id);
        $("#documentUrl").val(myfiles);
        if(data&&data.code===0){
            $('#image').val(data.url);
        }
    }
}); */
var myfiles = new Array();
function demandFileOptFormatter(value, row, index) {
	return '<a href="javascript:void(0);" onclick="delVersionFile(' + row.id
			+ ');">删除</a>';
}
function delVersionFile(id) {
	$.messager.confirm('提示', '确定要删除该文档？', function(flag) {
		if (!flag) {
			return false;
		}
		$.ajax({
					type : "POST",
					url : '${contextPath!}/files/delete',
					data : {
						id : id
					},
					success : function(data) {
						if (data.code == 200) {
							var fileIds =$('#documentUrl').val().split(",");
					        for(var i=0; i<fileIds.length;i++){
					        	if(fileIds[i]==id){
					        		fileIds.splice(i,1);
		 							$("#documentUrl").val();
		 						    $("#documentUrl").val(fileIds);
					        	}
					        }

 						    
							var selected = $('#demandFileGrid')
									.datagrid('getSelected');
							var index = $('#demandFileGrid').datagrid(
									'getRowIndex', selected);
							$('#demandFileGrid').datagrid('deleteRow', index);
							$($('#fileGrid').datagrid('getRows')).each(
									function(i, item) {
										if (item.id == selected.id) {
											var rowIndex = $('#fileGrid')
													.datagrid('getRowIndex',
															item);
											$('#fileGrid').datagrid(
													'deleteRow', rowIndex);
											$('#fileGrid')
													.datagrid('acceptChanges');
											return false;
										}
							});
							
						} else {
							$.messager.alert('错误', data.result);
						}
					},
					error : function() {
						$.messager.alert('错误', '远程访问失败');
					}
				});
	});
}

$(function () {
    //需求加载
	$("#fileuploader").uploadFile({
						language: 'zh', //设置语言
						url : "${contextPath!}/files/filesUpload", // 文件上传url
						fileName : "file", // 提交到服务器的文件名
						uploadStr : '上传',
						returnType : 'json', // 服务返回数据
					    allowedTypes: 'docx,doc,xls,ppt,pdf,txt,dwg,exb,dps,wps,et,rar,zip,xmind,JPG,GIF,png,bmp',  //允许上传的文件式
						showDone : false, // 是否显示"Done"(完成)按钮
						showDelete : false, // 是否显示"Delete"(删除)按钮
						// showError : false,
						extErrorStr : '文件格式错误！允许上传格式：',
						sizeErrorStr : '文件过大，允许上传文件最大为',// 超过最大文件限制
					    deleteStr: '删除',
					    abortStr: '上传中',
						showStatusAfterSuccess : false,
						maxFileSize : 10485760, // 上传文件个数（多个时修改此处
					    dragDropStr:'',
						onError : function(files, status, errMsg, pd) {
							$.messager.alert('错误', '上传失败！');
						},
						onSuccess : function(files, data, xhr, pd) {
							if (data.code != 200) {
								$.messager.alert('错误', data.result);
								return;
							}
							// 上传成功后的回调方法。本例中是将返回的文件名保到一个hidden类开的input中，以便后期数据处理
							$("#documentUrl").val();
					        myfiles.push(data.data[0].id);
					        $("#documentUrl").val(myfiles);
							var row = data.data[0];
							$('#demandFileGrid').datagrid('appendRow', row);
						},
						onSelect : function(files) {
							if($('.ajax-file-upload-container').html()!=null&&$('.ajax-file-upload-container').html()!=''){
								$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">已有文件上传中，请稍后!</div>')
								return false;
							}
							if(files.length>10){
								$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">同时上传文件数量为10个!</div>')
								return false;
							}else{
								var old = $('#demandFileGrid').datagrid('getData').rows;
								if(old.length+files.length<=10){
									for (var i = 0; i < old.length; i++) {
										if (files[0].name == old[i].name) {
											$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">请不要重复上传文件!</div>')
											return false;
										}
									}
								}else{
									$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">文件数量最大为10个!</div>')
									return false;
								}
							}
							
						}
	});
    
    loadSystemSelect();
    fileEcho();
    
})		
 		function fileEcho() {
	  		var fileIds=$("#documentUrl").val();
            for(var i=0; i<fileIds.length;i++){
            	myfiles.push(fileIds[i]);
            }
		}
        function loadSystemSelect() {
			$('#_belongSysId').combobox({
						url : "${contextPath!}/demand/listTree.json",
						valueField : 'id',
						textField : 'name',
						editable : false
					});
		
		}
</script>
</#body>
