 <#body>
 <div class="easyui-panel">
        <form id="form" class="easyui-form" method="post" enctype="multipart/form-data">
        <input name="id" id="id" type="hidden">
        <table width="100%">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'需求名称:', validType:'length[0,25]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" data-options="label:'需求申请人:'" 
                        required="true" />
                </td>
            </tr>
             <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" data-options="label:'申请人电话:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" data-options="label:'申请人电话:'" 
                        required="true" />
                </td>
            </tr>
              <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" data-options="label:'需求部门:'" 
                        required="true" />
                </td>
            </tr>
             <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="userId" id="userId" style="width:100%" data-options="label:'所属系统:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="belongProId" id="belongProId" style="width:100%" data-options="label:'所属項目:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="type" id="type" style="width:100%" data-options="label:'需求类型:', validType:'length[0,3]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="status" id="status" style="width:100%" data-options="label:'需求状态:', validType:'length[0,3]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="finishDate" id="finishDate" style="width:100%" data-options="label:'需求期望实现时间:'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="documentUrl" id="documentUrl" style="width:100%" data-options="label:'相关附件:', validType:'length[0,120]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="content" id="content" style="width:100%" data-options="label:'需求内容:', validType:'length[0,65535]'" 
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="reason" id="reason" style="width:100%" data-options="label:'需求背景:', validType:'length[0,65535]'" />
                </td>
            </tr>
        </table>
    </form>
</div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
    </script>
</#body>