 <#body>
 <div class="easyui-panel">
        <form id="form" class="easyui-form" method="post" enctype="multipart/form-data">
        <table width="100%">
         	<tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox" style="width:700px" data-options="label:'需求编号:'" 
                         readonly="readonly" value="${model.serialNumber!}"/>
                </td>
           
            </tr>
           
            <tr>
                <td style="padding:5px;" >
                    <input class="easyui-textbox" name="userId" id="userId" style="width:300px" data-options="label:'需求申请人:'" 
                        readonly="readonly"  value="${model.userName!}"/>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox"  style="width:300px" data-options="label:'申请人电话:'" 
                        readonly="readonly"  value="${model.userPhone!}"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" style="width:300px" data-options="label:'申请人部门:'" 
                       readonly="readonly"    value="${model.departmentName!}"/>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox"  id="belongProId" style="width:300px" data-options="label:'所属项目:'" 
                       readonly="readonly"    value="${model.belongProId!}"/>
                       <#comboProvider _id="belongProId" _provider='projectProvider' />
                </td>
            </tr>
               <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" style="width:300px" data-options="label:'申请一级部门:'" 
                       readonly="readonly"    value="${model.departmentFirstName!}"/>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox"  id="belongSysId" style="width:300px" data-options="label:'所属系统:'" 
                       readonly="readonly"    value="${model.belongSysId!}"/>
                       <#comboProvider _id="belongSysId" _provider='projectSysProvider' />
                </td>
            </tr>
            <tr >
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox"  style="width:700px" data-options="label:'期望时间:'" 
                         readonly="readonly" value="${model.finishDate!}"/>
                </td>
            </tr>
            
            
            <tr>
                <td style="padding:5px;" colspan="2">
                    <input class="easyui-textbox"  style="width:700px" data-options="label:'需求名称:'" 
                         readonly="readonly" value="${model.name!}"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                 <% if(model.processType!=null){%>
                    <input class="easyui-textbox" readonly="readonly"  id="processType" style="width:300px" data-options="label:'流程状态:'" 
                         value="${model.processType!}"/>
                    <#comboProvider _id="processType" _provider='demandProcessProvider' />   
                <%}else{%>
                    <input class="easyui-textbox" readonly="readonly"  id="status" style="width:300px" data-options="label:'需求状态:'" 
                         value="${model.status!}"/>
                    <#comboProvider _id="status" _provider='demandStatusProvider' />   
                    <%}%>
                </td>
                <td style="padding:5px;">
                    <input class="easyui-textbox" readonly="readonly"  id="type" style="width:300px" data-options="label:'需求类型:'" 
                         value="${model.type!}"/>
                    <#comboProvider _id="type" _provider='demandTypeProvider' />   
                </td>
            </tr>

            <tr>
                <td style="padding:5px;" colspan="2">
                	<span>需求内容:</span>
                	<%if(model.content!=null){%>
                		<div style="width:710px;border:1px solid #D4D4D4;" id="content">${model.content!}</div>
                	<%}%>
                </td>
            </tr>
			<tr>
				<td style="padding: 5px;" colspan="2">
					<p>需求背景:</p>
					<div id="reason" style="width:710px;border:1px solid #D4D4D4;">
					 ${model.reason!}
					</div>
				</td>
			</tr>
           <% if(model.feedbackContent!=null){%>
			<tr>
					<td colspan="2" >
				   <h4>反馈方案:</h4>
					<div id="editor_reason" style="width: 100%">
					 ${model.feedbackContent!}
					</div>
					</td>
			</tr>
		<%}%>
		    </tr>
            <tr>
            <td id="filePath" style="padding:20px 0;">

            </td>
            </tr>
            <tr>
				<td colspan="2" style="padding: 5px;">
					<table class="easyui-datagrid" title="上传文件列表" id="fileGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 95%;"
					pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
					sortName="name" align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id"
					data-options="url:'${contextPath!}/demand/files/list?id=${model.id!}'">
							<thead>
								<tr>
									<th data-options="field:'name', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">文件名</th>
									<th data-options="field:'suffix', width:'20%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">文件类型</th>
									<th data-options="field:'createMemberId', width:'10%',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建人</th>
									<th data-options="field:'created', width:'20%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建时间</th>
									<th data-options="field:'opt',width:'20%',formatter:fileOptFormatter, align:'center'">操作</th>
								</tr>
							</thead>
					</table>
				</td>
            </tr>
           <tr>
				<td colspan="2" style="padding: 5px;">
					<table class="easyui-datagrid" title="操作列表" id="fileGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 100%;"
					pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
					 align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id"
					data-options="url:'${contextPath!}/demand/getRecordList?code=${model.serialNumber!}'">
							<thead>
								<tr>
									<th data-options="field:'operationName', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">操作内容</th>
									<th data-options="field:'operatorId', width:'15%',  _provider:'memberProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作人</th>
									<th data-options="field:'operateTime', width:'15%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作时间</th>
									<th data-options="field:'opertateResult', width:'15%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作结果</th>
									<th data-options="field:'description', width:'15%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作意见</th>
								</tr>
							</thead>
					</table>
				</td>
            </tr>
           </table>   
    </form>
</div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
	    function fileOptFormatter(value, row, index) {
	    	var content = '<a style="padding:0px 5px;" href="javascript:void(0);" onclick="downloadFile('+ row.id + ');">下载</a>';
	    	return content;
	    }
	    function downloadFile(id) {
	    	window.open('${contextPath!}/files/download?id=' + id);
	    }
	    
        $(function () {
        	<% if(model.feedbackFile!=null||model.feedbackFile!=""){%>
	            //添加反馈文件显示
	             showFDFile(${model.feedbackFile!});
             <%}%>
        })
	    <#demand_fileuploadForFeedback />
    </script>
    
    	
</#body>