 <#body>
<link href="${contextPath!}/resources/css/uploadfile.css"
	rel="stylesheet">
<form id="_form" class="easyui-form" method="post"
	enctype="multipart/form-data">
	<input name="_id" id="_id" type="hidden">
	<input name="taskId" id="taskId" value="${taskId}" type="hidden">
	<input name="serialNumber" id="serialNumber" value="${demand.serialNumber}" type="hidden">
	<table width="100%">
		<tr>
			<td style="padding: 5px; width: 50%"><span style="color:red;">  * </span><input
				class="easyui-textbox" style="width: 95%"
				data-options="label:'需求申请人'" value="${userInfo.realName}"  readonly="readonly"/> <input
				type="hidden" id="userId" name="userId" value="${userInfo.id}" /></td>
			<td style="padding: 5px; width: 50%"><span style="color:red;">  * </span><input
				class="easyui-textbox" style="width: 95%"
				data-options="label:'申请人电话'" value="${userInfo.cellphone}"  readonly="readonly"/></td>
		</tr>
		<tr>
			<td style="padding: 5px;"><span style="color:red;">  * </span> <input class="easyui-textbox"
				style="width: 95%" data-options="label:'需求部门:'"
				value="${depName}" data-options="editable:false" readonly="readonly" /> 
				</td>
			<td style="padding: 5px;"><span style="color:red;">  * </span>
			<input name="_belongSysId" id="_belongSysId" class="easyui-combobox" style="width: 95%;" editable="false"
					data-options="label:'所属系统:', required:true,prompt:'--选择系统项目--'" >
				</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><span style="color:red;">  * </span><input class="easyui-textbox"
				name="_name" id="_name" style="width: 95%"
				data-options="label:'需求名称:', validType:'length[0,50]'"
				required="true" /></td>
			<td style="padding: 5px;"><span style="color:red;"> &nbsp; </span><input class="easyui-combobox"
				name="_belongProId" id="_belongProId" style="width: 95%"
				data-options="label:'所属项目:'" required="true" editable="false" />
				<#comboProvider
				_id="_belongProId" _provider='projectProvider' />
				</td>
		</tr>
		<tr>

			<td style="padding: 5px;"><span style="color:red;">  * </span><input class="easyui-textbox"
				name="_type" id="_type" style="width: 95%"
				data-options="label:'需求类型:', required:true"
				editable="false"/> <#comboProvider _id="_type"
				_provider='demandTypeProvider' /></td>
			<td style="padding: 5px;"><span style="color:red;">  * </span><input class="easyui-datebox"
				name="_finishDate" id="_finishDate" style="width: 95%"
				data-options="label:'期望实现日期:'" required="true"  editable="false"/></td>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p>添加附件：</p>
				<div id="fileuploader">选择文件</div>
			</td>
		</tr>
		<tr>
				<td colspan="2" style="padding: 5px;">
					<table class="easyui-datagrid" title="上传文件列表" id="fileGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 100%;"
					pagePosition="both" rownumbers="true"  loadMsg="数据加载中..." singleSelect="true" method="post"  
					 align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id"
					data-options="url:'${contextPath!}/demand/files/list?id=${demand.id!}'">
							<thead>
								<tr>
									<th data-options="field:'name', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">文件名</th>
									<th data-options="field:'suffix', width:'20%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">文件类型</th>
									<th data-options="field:'createMemberId', width:'10%',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建人</th>
									<th data-options="field:'created', width:'20%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建时间</th>
									<th data-options="field:'opt',width:'20%',formatter:fileOptFormatter, align:'center'">操作</th>
								</tr>
							</thead>
					</table>
				</td>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p><span style="color:red;">  * </span>需求内容:</p>
				<div id="editor_content" style="width: 100%">
				<p>请输入内容...</p>
				</div>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p>需求背景:</p>
				<div id="editor_reason" style="width: 100%">
				<p>请输入内容...</p>
				</div>
			</td>
		</tr>
		<tr>
		<td colspan="2">
					<table class="easyui-datagrid" title="操作记录" id="recordGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 100%;"
					pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
					 align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id" >
							<thead>
								<tr>
									<th data-options="field:'operationName', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">操作内容</th>
									<th data-options="field:'operatorId', width:'15%',  _provider:'memberProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作人</th>
									<th data-options="field:'operateTime', width:'15%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作时间</th>
									<th data-options="field:'opertateResult', width:'15%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作结果</th>
									<th data-options="field:'description', width:'15%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作意见</th>
								</tr>
							</thead>
					</table>
		</td>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" id="submitBtn"
                   onclick="submit()">重新提交</a>
			</td>
		</tr>
	</table>
	<input type="hidden" id="documentUrl" name="documentUrl" value="" />
</form>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript"
	src="${contextPath!}/resources/js/jquery.uploadfile.min.js"></script>
<script type="text/javascript"
	src="${contextPath!}/resources/js/wangEditor.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor_content')
/* 	editor.customConfig.onchange = function (html) {
	    // 监控变化，同步更新到 textarea
	    $text1.val(html)
	} */
	editor.customConfig.menus = [
                                  'head',
                                  'bold',
                                  'italic',
                                  'underline',
                                  'image',
                                  'justify',
                              ];
    editor.customConfig.onfocus = function () {
    	if(editor.txt.html()=="<p>请输入内容...</p><p><br></p>"){
    		editor.txt.html("");
    	}
    	
    }
    editor.customConfig.onblur = function (html) {
    	if(editor.txt.html()=="<p><br></p>"){
    	 editor.txt.html("<p>请输入内容...</p><p><br></p>");
    	}
    }
	editor.create();

    var editor2 = new E('#editor_reason');
    editor2.customConfig.menus = [
                                 'head',
                                 'bold',
                                 'italic',
                                 'underline',
                                 'image',
                                 'justify',
                             ]
    editor2.customConfig.onfocus = function () {
    	if(editor2.txt.html()=="<p>请输入内容...</p><p><br></p>"){
    		editor2.txt.html("");
    	}
    	
    }
    editor2.customConfig.onblur = function (html) {
    	if(editor2.txt.html()=="<p><br></p>"){
    	 editor2.txt.html("<p>请输入内容...</p><p><br></p>");
    	}
    }
    editor2.create()

</script>
<script type="text/javascript">
var myfiles = new Array();
$("#fileuploader").uploadFile({
	url :"${contextPath!}/files/filesUpload", // 文件上传url                 //文件上传url
    fileName : "file",             //提交到服务器的文件名
    uploadStr: '上传附件',
    deleteStr: '删除',
    abortStr: '上传中',
    //maxFileCount: 10,                //上传文件个数（多个时修改此处
    returnType: 'json',              //服务返回数据
    allowedTypes: 'docx,doc,xls,ppt,pdf,txt,dwg,exb,dps,wps,et,rar,zip,xmind,JPG,GIF,png,bmp',  //允许上传的文件式
	extErrorStr : '文件格式错误！允许上传格式：',
	sizeErrorStr : '文件过大，允许上传文件最大为',// 超过最大文件限制
    dragDropStr:'',
    showStatusAfterSuccess : false,
    showDone: false,                     //是否显示"Done"(完成)按钮
    showDelete: false,                  //是否显示"Delete"(删除)按钮                 
    deleteCallback: function(data,pd)
    {
    	
			$.ajax({
						type : "POST",
						url : '${contextPath!}/files/delete',
						data : {
							id : data.data[0].id
						},
						success : function(dataresult) {
							if (dataresult.code == 200) {
				                pd.statusbar.hide();        //删除成功后隐藏进度条等
			                    $('#image').val('');
							} else {
								$.messager.alert('错误', dataresult.result);
							}
							var fileIds =new Array($('#documentUrl').val()) ;//取值
							var index_id=fileIds.indexOf(data.data[0].id);
 							fileIds.splice(index_id,1);
 							$("#documentUrl").val();
 						    $("#documentUrl").val(fileIds);

						},
						error : function() {
							$.messager.alert('错误', '远程访问失败');
						}
					});
    },
    onSuccess: function(files,data,xhr,pd)
    {
    	$("#documentUrl").val("");
        //组织文件ID上传
        myfiles.push(data.data[0].id);
        $("#documentUrl").val(myfiles);
        if(data&&data.code===0){
            $('#image').val(data.url);
        }
		var row = data.data[0];
		console.log(row);
		$("#fileGrid").datagrid('appendRow', row);
         //加载父元素高度
	    var parentIframe = parent.document.getElementById("pageType")
	    //加载父元素高度
	 	 if(parentIframe!="undefined"){
	 		window.parent.setIframeHeight();
	   }
    },
	onSelect : function(files) {
		
		myfiles.splice(0,myfiles.length);
	    if($("#documentUrl").val()!=null&&$("#documentUrl").val()!=""){
	    	var fileIds =$("#documentUrl").val().split(",");
		      for(var i=0; i<fileIds.length;i++){
		    	  myfiles.push(fileIds[i]);
		    	}
			  console.log(myfiles.length);
			  console.log(myfiles);
	    }
		var old = $('#fileGrid').datagrid('getData').rows;
		for (var i = 0; i < old.length; i++) {
			if (files[0].name == old[i].name) {
				$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">请不要重复上传文件!</div>')
				return false;
			}
		}
		if(files.length>10){
			$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">同时上传文件数量为10个!</div>')
			return false;
		}else{
			var old = $('#fileGrid').datagrid('getData').rows;
			if(old.length+files.length<=10){
				for (var i = 0; i < old.length; i++) {
					if (files[0].name == old[i].name) {
						$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">请不要重复上传文件!</div>')
						return false;
					}
				}
			}else{
				$('.ajax-upload-dragdrop').next('div').append('<div class="ajax-file-upload-error">文件数量最大为10个!</div>')
				return false;
			}
		}
	}
});


function loadSystemSelect() {
	$('#_belongSysId').combobox({
				url : "${contextPath!}/demand/listTree.json",
				valueField : 'id',
				textField : 'name',
				editable : false
			});

}
$(function () {
    //所属项目自动加载
    loadSystemSelect();
    //加载操作记录
    var code = "${demand.serialNumber!}";
    queryRecordGrid(code);
    //加载文件列表
    queryFileGrid()
    //加载数据
    var formData = $.extend({},${modelStr!});
    formData = addKeyStartWith(getOriginalData(formData),"_");
    console.log(formData);
    if(formData._content=="<p><br></p>"||formData._content==""){
    	editor.txt.html("<p>请输入内容...</p><p><br></p>");
    }else{
    	 editor.txt.html(formData._content)
    }
    if(formData._reason=="<p><br></p>"||formData._reason==""){
    	editor2.txt.html("<p>请输入内容...</p><p><br></p>");
    }else{
    	 editor2.txt.html(formData._reason)
    }
    if(formData._belongProId==0){
    	formData._belongProId="";
    }
    formData._finishDate=dateFormat_1(formData._finishDate);
    formData.documentUrl= formData._documentUrl;

    $('#_form').form('load', formData);
    var parentIframe = parent.document.getElementById("pageType")
    //加载父元素高度
 	 if(parentIframe!="undefined"){
 		window.parent.setIframeHeight();
   }
})
function dateFormat_1(longTypeDate) {
    		var dateType = "";
    		var date = new Date();
    		date.setTime(longTypeDate);
    		dateType += date.getFullYear(); // 年
    		dateType += "-" + getMonth(date); // 月
    		dateType += "-" + getDay(date); // 日
    		return dateType;
    	}

    	// 返回 01-12 的月份值
    	function getMonth(date) {
    		var month = "";
    		month = date.getMonth() + 1; // getMonth()得到的月份是0-11
    		if (month < 10) {
    			month = "0" + month;
    		}
    		return month;
    	}
    	// 返回01-30的日期
    	function getDay(date) {
    		var day = "";
    		day = date.getDate();
    		if (day < 10) {
    			day = "0" + day;
    		}
    		return day;
    	}
    	/*
         *直接提交
         */
         function submit(){
    		
        	 $("#submitBtn").linkbutton("disable");
             if(!$('#_form').form("validate")){
                 return;
             }
             if(editor.txt.html()=="<p>请输入内容...</p><p><br></p>"||editor.txt.html()=="<p><br></p>"){
             	 $.messager.alert('警告','需求内容为必填项目');
             	 return;
             }

             var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
              
             //设置需求内容
             _formData.content = editor.txt.html();
             //设置需求背景
             if(editor2.txt.html()!="<p>请输入内容...</p><p><br></p>"||editor2.txt.html()!=""){
             	_formData.reason =  editor2.txt.html();
             }
             var _url = "${contextPath}/demand/submintForTask.action";
             $.ajax({
                 type: "POST",
                 url: _url,
                 data: _formData,
                 processData:true,
                 dataType: "json",
                 async : true,
                 success: function (data) {
	    	        	try{
	   		            	 var parentIframe = parent.document.getElementById("pageType")
			            	 if(parentIframe!="undefined"){
			            		 window.parent.CloseEditPage();
	    	      	         }else{
	    	      	        	 $.messager.alert('提示',"操作完成！");
	    	      	         }
		   	               }catch(ex){
			    					   document.domain="diligrp.com";
			    						//如果父页面是任务中心
			    	                   var plh = parent.location.href.indexOf('?') > 0 ? parent.location.href.substring(0, parent.location.href.indexOf('?')) : parent.location.href;
			    	                   if(plh=='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
			    	                       //向任务中心发送消息，参数为要跳转的地址
			    	                       window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
			    	                   }else{
			    	                   	window.location.href='${contextPath!}/demand/index.html';
			    	                   }
		   	               }
                 },
                 error: function(){
                     $.messager.alert('错误','远程访问失败');
                 }
             });
         }
</script>
  <script type="text/javascript">
	    function fileOptFormatter(value, row, index) {
	    	var content = '<a style="padding:0px 5px;" href="javascript:void(0);"  onclick="delVersionFile(' + row.id
			+ ');">删除</a>';
	    	return content;
	    }
	    function delVersionFile(id) {
	    	
	    	  if(confirm('确定要删除吗')==true){

	    		  $.ajax({
  					type : "POST",
  					url : '${contextPath!}/files/delete',
  					data : {
  						id : id
  					},
  					success : function(data) {
  						if (data.code == 200) {
  							myfiles.splice(0,myfiles.length);
  							var fileIds =$('#documentUrl').val().split(",");
  					        for(var i=0; i<fileIds.length;i++){
  					        	if(fileIds[i]==id){
  					        		fileIds.splice(i,1);
  		 							$("#documentUrl").val();
  		 						    $("#documentUrl").val(fileIds);
  		 						 
  					        	}
  					        	myfiles.push(fileIds);
  					        }

/*   					    	var fileIds =$("#documentUrl").val().split(",");
  						      for(var i=0; i<fileIds.length;i++){
  						    	  myfiles.push(fileIds[i]);
  						    	}
  							  console.log(myfiles.length);
  							  console.log(myfiles); */
  							var selected = $('#fileGrid')
  									.datagrid('getSelected');
  							var index = $('#fileGrid').datagrid(
  									'getRowIndex', selected);
  							$('#fileGrid').datagrid('deleteRow', index);
  							$($('#fileGrid').datagrid('getRows')).each(
  									function(i, item) {
  										if (item.id == selected.id) {
  											var rowIndex = $('#fileGrid')
  													.datagrid('getRowIndex',
  															item);
  											$('#fileGrid').datagrid(
  													'deleteRow', rowIndex);
  											$('#fileGrid')
  													.datagrid('acceptChanges');
  											return false;
  										}
  							});
  							
  						} else {
  							$.messager.alert('错误', data.result);
  						}
  					},
  					error : function() {
  						$.messager.alert('错误', '远程访问失败');
  					}
  				});

	    	    }else{

	    	       return false;

	    	    }
	    }

    </script>
    <script type="text/javascript">
	<#demand_publicJs />
    </script> 
</#body>
