 <#body>
 <link href="${contextPath!}/resources/css/uploadfile.css"
	rel="stylesheet">
  <div class="easyui-panel" id="submitDiv" style="width:100%;" align="center">
 <form id="_form" class="easyui-form" method="post"
	enctype="multipart/form-data">
	<input name="_id" id="_id" type="hidden">
	<input name="taskId" id="taskId" value="${taskId}" type="hidden">
	<table width="100%">
		<tr>
			<td style="padding: 5px; width: 50%"><input
				class="easyui-textbox" style="width: 100%"
				data-options="label:'需求申请人'" value="${userInfo.realName}"  readonly="readonly"/> <input
				type="hidden" id="userId" name="userId" value="${userInfo.id}" /></td>
			<td style="padding: 5px; width: 50%"><input
				class="easyui-textbox" style="width: 100%"
				data-options="label:'申请人电话'" value="${userInfo.cellphone}"  readonly="readonly"/></td>
		</tr>
		<tr>
			<td style="padding: 5px;"> <input class="easyui-textbox"
				style="width: 100%" data-options="label:'需求部门:'"
				value="${depName}" data-options="editable:false" readonly="readonly" /> 
				</td>
			<td style="padding: 5px;">
			<input name="_belongSysId" id="_belongSysId" class="easyui-combobox" style="width: 100%;" editable="false"
					data-options="label:'所属系统:', required:true,prompt:'--选择系统项目--'" >
				</td>
		</tr>
		<tr>
			<td style="padding: 5px;"><input class="easyui-textbox"
				name="_name" id="_name" style="width: 100%"
				data-options="label:'需求名称:', validType:'length[0,20]'"
				required="true" /></td>
			<td style="padding: 5px;"><input class="easyui-combobox"
				name="_belongProId" id="_belongProId" style="width: 100%"
				data-options="label:'所属項目:'" required="true" editable="false" />
				<#comboProvider
				_id="_belongProId" _provider='projectProvider' />
				</td>
		</tr>
		<tr>

			<td style="padding: 5px;"><input class="easyui-textbox"
				name="_type" id="_type" style="width: 100%"
				data-options="label:'需求类型:', required:true"
				editable="false"/> <#comboProvider _id="_type"
				_provider='demandTypeProvider' /></td>
			<td style="padding: 5px;"><input class="easyui-datebox"
				name="_finishDate" id="_finishDate" style="width: 100%"
				data-options="label:'期望实现日期:'" required="true"  editable="false"/></td>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p>需求内容:</p>
				<div id="editor_content" style="width: 100%">
				 ${demand.content!}
				</div>
		</tr>
		<tr>
			<td style="padding: 5px;" colspan="2">
				<p>需求背景:</p>
				<div id="editor_reason" style="width: 100%">
				 ${demand.reason!}
				</div>
			</td>
		</tr>
		<% if(demand.documentUrl!=null){%>
		<tr>
				<td colspan="2" style="padding: 5px;">
					<table class="easyui-datagrid" title="上传文件列表" id="fileGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 100%;"
					pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
					sortName="name" align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id"
					data-options="url:'${contextPath!}/demand/files/list?id=${demand.id!}'">
							<thead>
								<tr>
									<th data-options="field:'name', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">文件名</th>
									<th data-options="field:'suffix', width:'20%',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">文件类型</th>
									<th data-options="field:'createMemberId', width:'10%',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建人</th>
									<th data-options="field:'created', width:'20%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建时间</th>
									<th data-options="field:'opt',width:'20%',formatter:fileOptFormatter, align:'center'">操作</th>
								</tr>
							</thead>
					</table>
				</td>
		</tr>
		<%}%>
	</table>
	<input type="hidden" id="documentUrl" name="documentUrl" value="" />
</form>
					<table class="easyui-datagrid" title="操作记录" id="recordGrid" fitColumns="true" pagination="false" pageSize="30" pageNumber="1"  style="width: 100%;"
					pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
					 align="center" fit="false" striped="true" toolbar="#fileToolbar" idField="id" >
							<thead>
								<tr>
									<th data-options="field:'operationName', width:'30%',  sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">操作内容</th>
									<th data-options="field:'operatorId', width:'15%',  _provider:'memberProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作人</th>
									<th data-options="field:'operateTime', width:'15%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作时间</th>
									<th data-options="field:'opertateResult', width:'15%', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">操作结果</th>
								</tr>
							</thead>
					</table>
    <form id="form" class="easyui-form" method="post" fit="true">
        <input name="taskId" id="taskId" value="${taskId}" type="hidden">
         <input name="code" id="code" value="${demand.serialNumber}" type="hidden">
        <table width="100%" style="alignment: center">
           <tr>
            <td>
            	<p>解决方案描述:</p>
				<div id="editor_content_rt" style="width: 100%"></div>
            </td>
            </tr> 
            <tr>
              <td align="center" style="padding:15px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-ok" id="submitBtn"
                   onclick="save()">提交</a>
            </td>
            </tr>
        </table>
        	<input type="hidden" id="documentUrl" name="documentUrl" value="" />
        	<input type="hidden" id="content" name="content" value="" />
    </form>
 </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript"
	src="${contextPath!}/resources/js/jquery.uploadfile.min.js"></script>
<script type="text/javascript"
	src="${contextPath!}/resources/js/wangEditor.min.js"></script>
	<script type="text/javascript">
	var E = window.wangEditor
	var editor = new E('#editor_content_rt')
	editor.customConfig.menus = [
                                  'head',
                                  'bold',
                                  'italic',
                                  'underline',
                                  'image',
                                  'justify',
                              ]

    editor.customConfig.uploadFileName = 'file';
    editor.customConfig.uploadImgServer = "${contextPath!}/files/filesUpload"
    editor.customConfig.uploadImgHooks = {
           customInsert: function (insertImg, result, editor) {
                 var id = result.data[0].id;
                 insertImg("http://almweb.diligrp.com/files/images?id="+id);
            }
        }
    editor.customConfig.uploadImgParamsWithUrl = true
	editor.create(); 
	
</script>

    <script type="text/javascript">

        function cancel() {
            //向任务中心发送消息，参数为要跳转的地址
            window.parent.postMessage('<#config name="bpmn.server.address"/>/demand/index.html', '<#config name="bpmc.server.address"/>');
            location.href = "${contextPath}/demand/index.html";
        }
        

        function save(){
            if(!$('#form').form("validate")){
                return;
            }
            $("#submitBtn").linkbutton("disable");
            $("#content").val(editor.txt.html());
            $('#form').form('submit', {
                url : "${contextPath}/demand/feedback.action",
                dataType : "json",
                onSubmit : function(){

                },
                success:function(data){
    	        	try{
  		            	 var parentIframe = parent.document.getElementById("pageType")
		            	 if(parentIframe!="undefined"){
		            		 window.parent.CloseEditPage();
   	      	         }else{
   	      	        	 $.messager.alert('提示',"操作完成！");
   	      	         }
	               }catch(ex){
   					   document.domain="diligrp.com";
   						//如果父页面是任务中心
   	                   var plh = parent.location.href.indexOf('?') > 0 ? parent.location.href.substring(0, parent.location.href.indexOf('?')) : parent.location.href;
   	                   if(plh=='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
   	                       //向任务中心发送消息，参数为要跳转的地址
   	                       window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
   	                   }else{
   	                   	window.location.href='${contextPath!}/demand/index.html';
   	                   }
	               }
                }
            });


        }
        $(function () {
            //所属项目自动加载
            loadSystemSelect();
            //加载操作记录
            var code = "${demand.serialNumber!}";
            queryRecordGrid(code);
            //加载文件列表
            queryFileGrid()
            
            //加载数据
            var formData = $.extend({},${modelStr!});
            formData = addKeyStartWith(getOriginalData(formData),"_");
            console.log(formData);
            if(formData._belongProId==0){
            	formData._belongProId="";
            }
            formData._finishDate=dateFormat_1(formData._finishDate);
            $('#_form').form('load', formData);
            var parentIframe = parent.document.getElementById("pageType")
          	 if(parentIframe!="undefined"){
            		window.parent.setIframeHeight();
     	     }
            
        })
        function loadSystemSelect() {
			$('#_belongSysId').combobox({
						url : "${contextPath!}/demand/listTree.json",
						valueField : 'id',
						textField : 'name',
						editable : false
					});
		
		}
       function dateFormat_1(longTypeDate) {
    		var dateType = "";
    		var date = new Date();
    		date.setTime(longTypeDate);
    		dateType += date.getFullYear(); // 年
    		dateType += "-" + getMonth(date); // 月
    		dateType += "-" + getDay(date); // 日
    		return dateType;
    	}

    	// 返回 01-12 的月份值
    	function getMonth(date) {
    		var month = "";
    		month = date.getMonth() + 1; // getMonth()得到的月份是0-11
    		if (month < 10) {
    			month = "0" + month;
    		}
    		return month;
    	}
    	// 返回01-30的日期
    	function getDay(date) {
    		var day = "";
    		day = date.getDate();
    		if (day < 10) {
    			day = "0" + day;
    		}
    		return day;
    	}
    </script>
  <script type="text/javascript">
	    function fileOptFormatter(value, row, index) {
	    	var content = '<a style="padding:0px 5px;" href="javascript:void(0);" onclick="downloadFile('+ row.id + ');">下载</a>';
	    	return content;
	    }
	    function downloadFile(id) {
	    	window.open('${contextPath!}/files/download?id=' + id);
	    }
/* 	    $('#fileGrid').datagrid({
            onLoadSuccess: function (data) {
            	window.parent.setIframeHeight();
            }
        }); */
    </script>
   <script type="text/javascript">
	<#demand_publicJs />
    </script> 
</#body>