 <#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox"
							name="name" id="name" style="width: 100%"
							data-options="label:'需求名称:', validType:'length[0,25]'" /></td>

						<td style="padding: 5px;"><input class="easyui-numberbox"
							name="belongProId" id="belongProId" style="width: 100%"
							data-options="label:'所属系统:', validType:'length[0,19]'" /></td>
						<td style="padding: 5px;"><input class="easyui-datebox"
							name="submitDate" id="submitDate" style="width: 100%"
							data-options="label:'需求申请日期:'" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton"
							iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>
							<a href="javascript:void(0)" class="easyui-linkbutton"
							onclick="aa()">清除</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="需求列表" id="grid"
			fitColumns="true" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" rownumbers="true" remoteSort="false"
			loadMsg="数据加载中..." singleSelect="true" method="post"
			multiSort="false" sortName="serialNumber" align="center" fit="true"
			striped="true" toolbar="#toolbar" idField="id"
			data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求编号</th>
					<th
						data-options="field:'name',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求名称</th>
					<th
						data-options="field:'belongProId',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						所属系统</th>
					<th
						data-options="field:'type',    _provider:'demandTypeProvider' ,sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求类型</th>
					<th
						data-options="field:'status',   _provider:'demandStateProvider' , sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求状态</th>
					<th
						data-options="field:'depament',  _provider:'depProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						所属部门</th>
					<!-- user信息里 -->
					<th
						data-options="field:'createDate',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						申请时间</th>
					<!-- 草稿时间、提交时间 -->
					<th
						data-options="field:'createDate',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add"
				onclick="openInsert()" plain="true"></a> <a href="#"
				class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()"
				plain="true"></a> <a href="#" class="easyui-linkbutton"
				iconCls="icon-remove" onclick="del()" plain="true"></a> <a href="#"
				class="easyui-linkbutton" iconCls="icon-export"
				onclick="doExport('grid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked"
					onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框  *迁移-->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true"
	shadow="true" draggable="false" title="Demand信息" style="padding: 20px"
	modal="true" border="thin" closed="true"
	data-options="
				iconCls: 'icon-save',
				width: 680,
				height: 480,
				href:'${contextPath}/demand/add',
				modal : true,
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'提交',
					handler:function(){
							$.messager.confirm('确认', '提交后信息不能在进行编辑！', function(r) {
								if (r) {
								       submit();
								}})
					}}
					,{
					text:'取消',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->

<script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_serialNumber");
        }

        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_serialNumber");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            
            formData._finishDate=dateFormat_1(formData._finishDate);
            $('#_form').form('load', formData);
        }

        /*
        *直接提交
        */
        function submit(){
            if(!$('#_form').form("validate")){
                return;
            }
            if(editor.txt.html()==""){
            	 $.messager.alert('警告','需求内容为必填项目');
            	 return;
            }

            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
             
            _formData.content = editor.txt.html();
            _formData.reason =  editor2.txt.html();
            var _url = "${contextPath}/demand/submint";
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }
        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            if(editor.txt.html()==""){
            	 $.messager.alert('警告','需求内容为必填项目');
            	 return;
            }

            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
             
            _formData.content = editor.txt.html();
            _formData.reason =  editor2.txt.html();
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/demand/insert";
            }else{//有id就修改
                _url = "${contextPath}/demand/update";
            }
            console.log(_formData);
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }
        

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/demand/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/demand/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            var param = bindMetadata("grid", true);
            var formData = $("#form").serializeObject();
            $.extend(param, formData);
            $("#grid").datagrid("load", param);
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "serialNumber", queryGrid);
            bindFormEvent("_form", "_serialNumber", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
        })
       
        /**
        *页面测试调用
        **/
        function aa(){
        	var htmlobj = $.ajax({
				url : "${contextPath}/demand/sendseq.json",
				async : false
			});
        }
       function detail(){
        	$('#win').dialog({
				title : '需求详情',
				width : 750,
				height : 600,
				href : '${contextPath!}/demand/detail?id=' + 1,
				modal : true,
				buttons : [{
							text : '关闭',
							handler : function() {
								$('#win').dialog('close');
							}
						}]
			});
        }
       function dateFormat_1(longTypeDate) {
    		var dateType = "";
    		var date = new Date();
    		date.setTime(longTypeDate);
    		dateType += date.getFullYear(); // 年
    		dateType += "-" + getMonth(date); // 月
    		dateType += "-" + getDay(date); // 日
    		return dateType;
    	}

    	// 返回 01-12 的月份值
    	function getMonth(date) {
    		var month = "";
    		month = date.getMonth() + 1; // getMonth()得到的月份是0-11
    		if (month < 10) {
    			month = "0" + month;
    		}
    		return month;
    	}
    	// 返回01-30的日期
    	function getDay(date) {
    		var day = "";
    		day = date.getDate();
    		if (day < 10) {
    			day = "0" + day;
    		}
    		return day;
    	}
    </script>
</#body>
