 <#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox"
							name="serialNumber" id="serialNumber" style="width: 100%"
							data-options="label:'需求编号:', validType:'englishLowerCase'" /></td>

						<td style="padding: 5px;"><input 
							name="belongProId" id="belongProId" style="width: 100%"
							data-options="label:'所属系统:',editable:false, validType:'length[0,19]'" />
							<#comboProvider _id="belongProId" _provider='projectProvider' />
							</td>
						<td style="padding: 5px;"><input class="easyui-datebox"
							name="submitDate" id="submitDate" style="width: 100%"
							data-options="label:'需求申请日期:'" /></td>
						<td style="padding: 5px;">
							<input 
							name="type" id="type" style="width: 100%"
							data-options="editable:false,label:'需求类型:'" />
							<#comboProvider _id="type" _provider='demandTypeProvider' />
							<input 
								name="status" id="status_search" type="hidden"/>
						</td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton"
							iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>
							<a href="javascript:void(0)" class="easyui-linkbutton"
							onclick="clearForm()">清除</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
	<!-- ===================tabs==================== -->
	<div id="statusTab" class="easyui-tabs" style="width:100%;height:0px;">
    <div title="草稿" style="padding:20px;display:none;">
    </div>
    <div title="已提交" data-options="" style="padding:20px;display:none;">
    </div>
    <div title="处理完" data-options="" style="padding:20px;display:none;">
    </div>
	</div>
	<!-- ===================tabs==================== -->
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="需求列表" id="grid"
			fitColumns="true" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" rownumbers="true" remoteSort="false"
			loadMsg="数据加载中..." singleSelect="true" method="post"
			multiSort="false" sortName="serialNumber" align="center" fit="true"
			striped="true" toolbar="#toolbar" idField="id"
			data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求编号</th>
					<th
						data-options="field:'name',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求名称</th>
					<th
						data-options="field:'belongSysId',   _provider:'projectSysProvider' ,  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						所属系统</th>
					<th
						data-options="field:'type',    _provider:'demandTypeProvider' ,sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求类型</th>
					<th
						data-options="field:'status',   _provider:'demandStateProvider' , sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						需求状态</th>
					<th
						data-options="field:'departmentFirstName', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						所属部门</th>
					<!-- user信息里 -->
					<th
						data-options="field:'createDate',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						申请时间</th>
					<!-- 草稿时间、提交时间 -->
					<th
						data-options="field:'options', formatter:formatOptions, sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
						操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
		<#resource code="addDemand">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add"
				onclick="openInsert()" plain="true"></a>
		</#resource>
		<#resource code="updateDemand"> 
			<a href="#"
				class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()"
				plain="true"></a> 
		</#resource> 
		<#resource code="delDemand">   	
			<a href="#" class="easyui-linkbutton"
				iconCls="icon-remove" onclick="del()" plain="true"></a> 
         </#resource>				
			<a href="#"
				class="easyui-linkbutton" iconCls="icon-export"
				onclick="doExport('grid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked"
					onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框  *迁移-->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true"
	shadow="true" draggable="false" title="需求信息" style="padding: 20px"
	modal="true" border="thin" closed="true"
	data-options="
				iconCls: 'icon-save',
				width: 680,
				height: 480,
				href:'${contextPath}/demand/add',
				modal : true,
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'提交',
					handler:function(){
							$.messager.confirm('确认', '提交后信息不能在进行编辑！', function(r) {
								if (r) {
								       submit();
								}})
					}}
					,{
					text:'取消',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">

</div>
        <!-- 隐藏编辑框 -->
        <div id="progressDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="true" title="流程图" style="padding:20px" modal="true" border="thin" closed="true"
             data-options="
				iconCls: 'icon-save',
				width:800,
				height:450
			">
            <img id="processInstanceImg" />
        </div>
        <div id="win" style="display: none;"  ></div>
                <!-- 隐藏编辑框 -->
        <div id="demandForTaskDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="true"  style="padding:20px" modal="true" border="thin" closed="true"
             data-options="
				iconCls: 'icon-save',
				width: 680,
				height: 480
			">
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" id="demandForTaskSrc"  scrolling="no"  width="100%" height="100%"></iframe>
        </div>
        <input type="hidden" value="demand_index" id="pageType"/>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->

<script type="text/javascript">
		$.extend($.fn.validatebox.defaults.rules, {
			englishLowerCase: {
		        validator: function (value, param) {
		            return /^[a-zA-Z0-9]{0,30}$/.test(value)//其他长度注意改正则
		        },
		        message: '只能输入字母或数字且长度小于30！'
		    }
		});
        //打开新增窗口
        function openInsert(){
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#dlg').dialog('refresh');
            $('#_form').form('clear');
            formFocus("_form", "_serialNumber");
        }
        //打开被驳回的需求进行编辑
        function openUpdateForTask(id){
    		$("#demandForTaskSrc").attr("src",'${contextPath!}/demand/editForTaskByAlm.html?id=' +id); //设置IFRAME的SRC;
            $("#demandForTaskDlg").dialog({
                bgiframe: true,
                resizable: true, //是否可以重置大小
                height: 480, //高度
                width: 626, //宽度
                draggable: false, //是否可以拖动。
                title: "修改编辑",
                modal: true,
                open: function (e) {  //打开的时候触发的事件
                  
                    document.body.style.overflow = "hidden"; //隐藏滚动条
                },
                close: function () { //关闭Dialog时候触发的事件
                    document.body.style.overflow = "visible";  //显示滚动条
                    Test();
                }
            })
            $('#demandForTaskDlg').dialog('open');
            $('#demandForTaskDlg').dialog('center');
        }
        //打开审批
        function openForTask(id){
    		$("#demandForTaskSrc").attr("src",'${contextPath!}/demand/submitApproveByAlm.html?id=' +id); //设置IFRAME的SRC;
            $("#demandForTaskDlg").dialog({
                bgiframe: true,
                resizable: true, //是否可以重置大小
                height: 480, //高度
                width: 626, //宽度
                draggable: false, //是否可以拖动。
                title: "审批",
                modal: true,
                open: function (e) {  //打开的时候触发的事件
                  
                    document.body.style.overflow = "hidden"; //隐藏滚动条
                },
                close: function () { //关闭Dialog时候触发的事件
                    document.body.style.overflow = "visible";  //显示滚动条
                    Test();
                }
            })
            setIframeHeight();
            $('#demandForTaskDlg').dialog('open');
            $('#demandForTaskDlg').dialog('center');
        }
        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            
        	if(selected.processFlag==1){//驳回重新编辑
        		openUpdateForTask(selected.id);
        	}else if(selected.$_status==1){
        		//未提流程交编辑
                //重新读取需求信息
                var htmlobj = $.ajax({url : "${contextPath}/demand/editFlag.json?id=" + selected.id,async : false});
    			var str = htmlobj.responseText;
    			var returnInfo = $.parseJSON(str);
    			if(returnInfo.code=="5000"){
    				$.messager.alert('警告',returnInfo.message);
    				return;
    			}
                $('#dlg').dialog('open');
                $('#dlg').dialog('center');
                //formFocus("_form", "_serialNumber");
                //重新读取需求信息
                var htmlobj = $.ajax({url : "${contextPath}/demand/demandInfo.json?id=" + selected.id,async : false});
    			var str = htmlobj.responseText;
    			var detailInfo = $.parseJSON(str);
    			
                var formData = $.extend({},detailInfo);
                formData = addKeyStartWith(getOriginalData(formData),"_");
                console.log(formData);
                if(formData._content==""){
                	editor.txt.html("<p>请输入内容...</p><p><br></p>");
                }else{
                	 editor.txt.html(formData._content)
                }
                if(formData._reason==""){
                	editor2.txt.html("<p>请输入内容...</p><p><br></p>");
                }else{
                	 editor2.txt.html(formData._reason)
                }
                formData._finishDate=dateFormat_1(formData._finishDate);
                formData.documentUrl=formData._documentUrl;
                console.log(formData);
                $('#_form').form('load', formData);
                console.log('${contextPath!}/demand/files/list?id='+formData._id);
        		$('#demandFileGrid').datagrid({url:'${contextPath!}/demand/files/list?id='+formData._id });

        	}
        }

        /*
        *直接提交
        */
        function submit(){
            if(!$('#_form').form("validate")){
                return;
            }
            if(editor.txt.html()=="<p>请输入内容...</p><p><br></p>"||editor.txt.html()=="<p><br></p>"||editor.txt.html()==""){
            	 $.messager.alert('警告','需求内容为必填项目');
            	 return;
            }

            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
             
            //设置需求内容
            _formData.content = editor.txt.html();
            //设置需求背景
            if(editor2.txt.html()=="<p>请输入内容...</p><p><br></p>"||editor.txt.html()=="<p><br></p>"){
            	_formData.reason =  editor2.txt.html("");
            }else{
            	//设置需求背景内容
                _formData.reason = editor2.txt.html();
            }
            if(editor2.txt.html()!="<p>请输入内容...</p><p><br></p>"||editor2.txt.html()!=""){
            	_formData.reason =  editor2.txt.html();
            }
            var _url = "${contextPath}/demand/submint";
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }
        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            if(editor.txt.html()=="<p>请输入内容...</p><p><br></p>"||editor.txt.html()=="<p><br></p>"){
           	 $.messager.alert('警告','需求内容为必填项目');
           	 return;
           }

            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            //设置需求内容
            _formData.content = editor.txt.html();
            //设置需求背景
            if(editor2.txt.html()=="<p>请输入内容...</p><p><br></p>"){
            	_formData.reason =  editor2.txt.html("");
            }else{
            	//设置需求背景内容
                _formData.reason = editor2.txt.html();
            }
            if(editor2.txt.html()!="<p>请输入内容...</p><p><br></p>"||editor2.txt.html()!=""){
            	_formData.reason =  editor2.txt.html();
            }
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/demand/insert";
            }else{//有id就修改
                _url = "${contextPath}/demand/update";
            }
            console.log(_formData);
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }

                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }
        

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/demand/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/demand/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            
            var param = bindMetadata("grid", true);
            var formData = $("#form").serializeObject();
            $.extend(param, formData);
            $("#grid").datagrid("load", param);
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
            $("#status_search").val(1); 
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }
        function formatOptions(value, row, index) {
        	var content = "";
        	
        	//签收isNeedClaim  审批isHandleProcess  驳回编辑processFlag
        	if(row.$_status==3&&!row.isHandleProcess){//审批中的显示进度
        		content+='<span style="padding:2px;"><a href="javascript:void(0)" onclick="showProgress('+index+')">查看进度</a></span>';
        	}else if(row.isHandleProcess&&row.isNeedClaim){
        		content+='<span style="padding:2px;"><a href="javascript:void(0)" style="color:red;" onclick="doClaim('+row.id+')">签收</a></span>';
        	}else if(row.isHandleProcess&&!row.isNeedClaim&&row.processFlag==1){
        		content+='<span style="padding:2px;color:red;"><a style="color:red;" href="javascript:void(0)" onclick="openUpdateForTask('+row.id+')">驳回修改</a></span>';
        	}else if(row.isHandleProcess&&!row.isNeedClaim){
        		content+='<span style="padding:2px;color:red;"><a style="color:red;" href="javascript:void(0)" onclick="openForTask('+row.id+')">审批</a></span>';
        	}
        	
        	content+='<span style="padding:2px;"><a href="javascript:void(0)" onclick="showDemandDetail('+row.id+')">查看详情</a></span>';
        	
        	return content;
        }
        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            //bindFormEvent("form", "serialNumber", queryGrid);
           // bindFormEvent("_form", "_serialNumber", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
          $("#status_search").val(1);  
          queryGrid();
          $('#dlg').dialog('open');
          $('#dlg').dialog('close');
          
          tabsOnSelect();  
        })

       function dateFormat_1(longTypeDate) {
    		var dateType = "";
    		var date = new Date();
    		date.setTime(longTypeDate);
    		dateType += date.getFullYear(); // 年
    		dateType += "-" + getMonth(date); // 月
    		dateType += "-" + getDay(date); // 日
    		return dateType;
    	}

    	// 返回 01-12 的月份值
    	function getMonth(date) {
    		var month = "";
    		month = date.getMonth() + 1; // getMonth()得到的月份是0-11
    		if (month < 10) {
    			month = "0" + month;
    		}
    		return month;
    	}
    	// 返回01-30的日期
    	function getDay(date) {
    		var day = "";
    		day = date.getDate();
    		if (day < 10) {
    			day = "0" + day;
    		}
    		return day;
    	}
    	
        /**
         * 显示流程图,查看进度图片
         * @param processInstanceId
         * @param processDefinitionId
         * @param processInstanceName
         */
        function showProgress(index){
        	var rows = $("#grid").datagrid('getRows');//获得所有行
        	var r = rows[index];//根据index获得其中一行。
            //var selected = $("#grid").datagrid("getSelected");
            if (null == r) {

            	console.log(r);
            	return;
            }
            $('#progressDlg').dialog('open');
            $('#progressDlg').dialog('center');
            var href = '<#config name="bpmc.server.address"/>/api/runtime/progress?processInstanceId='+r.processInstanceId+'&processDefinitionId='+r.processDefinitionId+"&"+Math.random();
            $("#processInstanceImg").attr("src", href);
        }
        
        function showDemandDetail(id){
        	$('#win').dialog({
    			title : '需求详情',
    			width : 800,
    			height : 550,
    			href : '${contextPath!}/demand/detail?id=' + id,
    			modal : true,
    			buttons : [{
    						text : '返回',
    						handler : function() {
    							$('#win').dialog('close');
    						}
    					}]
    		});
        }
        
        function tabsOnSelect(){
            $('#statusTab').tabs({
              	onSelect: function(title,index){
              		var status = 1;
              		if(title=="草稿"){
              			status=1;
              		}else if(title=="已提交"){
              			status=3;
              		}else if(title=="处理完"){
              			status=4;
              		}
      				$("#status_search").val(status);
      				 queryGrid();
              	  }
              	});
        }
        //子页面回调函数
        function CloseEditPage() {
            $("#demandForTaskDlg").dialog("close");
            queryGrid();
        }

        
        function doClaim(id){
            $.ajax({
                type: "POST",
                url: "${contextPath}/demand/doClaimTask.action",
                data: {id:id},
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }
        
        function setIframeHeight(){
	        	try{
		        	var iframe = document.getElementById("demandForTaskSrc");
		        	iframe.height=0;
		        	if(iframe.attachEvent){
				        	iframe.attachEvent("onload", function(){
				        	iframe.height = iframe.contentWindow.document.documentElement.scrollHeight+80;
			        	});
		        		return;
		        	}else{
			        	iframe.onload = function(){
				        	iframe.height = iframe.contentDocument.body.scrollHeight+80;
			        	};
			        	return;
		        	}
		        	}catch(e){
		        	throw new Error('setIframeHeight Error');
	        	}
        	}
    </script>
</#body>
