<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:demand<br/>
    类名:Demand<br/>
    表名:demand<br/>
    表注释:<br/>
    实体对象名:Demand<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:自增编号,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:serial_number,
        javaProperty:String:serialNumber,
        defaultValue:String:,
        remarks:String:需求编号，区域首字母+年月日+时分+001自增数字,
        length:int:25,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:name,
        javaProperty:String:name,
        defaultValue:String:,
        remarks:String:需求名称,
        length:int:25,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:user_id,
        javaProperty:String:userId,
        defaultValue:String:,
        remarks:String:需求申请人,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:belong_pro_id,
        javaProperty:String:belongProId,
        defaultValue:String:,
        remarks:String:所属系统,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:type,
        javaProperty:String:type,
        defaultValue:String:,
        remarks:String:需求类型（数据字典）,
        length:int:3,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:status,
        javaProperty:String:status,
        defaultValue:String:,
        remarks:String:需求状态（数据字典）,
        length:int:3,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:finish_date,
        javaProperty:String:finishDate,
        defaultValue:String:,
        remarks:String:需求期望实现时间(年月日),
        length:int:10,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:DATE,
        scale:int:0,
        jdbcTypeName:String:DATE,
        jdbcType:int:91:DATE
        ===========================================================================
        actualColumnName:String:document_url,
        javaProperty:String:documentUrl,
        defaultValue:String:,
        remarks:String:相关附件,
        length:int:120,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:create_date,
        javaProperty:String:createDate,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:submit_date,
        javaProperty:String:submitDate,
        defaultValue:String:0000-00-00 00:00:00,
        remarks:String:提交时间（开启流程）,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:content,
        javaProperty:String:content,
        defaultValue:String:,
        remarks:String:需求内容,
        length:int:65535,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:LONGVARCHAR,
        scale:int:0,
        jdbcTypeName:String:LONGVARCHAR,
        jdbcType:int:-1:LONGVARCHAR
        ===========================================================================
        actualColumnName:String:reason,
        javaProperty:String:reason,
        defaultValue:String:,
        remarks:String:需求背景,
        length:int:65535,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:LONGVARCHAR,
        scale:int:0,
        jdbcTypeName:String:LONGVARCHAR,
        jdbcType:int:-1:LONGVARCHAR
        ===========================================================================
</body>
</html>