<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.OnlineDataChangeMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.OnlineDataChange">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_user_id" jdbcType="BIGINT" property="applyUserId" />
    <result column="apply_market_id" jdbcType="VARCHAR" property="applyMarketId" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="version_id" jdbcType="BIGINT" property="versionId" />
    <result column="apply_date" jdbcType="TIMESTAMP" property="applyDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="dba_name" jdbcType="VARCHAR" property="dbaName" />
    <result column="sql_script" jdbcType="VARCHAR" property="sqlScript" />
    <result column="sql_file_id" jdbcType="VARCHAR" property="sqlFileId" />
    <result column="is_synchronization" jdbcType="TINYINT" property="isSynchronization" />
    <result column="is_submit" jdbcType="TINYINT" property="isSubmit" />
    <result column="data_status" jdbcType="TINYINT" property="dataStatus" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
	<result column="process_definition_id" jdbcType="VARCHAR" property="processDefinitionId" />
	<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, apply_user_id, apply_market_id, project_id, version_id, apply_date, update_date, 
    dba_name, sql_script, sql_file_id,is_synchronization,is_submit,data_status,process_instance_id,process_definition_id,create_date
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from online_data_change
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.OnlineDataChange">
    <!--
      WARNING - @mbg.generated
    -->
    update online_data_change
    <set>
      <if test="applyUserId != null">
        apply_user_id = #{applyUserId,jdbcType=BIGINT},
      </if>
      <if test="applyMarketId != null">
        apply_market_id = #{applyMarketId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="applyDate != null">
        apply_date = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dbaName != null">
        dba_name = #{dbaName,jdbcType=VARCHAR},
      </if>
      <if test="sqlScript != null">
        sql_script = #{sqlScript,jdbcType=VARCHAR},
      </if>
      <if test="sqlFileId != null">
        sql_file_id = #{sqlFileId,jdbcType=VARCHAR},
      </if>
      <if test="isSynchronization != null">
        is_synchronization = #{isSynchronization,jdbcType=TINYINT},
      </if>
      <if test="isSubmit != null">
        is_submit = #{isSubmit,jdbcType=TINYINT},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=TINYINT},
      </if>
      <if test="processInstanceId != null">
		process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
	 </if>
	 <if test="processDefinitionId != null">
	 	process_definition_id = #{processDefinitionId,jdbcType=VARCHAR},
	 </if>
	  <if test="createDate != null">
         create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
	 
      
      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="selectList" parameterType="com.dili.alm.domain.OnlineDataChange" resultType="com.dili.alm.domain.OnlineDataChange">
  
      select 
     <include refid="Base_Column_List" />
     from online_data_change
    <where>
        1=1
      <if test="applyUserId != null">
      and    apply_user_id = #{applyUserId,jdbcType=BIGINT}
      </if>
      <if test="applyMarketId != null">
       and   apply_market_id = #{applyMarketId,jdbcType=VARCHAR}
      </if>
      <if test="projectId != null">
        and  project_id = #{projectId,jdbcType=BIGINT}
      </if>
      <if test="versionId != null">
       and   version_id = #{versionId,jdbcType=BIGINT}
      </if>
      <if test="applyDate != null">
         <![CDATA[
           and DATE_FORMAT(apply_date, '%Y-%m-%d') =  DATE_FORMAT(#{applyDate}, '%Y-%m-%d')
         ]]>
      </if>
      <if test="updateDate != null">
      
        <![CDATA[
           and DATE_FORMAT(update_date, '%Y-%m-%d') =  DATE_FORMAT(#{updateDate}, '%Y-%m-%d')
        ]]>


      </if>
      <if test="dbaName != null">
         and dba_name = #{dbaName,jdbcType=VARCHAR}
      </if>
      <if test="sqlFileId != null">
         and sql_file_id = #{sqlFileId,jdbcType=VARCHAR}
      </if>
      <if test="isSynchronization != null">
         and is_synchronization = #{isSynchronization,jdbcType=TINYINT}
      </if>
      <if test="isSubmit != null">
        and  is_submit = #{isSubmit,jdbcType=TINYINT}
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=TINYINT}
      </if>
      <if test="processInstanceId != null">
		process_instance_id = #{processInstanceId,jdbcType=VARCHAR}
	  </if>
	  <if test="processDefinitionId != null">
	 	process_definition_id = #{processDefinitionId,jdbcType=VARCHAR},
	 </if>
      
      
    </where>
   
  </select>
  
  
  
  
</mapper>