<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.ProjectCompleteMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.ProjectComplete">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="launch_date" jdbcType="TIMESTAMP" property="launchDate" />
    <result column="complete_date" jdbcType="TIMESTAMP" property="completeDate" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="information" jdbcType="VARCHAR" property="information" />
    <result column="range" jdbcType="VARCHAR" property="range" />
    <result column="management_method" jdbcType="VARCHAR" property="managementMethod" />
    <result column="appraise" jdbcType="VARCHAR" property="appraise" />
    <result column="technical_evaluation" jdbcType="VARCHAR" property="technicalEvaluation" />
    <result column="raise" jdbcType="VARCHAR" property="raise" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="performance" jdbcType="VARCHAR" property="performance" />
    <result column="suggest" jdbcType="VARCHAR" property="suggest" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="members" jdbcType="VARCHAR" property="members" />
    <result column="hardware" jdbcType="VARCHAR" property="hardware" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="create_member_id" jdbcType="BIGINT" property="createMemberId" />
    <result column="modify_member_id" jdbcType="BIGINT" property="modifyMemberId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, number, name, type, launch_date, complete_date, reason, information, 
    range, management_method, appraise, technical_evaluation, raise, result, product, 
    performance, suggest, question, members, hardware, email, status, created, modified, 
    create_member_id, modify_member_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from project_complete
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.ProjectComplete">
    <!--
      WARNING - @mbg.generated
    -->
    update project_complete
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="launchDate != null">
        launch_date = #{launchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDate != null">
        complete_date = #{completeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        information = #{information,jdbcType=VARCHAR},
      </if>
      <if test="range != null">
        range = #{range,jdbcType=VARCHAR},
      </if>
      <if test="managementMethod != null">
        management_method = #{managementMethod,jdbcType=VARCHAR},
      </if>
      <if test="appraise != null">
        appraise = #{appraise,jdbcType=VARCHAR},
      </if>
      <if test="technicalEvaluation != null">
        technical_evaluation = #{technicalEvaluation,jdbcType=VARCHAR},
      </if>
      <if test="raise != null">
        raise = #{raise,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="product != null">
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="performance != null">
        performance = #{performance,jdbcType=VARCHAR},
      </if>
      <if test="suggest != null">
        suggest = #{suggest,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="members != null">
        members = #{members,jdbcType=VARCHAR},
      </if>
      <if test="hardware != null">
        hardware = #{hardware,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="createMemberId != null">
        create_member_id = #{createMemberId,jdbcType=BIGINT},
      </if>
      <if test="modifyMemberId != null">
        modify_member_id = #{modifyMemberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>