<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ProjectPhaseMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.ProjectPhase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="version_id" jdbcType="BIGINT" property="versionId" />
    <result column="planned_start_date" jdbcType="TIMESTAMP" property="plannedStartDate" />
    <result column="planned_end_date" jdbcType="TIMESTAMP" property="plannedEndDate" />
    <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate" />
    <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="completed_progress" jdbcType="INTEGER" property="completedProgress" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="notice" jdbcType="BIT" property="notice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, project_id, version_id, planned_start_date, planned_end_date, actual_start_date, 
    actual_end_date, creator_id, modifier_id, completed_progress, created, modified, 
    notice
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from project_phase
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.ProjectPhase">
    <!--
      WARNING - @mbg.generated
    -->
    update project_phase
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="plannedStartDate != null">
        planned_start_date = #{plannedStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedEndDate != null">
        planned_end_date = #{plannedEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null">
        actual_start_date = #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null">
        actual_end_date = #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="completedProgress != null">
        completed_progress = #{completedProgress,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
	<!-- WARNING - @mbg.generated -->
	<resultMap id="BaseResultMap" type="com.dili.alm.domain.ProjectPhase">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="version_id" jdbcType="BIGINT" property="versionId" />
		<result column="planned_start_date" jdbcType="TIMESTAMP" property="plannedStartDate" />
		<result column="planned_end_date" jdbcType="TIMESTAMP" property="plannedEndDate" />
		<result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate" />
		<result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
		<result column="completed_progress" jdbcType="INTEGER" property="completedProgress" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="modified" jdbcType="TIMESTAMP" property="modified" />
		<result column="notice" jdbcType="BIT" property="notice" />
	</resultMap>
	<sql id="Join_Column_List">
		pp.id,
		pp.name,
		pp.project_id,
		pp.version_id,
		pp.planned_start_date,
		pp.planned_end_date,
		pp.actual_start_date,
		pp.actual_end_date,
		pp.creator_id,
		pp.modifier_id,
		pp.completed_progress,
		pp.created,
		pp.modified,
		pp.notice
	</sql>

	<select id="selectByProjectState" resultMap="BaseResultMap" resultType="Integer">
		SELECT
		<include refid="Join_Column_List" />
		FROM
		project_phase pp
		INNER JOIN project p ON pp.project_id = p.id WHERE
		p.project_state = #{projectStatus}
	</select>
</mapper>