<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.ProjectOnlineApplyMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.ProjectOnlineApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="project_serial_number" jdbcType="VARCHAR" property="projectSerialNumber" />
    <result column="version_id" jdbcType="BIGINT" property="versionId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="business_owner_id" jdbcType="BIGINT" property="businessOwnerId" />
    <result column="project_manager_id" jdbcType="BIGINT" property="projectManagerId" />
    <result column="product_manager_id" jdbcType="BIGINT" property="productManagerId" />
    <result column="test_manager_id" jdbcType="BIGINT" property="testManagerId" />
    <result column="development_manager_id" jdbcType="BIGINT" property="developmentManagerId" />
    <result column="online_date" jdbcType="TIMESTAMP" property="onlineDate" />
    <result column="dependency_description" jdbcType="VARCHAR" property="dependencyDescription" />
    <result column="scope_description" jdbcType="VARCHAR" property="scopeDescription" />
    <result column="applicant_id" jdbcType="BIGINT" property="applicantId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="apply_state" jdbcType="INTEGER" property="applyState" />
    <result column="actual_online_date" jdbcType="TIMESTAMP" property="actualOnlineDate" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="executor_id" jdbcType="VARCHAR" property="executorId" />
    <result column="git" jdbcType="VARCHAR" property="git" />
    <result column="branch" jdbcType="VARCHAR" property="branch" />
    <result column="sql_script" jdbcType="VARCHAR" property="sqlScript" />
    <result column="sql_file_id" jdbcType="BIGINT" property="sqlFileId" />
    <result column="startup_script" jdbcType="VARCHAR" property="startupScript" />
    <result column="startup_script_file_id" jdbcType="BIGINT" property="startupScriptFileId" />
    <result column="dependency_system" jdbcType="VARCHAR" property="dependencySystem" />
    <result column="dependency_system_file_id" jdbcType="BIGINT" property="dependencySystemFileId" />
    <result column="other_description" jdbcType="VARCHAR" property="otherDescription" />
    <result column="process_instance_id" jdbcType="VARCHAR" property="processInstanceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, serial_number, project_name, project_id, project_serial_number, version_id, version, 
    business_owner_id, project_manager_id, product_manager_id, test_manager_id, development_manager_id, 
    online_date, dependency_description, scope_description, applicant_id, created, apply_state, 
    actual_online_date, submit_time, executor_id, git, branch, sql_script, sql_file_id, 
    startup_script, startup_script_file_id, dependency_system, dependency_system_file_id, 
    other_description,process_instance_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from project_online_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.ProjectOnlineApply">
    <!--
      WARNING - @mbg.generated
    -->
    update project_online_apply
    <set>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="projectSerialNumber != null">
        project_serial_number = #{projectSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="businessOwnerId != null">
        business_owner_id = #{businessOwnerId,jdbcType=BIGINT},
      </if>
      <if test="projectManagerId != null">
        project_manager_id = #{projectManagerId,jdbcType=BIGINT},
      </if>
      <if test="productManagerId != null">
        product_manager_id = #{productManagerId,jdbcType=BIGINT},
      </if>
      <if test="testManagerId != null">
        test_manager_id = #{testManagerId,jdbcType=BIGINT},
      </if>
      <if test="developmentManagerId != null">
        development_manager_id = #{developmentManagerId,jdbcType=BIGINT},
      </if>
      <if test="onlineDate != null">
        online_date = #{onlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dependencyDescription != null">
        dependency_description = #{dependencyDescription,jdbcType=VARCHAR},
      </if>
      <if test="scopeDescription != null">
        scope_description = #{scopeDescription,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null">
        applicant_id = #{applicantId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="applyState != null">
        apply_state = #{applyState,jdbcType=INTEGER},
      </if>
      <if test="actualOnlineDate != null">
        actual_online_date = #{actualOnlineDate,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executorId != null">
        executor_id = #{executorId,jdbcType=VARCHAR},
      </if>
      <if test="git != null">
        git = #{git,jdbcType=VARCHAR},
      </if>
      <if test="branch != null">
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="sqlScript != null">
        sql_script = #{sqlScript,jdbcType=VARCHAR},
      </if>
      <if test="sqlFileId != null">
        sql_file_id = #{sqlFileId,jdbcType=BIGINT},
      </if>
      <if test="startupScript != null">
        startup_script = #{startupScript,jdbcType=VARCHAR},
      </if>
      <if test="startupScriptFileId != null">
        startup_script_file_id = #{startupScriptFileId,jdbcType=BIGINT},
      </if>
      <if test="dependencySystem != null">
        dependency_system = #{dependencySystem,jdbcType=VARCHAR},
      </if>
      <if test="dependencySystemFileId != null">
        dependency_system_file_id = #{dependencySystemFileId,jdbcType=BIGINT},
      </if>
      <if test="otherDescription != null">
        other_description = #{otherDescription,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    
   <select id="selectProjectOnlineApplyByExecutorId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_online_apply
    where executor_id REGEXP #{uapUserId,jdbcType=BIGINT};
  </select>
  
  
  
  
  
  
  
</mapper>