<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.ProjectPhaseMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.ProjectPhase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="version_id" jdbcType="BIGINT" property="versionId" />
    <result column="planned_start_date" jdbcType="TIMESTAMP" property="plannedStartDate" />
    <result column="planned_end_date" jdbcType="TIMESTAMP" property="plannedEndDate" />
    <result column="actual_start_date" jdbcType="TIMESTAMP" property="actualStartDate" />
    <result column="actual_end_date" jdbcType="TIMESTAMP" property="actualEndDate" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, project_id, version_id, planned_start_date, planned_end_date, actual_start_date, 
    actual_end_date, creator_id, modifier_id, created, modified
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from project_phase
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.ProjectPhase">
    <!--
      WARNING - @mbg.generated
    -->
    update project_phase
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="plannedStartDate != null">
        planned_start_date = #{plannedStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="plannedEndDate != null">
        planned_end_date = #{plannedEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartDate != null">
        actual_start_date = #{actualStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="actualEndDate != null">
        actual_end_date = #{actualEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>