<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.SequenceMapper">
	<resultMap id="BaseResultMap" type="com.dili.alm.domain.Sequence">
		<!-- WARNING - @mbg.generated -->
		<result column="number" jdbcType="INTEGER" property="number" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		number
	</sql>

	<select id="getByType" parameterType="String" resultType="INT">
		<!-- WARNING - @mbg.generated -->
		select
		<include refid="Base_Column_List" />
		from sequence where type = #{type}
	</select>

	<update id="updateByType" parameterType="INT">
		update sequence set number=#{number} where type = #{type}
	</update>
</mapper>