<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.TaskMapper">
	<resultMap id="BaseResultMap" type="com.dili.alm.domain.Task">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="project_id" jdbcType="BIGINT" property="projectId" />
		<result column="version_id" jdbcType="BIGINT" property="versionId" />
		<result column="phase_id" jdbcType="BIGINT" property="phaseId" />
		<result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
		<result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
		<result column="before_task" jdbcType="BIGINT" property="beforeTask" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="owner" jdbcType="BIGINT" property="owner" />
		<result column="plan_time" jdbcType="SMALLINT" property="planTime" />
		<result column="flow" jdbcType="BIT" property="flow" />
		<result column="change_id" jdbcType="BIGINT" property="changeId" />
		<result column="describe" jdbcType="VARCHAR" property="describe" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="created" jdbcType="TIMESTAMP" property="created" />
		<result column="modified" jdbcType="TIMESTAMP" property="modified" />
		<result column="create_member_id" jdbcType="BIGINT" property="createMemberId" />
		<result column="modify_member_id" jdbcType="BIGINT" property="modifyMemberId" />
		<result column="fact_begin_date" jdbcType="TIMESTAMP" property="factBeginDate" />
		<result column="fact_end_date" jdbcType="TIMESTAMP" property="factEndDate" />
	</resultMap>

	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		id, name, project_id, version_id, phase_id, start_date, end_date,
		before_task, type,
		owner, plan_time, flow, change_id, describe, status,
		created, modified,
		create_member_id,
		modify_member_id,fact_begin_date,fact_end_date
	</sql>

	<sql id="Join_Column_List">
		t.id,
		t.name,
		t.project_id,
		t.version_id,
		t.phase_id,
		t.start_date,
		t.end_date,
		t.before_task,
		t.type,
		t.owner,
		t.plan_time,
		t.flow,
		t.change_id,
		t.describe,
		t.status,
		t.created,
		t.modified,
		t.create_member_id,
		t.modify_member_id,
		t.fact_begin_date,
		t.fact_end_date
	</sql>

	<select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
		<!-- WARNING - @mbg.generated -->
		select
		<include refid="Base_Column_List" />
		from task
		where id = #{id,jdbcType=BIGINT}
	</select>
	<update id="updateBy" parameterType="com.dili.alm.domain.Task">
		<!-- WARNING - @mbg.generated -->
		update task
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=BIGINT},
			</if>
			<if test="versionId != null">
				version_id = #{versionId,jdbcType=BIGINT},
			</if>
			<if test="phaseId != null">
				phase_id = #{phaseId,jdbcType=BIGINT},
			</if>
			<if test="startDate != null">
				start_date = #{startDate,jdbcType=TIMESTAMP},
			</if>
			<if test="endDate != null">
				end_date = #{endDate,jdbcType=TIMESTAMP},
			</if>
			<if test="beforeTask != null">
				before_task = #{beforeTask,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="owner != null">
				owner = #{owner,jdbcType=BIGINT},
			</if>
			<if test="planTime != null">
				plan_time = #{planTime,jdbcType=SMALLINT},
			</if>
			<if test="flow != null">
				flow = #{flow,jdbcType=BIT},
			</if>
			<if test="changeId != null">
				change_id = #{changeId,jdbcType=BIGINT},
			</if>
			<if test="describe != null">
				describe = #{describe,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="created != null">
				created = #{created,jdbcType=TIMESTAMP},
			</if>
			<if test="modified != null">
				modified = #{modified,jdbcType=TIMESTAMP},
			</if>
			<if test="createMemberId != null">
				create_member_id = #{createMemberId,jdbcType=BIGINT},
			</if>
			<if test="modifyMemberId != null">
				modify_member_id = #{modifyMemberId,jdbcType=BIGINT},
			</if>
			<if test="factBeginDate != null">
				start_date = #{factBeginDate,jdbcType=TIMESTAMP},
			</if>
			<if test="factEndDate != null">
				end_date = #{factEndDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectByProjectState" parameterType="Integer"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Join_Column_List" />
		FROM
		task t
		INNER JOIN project_phase pp ON t.phase_id = pp.id
		INNER JOIN
		project p ON pp.project_id = p.id
		WHERE p.project_state = 1
	</select>

	<select id="countByPhaseIdAndStatus" parameterType="java.util.Map"
		resultType="Integer">
		select count(*) from task where (status = #{startStatus} or
		status =
		#{notCompletedStatus}) and phaseId = #{phaseId}
	</select>
</mapper>