<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.TravelCostApplyMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.TravelCostApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial_number" jdbcType="VARCHAR" property="serialNumber" />
    <result column="apply_type" jdbcType="INTEGER" property="applyType" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="custom_note" jdbcType="VARCHAR" property="customNote" />
    <result column="applicant_id" jdbcType="BIGINT" property="applicantId" />
    <result column="root_departemnt_id" jdbcType="BIGINT" property="rootDepartemntId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="apply_state" jdbcType="INTEGER" property="applyState" />
    <result column="total_amount" jdbcType="BIGINT" property="totalAmount" />
    <result column="travel_day_amount" jdbcType="INTEGER" property="travelDayAmount" />
    <result column="submit_date" jdbcType="TIMESTAMP" property="submitDate" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="modification_time" jdbcType="TIMESTAMP" property="modificationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, serial_number, apply_type, project_id, custom_note, applicant_id, root_departemnt_id, 
    department_id, apply_state, total_amount, travel_day_amount, submit_date, creation_time, 
    modification_time
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from travel_cost_apply
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.TravelCostApply">
    <!--
      WARNING - @mbg.generated
    -->
    update travel_cost_apply
    <set>
      <if test="serialNumber != null">
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="customNote != null">
        custom_note = #{customNote,jdbcType=VARCHAR},
      </if>
      <if test="applicantId != null">
        applicant_id = #{applicantId,jdbcType=BIGINT},
      </if>
      <if test="rootDepartemntId != null">
        root_departemnt_id = #{rootDepartemntId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="applyState != null">
        apply_state = #{applyState,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=BIGINT},
      </if>
      <if test="travelDayAmount != null">
        travel_day_amount = #{travelDayAmount,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null">
        submit_date = #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modificationTime != null">
        modification_time = #{modificationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>