<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.WeeklyMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.Weekly">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="risk" jdbcType="VARCHAR" property="risk" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="progress" jdbcType="VARCHAR" property="progress" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="create_member_id" jdbcType="BIGINT" property="createMemberId" />
    <result column="modify_member_id" jdbcType="BIGINT" property="modifyMemberId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, start_date, end_date, risk, question, progress, created, modified, 
    create_member_id, modify_member_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from weekly
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.Weekly">
    <!--
      WARNING - @mbg.generated
    -->
    update weekly
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="risk != null">
        risk = #{risk,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="createMemberId != null">
        create_member_id = #{createMemberId,jdbcType=BIGINT},
      </if>
      <if test="modifyMemberId != null">
        modify_member_id = #{modifyMemberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
  <!-- 分页查询 -->
  
  <select id="selectListPageByWeeklyPara" parameterType="com.dili.alm.domain.dto.WeeklyPara" resultType="com.dili.alm.domain.dto.WeeklyPara">
  
    select   p.serial_number as "serialNumber",p.`name` as "projectName" , w.id as 'id',
             p.type as "projectType",p.product_manager as "userName",
             w.progress as "projectStatus",w.end_date as "endDate"  ,w.start_date as "startDate"
         from   project p,weekly  w 
        <where>
             p.id=w.project_id
          
            <if test="projectName != null">
	           and   p.`name` = #{projectName,jdbcType=VARCHAR}
	        </if>
	        
	         <if test="projectType != null">
	            and   p.type = #{projectType,jdbcType=VARCHAR}
	        </if>
		
		    <if test="userName != null">
	            and  p.project_manager= #{userName,jdbcType=VARCHAR}
	        </if>
	       
	        <if test="projectStatus != null">
	           and   p.project_state= #{projectStatus,jdbcType=INTEGER}
	        </if>
	        
		    <if test="serialNumber != null">
	           and   p.serial_number = #{serialNumber,jdbcType=VARCHAR}
	        </if>
	        <if test="startDate!=null and startDate!=''">
			　　AND w.start_date &gt;= 	STR_TO_DATE(#{startDate},'YYYY-MM-DD HH24:mi:ss')
			</if> 
			<if test="endDate!=null and endDate!=''">
			  AND  w.end_date   &lt;=	STR_TO_DATE(#{endDate},'YYYY-MM-DD HH24:mi:ss')
			</if>
	        
		 </where>       
              
        
  </select>
  
  <!-- 分页查询总条数 -->
    <select id="selectPageByWeeklyParaCount" parameterType="com.dili.alm.domain.dto.WeeklyPara" resultType="int">
  
       select count(1)  as 'total' from   project p,weekly  w 
       
        <where>
             p.id=w.project_id
	          <if test="startDate!=null and startDate!=''">
		  	　 
			   AND   w.start_date &gt;=  STR_TO_DATE(#{startDate},'YYYY-MM-DD HH24:mi:ss') 
			</if> 
			<if test="endDate!=null and endDate!=''">
			  AND   w.end_date &lt;=	STR_TO_DATE(#{endDate},'YYYY-MM-DD HH24:mi:ss')
			</if>
	        
		 </where>       
        
   </select>
   
   
   
   
   <!-- 项目详情-->
   <select id="selectProjectWeeklyDto" resultType="com.dili.alm.domain.dto.ProjectWeeklyDto" parameterType="Long">
  
           select  p.project_manager  as "userName", p.serial_number  as  "serialNumber", p.`name` as "projectName",
		           p.type  as "projectType" ,a.business_owner as "businessParty",a.expected_launch_date as  "planDate",
		           a.dep  as "projectInDept",p.id as "projectId"
		   from   project  p ,project_apply  a,weekly  w
		   
		 <where>
		      a.ID=p.apply_id and  w.project_id=p.id
		     <if test="_parameter != null">
			    and w.id=#{_parameter,jdbcType=BIGINT}
			</if>
		  
		</where> 
   </select>
   
   
   
   <!-- 本周项目版本 -->
    <select id="selectProjectVersion" resultType="String" parameterType="Long">
    
     select  v.version   from  project_version v
          WHERE v.id in 
         ( select     DISTINCT t.version_id   from  task t 
		   <where>
		           t.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-1)
		          and  t.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-6)
		          and  t.start_date &lt; t.end_date 
		          
		          
		      <if test="_parameter != null">
			     and   t.project_id=#{_parameter,jdbcType=BIGINT}
			  </if>
		   
		   </where> 
         )
		
		
		
   </select>
     <!-- 本周项目阶段 -->
    <select id="selectProjectPhase" resultType="String" parameterType="Long">
  
          select  v.name   from  project_phase v 
          WHERE v.id in 
         ( select     DISTINCT t.phase_id   from  task t 
		   <where>
		           t.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-1)
		          and  t.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-6)
		          and  t.start_date &lt; t.end_date 
		          
		          
		      <if test="_parameter != null">
			    and  t.project_id=#{_parameter,jdbcType=BIGINT}
			  </if>
		   
		   </where> 
         )
   </select>
      <!-- 下周项目阶段 -->
    <select id="selectNextProjectPhase" resultType="String" parameterType="Long">
  
          select  v.name   from  project_phase v 
          WHERE v.id in 
         ( select     DISTINCT t.phase_id   from  task t 
		   <where>
		           t.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-8)
		          and  t.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-13)
		          and  t.start_date &lt; t.end_date 
		          
		          
		      <if test="_parameter != null">
			    and  t.project_id=#{_parameter,jdbcType=BIGINT}
			  </if>
		   
		   </where> 
         )
   </select>
   
   
   
    <!-- 本周进展情况-->
   <select id="selectWeeklyProgress"  resultType="com.dili.alm.domain.dto.TaskDto" parameterType="Long">
       
       select   t.`name`   ,t.phase_id ,t.plan_time ,
		        t.`owner`, t.version_id   ,
		        t.status ,t.start_date ,
		        t.end_date,
		        d.over_hour ,d.task_hour
		
		     from  task  t,task_details d
		      <where>  t.id=d.task_id
		      
		         and   t.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-1)
		          and  t.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-6)
		          and  t.start_date &lt; t.end_date 
		         <if test="_parameter != null">
			           and  t.project_id=#{_parameter,jdbcType=BIGINT}
			     </if>
		       
		      </where> 
   </select>
      <!-- 下周工作计划-->
   <select id="selectNextWeeklyProgress"  resultType="com.dili.alm.domain.dto.NextWeeklyDto" parameterType="Long">
       
       select   t.`name`  ,t.plan_time ,
		        t.`owner`, t.describe  ,t.end_date
		
		     from  task  t
		      <where>  
		           t.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-8)
		          and  t.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-13)
		          and  t.start_date &lt; t.end_date 
		          
		         <if test="_parameter != null">
			           and  t.project_id=#{_parameter,jdbcType=BIGINT}
			     </if>
		       
		      </where> 
   </select>
  <!--   当前重要风险 -->
    <select id="selectWeeklyRist"  resultType="String" parameterType="String">
       
       select   w.risk
		
		     from    weekly  w
		      <where>
		      
		        w.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-1)
		          and  w.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-6)
		          and  w.start_date &lt; w.end_date 
			    <if test="_parameter != null">
		         and      w.id = #{_parameter,jdbcType=VARCHAR}
		        </if>
		    
		       
		      </where> 
   </select>
   <!--   当前重大问题 -->
    <select id="selectWeeklyQuestion"  resultType="String" parameterType="String">
       
       select   
		    w.question  
		         from  weekly  w
		      <where>  
		         
		          w.start_date &gt;= subdate(curdate(),date_format(curdate(),'%w')-1)
		          and  w.end_date &lt;  subdate(curdate(),date_format(curdate(),'%w')-6)
		          and  w.start_date &lt; w.end_date 
			    <if test="_parameter != null">
		          and      w.id = #{_parameter,jdbcType=VARCHAR}
		        </if>
		       
		       
		      </where> 
   </select>
   
   

</mapper>