<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.alm.dao.WorkScheduleMapper">
  <resultMap id="BaseResultMap" type="com.dili.alm.domain.WorkSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schedule_date" jdbcType="TIMESTAMP" property="scheduleDate" />
    <result column="schedule_text" jdbcType="VARCHAR" property="scheduleText" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, schedule_date, schedule_text, user_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from work_schedule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.alm.domain.WorkSchedule">
    <!--
      WARNING - @mbg.generated
    -->
    update work_schedule
    <set>
      <if test="scheduleDate != null">
        schedule_date = #{scheduleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scheduleText != null">
        schedule_text = #{scheduleText,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
     <!--  查询日期 -->
    <select  id="selecGroupByDate"  resultType="com.dili.alm.domain.dto.WorkScheduleDateDto" parameterType="com.dili.alm.domain.WorkSchedule">
    select 
           w.schedule_date as scheduleDate ,COUNT(w.schedule_date) as textCount
           
                  from alm.work_schedule w  
                  <where>
                   1=1
                   <if test="id != null">
		          		and      w.id = #{id,jdbcType=BIGINT}
			        </if>
			        <if test="userId != null">
		          		and      user_id = #{userId,jdbcType=BIGINT}
			        </if>
                  </where>
                      GROUP BY  DATE_FORMAT(w.schedule_date,'%Y-%m-%d') 
   </select>
   
    <!--  根据日期和用户ID查询 -->
    <select  id="selecByDateAndUser"  resultType="com.dili.alm.domain.WorkSchedule" parameterType="com.dili.alm.domain.WorkScheduleEntity">
    select 
           id, schedule_date, schedule_text, user_id
           
                  from work_schedule  
                  <where>
                   1=1
                   <if test="userId != null">
		          		and      user_id = #{userId,jdbcType=BIGINT}
			        </if>
			        <if test="scheduleDate != null">
		          		and      schedule_date like   CONCAT("%",#{scheduleDateStr,jdbcType=TIMESTAMP},"%") 
			        </if>
                  </where>
   </select>
</mapper>