<style>
.table-box {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.table-box-mini {
	width: 400px;
}

.table-box, .table-box tr td {
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table-box tr td {
	padding: 5px;
}

.table-box .table-title {
	background-color: #f5f5f5;
	font-weight: bold;
}

.table-combo .textbox {
	border: none;
	border-radius: 0;
}
</style>
<div class="easyui-panel">
	<form id="editForm2" action="" method="post" enctype="multipart/form-data">
		<div style="box-sizing: border-box; padding: 10px;">
			<div class="easyui-layout" style="box-sizing: border-box; width: 100%; height: 100%;">
				<input type="hidden" value="${apply.id!}" name="id" id="edit_applyId" />
				<table class="table-box">
					<tr>
						<td class="table-title">项目编号</td>
						<td><input class="easyui-textbox" style="width: 100%; text-align: center;" id="projectSerialNumber" name="projectSerialNumber"
							data-options="editable:false" value="${apply.projectSerialNumber!}"></td>
						<td class="table-title">项目名称</td>
						<td style="padding: 0"><select class="easyui-combobox" id="projectId" name="projectId" style="width: 95%; text-align: center;"
							data-options="editable:false,onLoadSuccess:loadProject
							,onChange:changeProject"> <%for(item in projects){%>
								<option value="${item.id!}"<%if(apply.projectId == item.id){%>selected="selected"<%}%> >${item.name!}</option> <%}%>
						</select><input type="hidden" id="projectName-a" name="projectName" /></td>
						<td class="table-title">项目经理</td>
						<td><input class="easyui-textbox" style="width: 100%; text-align: center;" id="projectManager" data-options="editable:false"
							value="${apply.projectSerialNumber!}"> <input type="hidden" id="projectManagerId" name="projectManagerId"
							value="${apply.projectManagerId!}" /></td>
					</tr>
					<tr>
						<td class="table-title">申请部门</td>
						<td><select class="easyui-combobox" id="applicationDepartmentId" name="applicationDepartmentId"
							style="width: 95%; text-align: center;" data-options="editable:false"> <%for(item in departments){%>
								<option value="${item.id!}"<%if(apply.applicationDepartmentId == item.id){%>selected="selected"<%}%>>${item.name!}</option> <%}%>
						</select></td>
						<td class="table-title">申请人</td>
						<td><input class="easyui-textbox" style="width: 100%; text-align: center;" id="applyOwner" data-options="editable:false"
							value="${userInfo.realName}"> <input type="hidden" id="applicantId" name="applicantId" value="${apply.applicantId}" /></td>
						<td class="table-title">申请时间</td>
						<td><input class="easyui-datebox" style="width: 90%; text-align: center;" id="applyDate" name="applyDate"
							data-options="editable:false" value="${submit}"></td>
					</tr>
					<tr>
						<td class="table-title">创建时间</td>
						<td class="table-combo">${apply.created!,'yyyy-MM-dd HH:mm:ss'}</td>
					<tr></tr>

						<td class="table-title">使用环境</td>
						<td colspan="5"><%for(item in ddValue){%><input type="checkbox" name="serviceEnvironmentChk" value="${item.value!}"<%for(v
							in se2){if(v==item.value){%>checked="checked" <%}}%> /> ${item.code!} <%}%>
						</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">申请原因</td>
					</tr>
					<tr>
						<td class="table-combo" colspan="6"><input class="easyui-textbox" name="applyReason" id="applyReason"
							value="${apply.applyReason!}" style="width: 100%; height: 50px;" data-options="label:'', validType:'length[0,255]'" /></td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">配置要求</td>
					</tr>
					<tr>
						<td class="table-combo" colspan="6">
							<table class="easyui-datagrid" id="configGrid">
								<thead>
									<tr>
										<th data-options="field:'cpuAmount',width:'20%', align:'center'">CPU</th>
										<th data-options="field:'memoryAmount',width:'20%', align:'center'">内存(GB)</th>
										<th data-options="field:'diskAmount',width:'13%', align:'center'">磁盘(GB)</th>
										<th data-options="field:'notes',width:'25%', align:'center'">备注</th>
										<th data-options="field:'options',width:'15%', align:'center',formatter:optionFormatter">操作</th>
									</tr>
								</thead>
							</table> <a href="#" class="easyui-linkbutton" style="border: 1px solid #ccc;" onclick="javascript:$('#addConfig').dialog('open');">+</a>
						</td>
					</tr>
					<tr>
						<td class="table-title" colspan="6">其他说明</td>
					</tr>
					<tr>
						<td class="table-combo" colspan="6"><input class="easyui-textbox" name="otherDescription" id="otherDescription"
							value="${apply.otherDescription!}" style="width: 100%; height: 50px;" data-options="multiline:true, validType:'length[0,255]'" /></td>
					</tr>
					<tr>
						<td class="table-combo">申请人</td>
						<td class="table-combo" colspan="2">${userInfo.realName}</td>
						<td class="table-combo">创建时间</td>
						<td class="table-combo" colspan="2">${cread}</td>
					</tr>
				</table>
			</div>
		</div>
		<input type="hidden" value="${apply.applyState!}" id="applyState" />
	</form>
	<div id="addConfig" class="easyui-dialog" title="添加配置要求" style="padding: 13px" closed="true"
		data-options="
				iconCls: 'icon-save',
				height: 260,
				width:550,
				buttons: [{
					text:'保存',
					iconCls:'icon-ok',
					handler:add
				},{
					text:'取消',
					handler:function(){
						$('#addConfig').dialog('close');
					}
				}]
			">
		<form name="configForm" id="configForm" method="post">
			<table class="table-box table-box-mini">
				<tr>
					<td class="table-title">CPU内核数</td>
					<td><input id="cpuAmount" name="cpuAmount" required="required" class="easyui-numberspinner" style="width: 100%"
						required="required" data-options="min:1,editable:false"></td>
					<td class="table-title">内存（GB）</td>
					<td><input id="memoryAmount" name="memoryAmount" required="required" class="easyui-numberspinner" style="width: 100%"
						required="required" data-options="min:1,editable:false"></td>
				</tr>
				<tr>
					<td class="table-title">磁盘（GB）</td>
					<td><input id="diskAmount" name="diskAmount" class="easyui-numberspinner" style="width: 100%" required="required"
						data-options="min:1,editable:false"></td>
					<td class="table-title">备注</td>
					<td><input class="easyui-textbox" name="notes" required="required" /></td>
				</tr>
			</table>
			<input type="hidden" name="updateSige" id="updateSige" />
		</form>
	</div>
</div>
<script type="text/javascript">

$('#configGrid').datagrid({
	data:${requirementList!}
});
/* 允许编辑单元格 */  
function add(){
	 var rows = $('#configGrid').datagrid('getRows');
	 
	 var formInput= $('#configForm').serializeArray();
	 var formData = $.extend({}, formInput);

	 var addIndex =  rows.length+1;

	 var map = new Array();
	$.each(formData, function (i, item) {
		if(item.name=='cpuAmount'){
			var key='cpuAmount';
			map[key]=item.value;
		}
		if(item.name=='diskAmount'){
			var key='diskAmount';
			map[key]=item.value;
		}
		if(item.name=='memoryAmount'){
			var key='memoryAmount';
			map[key]=item.value;
		}
		if(item.name=='notes'){
			var key='notes';
			map[key]=item.value;
		}
 	});
 	if($("#updateSige").val()!=""){
		 $('#configGrid').datagrid('updateRow',{  //updateRow
			 index:0,
		     row : map  
		}) ;
	}else{
		 $('#configGrid').datagrid('insertRow',{  
			 index:addIndex,
		     row : map  
		}) ;
	} 
	
	$('#configForm').form('clear');
	$('#addConfig').dialog('close');
}

//保存列表配置
function del(index){
	$('#configGrid').datagrid('deleteRow',index)
}
function update(rowId){
	var row =  $('#configGrid').datagrid('getRows')[rowId];
    var formData = $.extend({}, row);
    $('#configForm').form('load', formData);
    $('#addConfig').dialog('open');
    $('#updateSige').val(rowId);
}
function optionFormatter(value, row, index){
	return "<a href='JavaScript:del("+index+")'>删除</a>&nbsp;&nbsp;<a href='JavaScript:update("+index+")'>修改</a>";
}



function submitApply(){
	 var id = $("#edit_applyId").val();
	$.ajax({
									type : "POST",
									url : "${contextPath}/hardwareResourceApply/submit",
									data : {
										id :id
									},
									processData : true,
									dataType : "json",
									async : true,
									success : function(data) {
										if (data.code == "200") {
											$("#grid").datagrid("reload");
											$('#win').dialog('close');
										} else {
											$.messager.alert('错误', data.result);
										}
									},
									error : function() {
										$.messager.alert('错误', '远程访问失败');
									}
								});
	}
</script>