
<#body>
<div id="win" style="display: none;"></div>

<div id="smDialog" style="display: none; height: auto;"></div>

<div class="easyui-layout" fit="true">

	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="projectName" id="projectName" style="width: 100%"
							data-options="label:'项目名称:', validType:'length[0,255]'" /></td>
						<td style="padding: 5px;"><select class="easyui-combobox" name="applyStateShow" id="applyStateShow" style="width: 100%"
							data-options="label:'状态:', validType:'length[0,10]',editable:false">
								<option value=""></option>
								<option value="[1]">申请中</option>
								<option value="[2,3,4]">审批中</option>
								<option value="[5]">实施中</option>
								<option value="[6]">完成</option>
						</select></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="applicantId" id="applicantId" style="width: 100%;"
							panelWidth="auto" panelHeight="auto" label="申请人:"
							data-options="editable:false,
									buttonText:'选择',
									onClickButton:selectMember,onChange:_changeTextboxShowClear" /></td>
						<td style="padding: 5px;"><input class="easyui-datebox" name="submitBeginTime" id="submitBeginTime" style="width: 100%"
							data-options="label:'申请日期:',editable:false" /></td>
						<td style="padding: 5px;"><input class="easyui-datebox" style="width: 200px;" name="submitEndTime" id="submitEndTime"
							data-options="label:'至:',labelWidth:30,editable:false" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a
							href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="资源申请列表" id="grid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1"
			pagePosition="both" rownumbers="true" loadMsg="数据加载中..." singleSelect="true" method="post" sortName="projectId" align="center" fit="true"
			striped="true" toolbar="#toolbar" idField="id">
			<thead>
				<tr>
					<th
						data-options="field:'serialNumber',width:'15%',order:'asc', align:'center', resizable:'true', fixed:'false',formatter:serialNumberFormatter">编号</th>
					<th data-options="field:'applicationDepartmentId',_provider:'depProvider',hidden:true"></th>
					<th data-options="field:'applicantId',_provider:'memberProvider',hidden:true"></th>
					<th data-options="field:'projectName',width:'15%', order:'asc', align:'center', resizable:'true', fixed:'false'">项目名称</th>
					<th
						data-options="field:'deptMember',width:'10%',order:'asc', align:'center', resizable:'true', fixed:'false',formatter:deptMemberFormatter">
						申请部门/人</th>
					<th data-options="field:'envList',width:'20%', order:'asc',align:'center', resizable:'true', fixed:'false',formatter:envFormatter">
						使用环境</th>
					<th
						data-options="field:'submitTime',width:'20%',  _provider:'datetimeProvider',  order:'asc', align:'center', resizable:'true', fixed:'false'">
						申请时间</th>
					<th
						data-options="field:'applyState',width:'10%', _provider:'hardwareResourceApplyStateProvider',   order:'asc', align:'center', resizable:'true', fixed:'false'">状态</th>
					<th
						data-options="field:'options', width:'10%',order:'asc', align:'center',  resizable:'true', fixed:'false',width:'9%',formatter:opptFormatter">
						操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<%if(user.id!=1){%>
			<#resource code="addHardwareResourceApply"> <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()"
				plain="true"></a></#resource>
			<#resource code="updateHardwareResourceApply"> <a href="#" class="easyui-linkbutton" iconCls="icon-edit"
				onclick="openUpdate()" plain="true"></a></#resource>
			<#resource code="deleteHardwareResourceApply"> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()"
				plain="true"></a></#resource>
			<%}%>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="HardwareResourceApply信息"
	style="padding: 20px" modal="true" border="thin" closed="true"
	data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'Ok',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
	<form id="_form" class="easyui-form" method="post" fit="true">
		<input name="_id" id="_id" type="hidden">
		<table width="360px">

			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_projectName" id="_projectName" style="width: 100%"
					data-options="label:'项目名称:', validType:'length[0,255]'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_projectSerialNumber" id="_projectSerialNumber" style="width: 100%"
					data-options="label:'项目编号:', validType:'length[0,255]'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-numberbox" name="_projectManagerId" id="_projectManagerId" style="width: 100%"
					data-options="label:'项目经理id:'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-numberbox" name="_applicationDepartmentId" id="_applicationDepartmentId"
					style="width: 100%" data-options="label:'申请部门id:'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-numberbox" name="_applicantId" id="_applicantId" style="width: 100%"
					data-options="label:'申请人id:'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-datetimebox" name="_submitTime" id="_submitTime" style="width: 100%"
					data-options="label:'申请提交时间:'" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_serviceEnvironment" id="_serviceEnvironment" style="width: 100%"
					data-options="label:'使用环境（数据字典）:', validType:'length[0,255]'" required="true" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_applyReason" id="_applyReason" style="width: 100%"
					data-options="label:'申请原因:', validType:'length[0,255]'" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_otherDescription" id="_otherDescription" style="width: 100%"
					data-options="label:'其他原因:', validType:'length[0,255]'" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_actualConfiguration" id="_actualConfiguration" style="width: 100%"
					data-options="label:'实际配置:', validType:'length[0,255]'" /></td>
			</tr>
			<tr>
				<td style="padding: 5px;"><input class="easyui-textbox" name="_configurationRequirement" id="_configurationRequirement"
					style="width: 100%" data-options="label:'配置要求:', validType:'length[0,255]'" /></td>
			</tr>
		</table>
	</form>

</div>
<script type="text/javascript">
	var dataAuth = {
		addHardwareResourceApply : <%if(hasResource('addHardwareResourceApply')){%>true<%}else{%>false<%}%>,
		updateHardwareResourceApply : <%if(hasResource('updateHardwareResourceApply')){%>true<%}else{%>false<%}%>,
		deleteHardwareResourceApply : <%if(hasResource('deleteHardwareResourceApply')){%>true<%}else{%>false<%}%>
	};
	<#members_index />
	<#hardwareResourceApply_index />
</script> </#body>