<#body>
 <%if(project!null!=null){%>
<div id="cusTools" >
	<a onclick="<%if(backUrl!'' == ''){%>window.history.go(-1);<%}else{%>window.location.href='${backUrl!}';<%}%>" class="easyui-linkbutton"
		style="width: 50px; height: 24px; text-align: center; text-decoration: none; color: #000; border: 1px solid #ccc; border-radius: 3px; background: #ecf2ef;padding:5px; float:right;">返回</a>
</div>
<%}%>
<div class="easyui-layout" fit="true" style="">
    <div id="smDialog" style="display: none;"></div>
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'任务名称:', validType:'length[0,255]'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="projectId" id="projectId" style="width:100%" data-options="label:'所属项目:'" />
                            <#comboProvider _id="projectId" _table="project" _valueField="id" _textField="name" />
                        <td style="padding:5px;display:none;">
                            <input name="versionId" id="versionId" class="easyui-combobox" style="width: 100%;" data-options="label:'所属版本:'" />
                        </td>
                    <tr>
                        <td style="padding:5px; display:none;">
                            <input name="phaseName" id="phaseName" class="easyui-combobox" style="width: 100%;" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'所属阶段:'">
                            <#comboProvider _id="phaseName" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":10}' />
                        </td>
                        <td style="padding:5px;">
                            <input name="owner" id="owner" class="easyui-combobox" style="width:100%;" data-options="label:'责任人:'">
                        </td>
                        <td style="padding:5px;">
                            <input name="status" id="status" class="easyui-combobox" style="width: 100%;" panelWidth="auto" panelHeight="auto" editable="false" data-options="label:'状态:'">
                            <#comboProvider _id="status" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":16}' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="任务列表" id="grid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"  align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
               data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
            <thead>
            <tr>
                <th data-options="field:'name',width:'12%',fixed:'false'">
                    任务名称
                </th>
                <th data-options="field:'projectId',width:'12%',fixed:'false',_provider:'projectProvider'">
                    项目名称
                </th>
                <th data-options="field:'versionId',width:'10%',fixed:'false',_provider:'projectVersionProvider'">
                    所属版本
                </th>
                <th data-options="field:'phaseId',width:'10%',fixed:'false',_provider:'projectPhaseProvider'">
                    所属阶段
                </th>
                <th data-options="field:'owner',width:'8%',align:'center', fixed:'false',_provider:'memberProvider'">
                    责任人
                </th>
                <th data-options="field:'planDays',width:'16%',align:'center', resizable:'true', fixed:'false'">
                    计划工时
                </th>
                <th data-options="field:'status',width:'6%', align:'center',  fixed:'false',_provider:'taskStateProvider'">
                    状态
                </th>
                <th data-options="field:'progress',formatter:progressFormatter,fixed:'false'">
                    进度
                </th>
                <th data-options="field:'flowStr',width:'8%', align:'center', fixed:'false'">
                    流程
                </th>
                <th data-options="field:'options', width:'8%',formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">
                    操作</th>
            </tr>
            </thead>
        </table>
        <!-- datagrid工具栏 -->
        <div id="toolbar" style="height:20px;padding:2px 5px;">
                <span id="manager_tools">
                    <#resource code="addTask"> <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a></#resource>
                    <#resource code="updateTask"> <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true"></a></#resource>
                    <#resource code="delTask"> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true"></a></#resource>
                </span>
    <div style="float:right">
        边框显示:
        <select onchange="changeBorder('grid',this.value)">
            <option value="lines-both">全边框</option>
            <option value="lines-no">无边框</option>
            <option value="lines-right">右边框</option>
            <option value="lines-bottom">下边框</option>
        </select>
        行条纹:
        <input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
    </div>
</div>
</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="任务信息" style="padding:20px" modal="true" border="thin" closed="true" data-options="
                iconCls: 'icon-save',
                height: 480">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="label:'任务名称:', required:true,validType:'length[0,255]',prompt:'请填写任务名称'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_projectId" id="_projectId" class="easyui-combobox" style="width: 100%;" editable="false" data-options="label:'所属项目:', required:true,validType:'isIds',prompt:'--选择所属项目--'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_versionId" id="_versionId" class="easyui-combobox" style="width: 100%;" editable="false" data-options="label:'所属版本:', required:true,validType:'isIds',prompt:'--选择所属版本--'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_phaseId" id="_phaseId" class="easyui-combobox" style="width: 100%;" editable="false" data-options="label:'所属阶段:', required:true,validType:'isIds',prompt:'--选择所属阶段--'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="startDateShow" id="startDateShow" editable="false" style="width:100%" data-options="label:'开始时间:', required:true,validType:'isIds',prompt:'任务开始时间不能早于项目开始时间'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datebox" name="endDateShow" id="endDateShow" editable="false" style="width:100%" data-options="label:'结束时间:', required:true,validType:'endDateValidate[\'startDateShow\']',prompt:'任务结束时间不能晚于项目结束时间'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_beforeTask" id="_beforeTask" class="easyui-combobox" style="width: 100%;" editable=false data-options="label:'前置任务:',editable:false">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_type" id="_type" class="easyui-combobox" style="width: 100%;" editable=false panelWidth="auto" panelHeight="auto" data-options="label:'任务类型:', required:true,validType:'isIds',prompt:'--任务类型选择--'">
                    <#comboProvider _id="_type" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":17}' />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_owner" id="_owner" class="easyui-combobox" style="width:100%" data-options="label:'责任人:', required:true,validType:'isIds',prompt:'--请先选择项目--'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="planTimeStr" id="planTimeStr" style="width:100%" min="0"
                           data-options="label:'计划工时:',validType:['length[0,5]'], required:true,prompt:'填写数字类型'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <select name="flowSt" id="flowSt" class="easyui-combobox" editable=false data-options="label:'流程:', required:true" style="width:100%">
                        <option value=1>正常流程</option>
                        <option value=0>变更流程</option>
                    </select>
                </td>
            </tr>
            <tr id="changeIdTr">
                <td style="padding:5px;">
                    <input name="_changeId" id="_changeId" class="easyui-combobox" style="width:340px" data-options="label:'变更项目:'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_describe" id="_describe" style="width:100%" data-options="label:'描述:', validType:'length[0,255]'" />
                </td>
            </tr>
        </table>
    </form>
    <!-- 隐藏工时信息 -->
    <div id="task_detail" style="display:none;">
        <hr>
        <h3>工时任务信息</h3>
        <form name="detail_form" id="detail_form">
            <input name="taskId" id="taskId" type="hidden">
            <input name="id" id="id" type="hidden">
            <input name="taskHour" id="taskHour" type="hidden">
            <table width="360px;" style="border:1px;">
                <tr>
                    <td style="padding:5px;" colspan="2">
                        <label for="" style="float: left;width: 80px;height26px;line-height: 26px">任务进度</label>
                        <div id="_progressShow" style="margin-left: 85px;margin-top: 2px;width:260px;"></div>
                        <!--任务进度:-->
                        <!--<div id="_progressShow" style="width:100%;"></div>-->
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td style="width:50%;padding:5px;">
                        <input class="easyui-numberbox" name="taskHourStr" id="taskHourStr" style="width:100%;height:26px;" data-options="label:'任务工时:',validType:'taskHours[\'overHourStr\']'" />
                    </td>
                    <td style="width:50%;padding:5px;">
                        <input class="easyui-numberbox" name="_taskHour" id="_taskHour" style="width:100%;height:26px;" data-options="label:'已填工时:',disabled:true" />
                    </td>
                </tr>
                <tr>
                    <td style="width:50%;padding:5px;">
                        <input class="easyui-numberbox" name="overHourStr" id="overHourStr" style="width:100%;height:26px;" data-options="label:'加班工时:',validType:'overHours[\'taskHourStr\']'" />
                    </td>
                    <td style="width:50%;padding:5px;">
                        <input class="easyui-numberbox" name="_overHour" id="_overHour" style="width:100%;height:26px;" data-options="label:'已填加班:',disabled:true" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px;" colspan="2">
                        <input class="easyui-textbox"  name="describe" id="describe" style="width:100%;" data-options="label:'描述:', validType:'length[0,255]',multiline:true" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="dialog_toolbar" style="diplay:show;">
        <a href="#" id="saveTask" class="easyui-linkbutton"  data-options="iconCls:'icon-edit',plain:true" onclick="saveOrUpdate()" style="border:1px solid #ccc;">保存</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true" onclick="$('#dlg').dialog('close');" style="border:1px solid #ccc;">取消</a>
    </div>
    <div id="dialog_toolbar_detail" style="diplay:none;">
        <a href="#" id="doTask" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" style="border:1px solid #ccc;" onclick="startTask()">开始执行任务</a>
        <a href="#" id="pauseTask" class="easyui-linkbutton" data-options="plain:true" style="border:1px solid #ccc;" onclick="pauseTaskStatus()"> 暂停任务</a>
        <a href="#" id="complate" class="easyui-linkbutton" data-options="plain:true" style="border:1px solid #ccc;" onclick="complate()">完成任务</a>
        <a href="#" id="updateDetail" class="easyui-linkbutton" data-options="plain:true" style="border:1px solid #ccc;" onclick="saveTaskDetail()">提交工时</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true" onclick="$('#dlg').dialog('close');" style="border:1px solid #ccc;">取消</a>
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    //打开新增窗口
    function openInsert() {
        canEdit();
        //defaultValue();
        $("#task_detail").hide();
        $("#dialog_toolbar").show();
        $("#dialog_toolbar_detail").hide();
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        if($('#flowSt').combobox('getValue')==""){$('#flowSt').combobox('select',1)}
        formFocus("_form", "_name");
    }
    //打开修改窗口
    function openUpdate() {
        $("#task_detail").hide();
        $("#dialog_toolbar").show();
        $("#dialog_toolbar_detail").hide();

        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }

        canEdit();

        if(!isCreater(selected.id)){
        	noEdit();
          }

        if (selected.status != "未开始") {
            noEdit();
        }

        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        formFocus("_form", "_name");
        var formData = $.extend({}, selected);
        formData = addKeyStartWith(getOriginalData(formData), "_");
        $('#_form').form('load', formData);
        $('#_form').form('load', { planTimeStr: formData._planTime });


        loadMemberSelect(formData._projectId);
        $('#_owner').combobox('select', formData._owner);
        loadVisionSelect(formData._projectId);
        $('#_versionId').combobox('select', formData._versionId);
        loadPhaseSelect(formData._versionId);
        $('#_phaseId').combobox('select', formData._phaseId);

        $('#_form').form('load', { startDateShow: dateFormat_1(formData._startDate) });
        $('#_form').form('load', { endDateShow: dateFormat_1(formData._endDate) });
        
        if(selected.flow){ $("#changeIdTr").css("display","block");
        loadChangePorjectSelect(); 
        $('#_changeId').combobox('select',formData._changeId);
        $('#flowSt').combobox('select',0); 
       }
       else{ $("#changeIdTr").css("display","none");$('#flowSt').combobox('select',1); }
    }

    function saveOrUpdate() {

        var logInfo = "";

        $("#task_detail").hide();
        if (!$('#_form').form("validate")) {
            return;
        }

        var _formData = removeKeyStartWith($("#_form").serializeObject(), "_");
        var _url = null;
		
        //没有id就新增
        if (_formData.id == null || _formData.id == "") {
            logIngo = "新增任务:";
            _url = "${contextPath}/task/insert";
        } else { //有id就修改
            logIngo = "修改任务:";
            _url = "${contextPath}/task/update";
        }
     	if(isProjectDate()){
     		$.messager.alert('错误', "不符合项目开始时间和结束时间");
     		return;
     	}
        $('#dlg').dialog('close');
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData: true,
            dataType: "json",
            async: true,
            success: function(data) {
                if (data.code == "200") {
                    $("#grid").datagrid("reload");
                    LogUtils.saveLog(logIngo + data.result, function() {});
                } else {
                    $.messager.alert('错误', data.result);
                }
            },
            error: function() {
                $.messager.alert('错误', '远程访问失败');
            }
        });
    }

    //根据主键删除
    function del() {
        var selected = $("#grid").datagrid("getSelected");



        if(!isCreater(selected.id)){
       	 $.messager.alert('警告', '并非任务创建者,不能执行删除操作');
            return;
       }

        if (selected.status != "未开始") {
        	$.messager.alert('警告', '不是未开始的任务不能删除！');
           return ;
        }
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        $.messager.confirm('确认', '您确认想要删除记录吗？', function(r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/task/delete",
                    data: { id: selected.id },
                    processData: true,
                    dataType: "json",
                    async: true,
                    success: function(data) {
                        if (data.code == "200") {
                            $("#grid").datagrid("reload");
                            $('#dlg').dialog('close');
                            LogUtils.saveLog("删除任务：" + data.result, function() {});
                        } else {
                            $.messager.alert('错误', data.result);
                        }
                    },
                    error: function() {
                        $.messager.alert('错误', '远程访问失败');
                    }
                });
            }
        });

    }
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/task/listTeamPage";
        }
        if (!$('#form').form("validate")) {
            return;
        }
        var param = bindMetadata("grid", true);
        var formData = $("#form").serializeObject();
        $.extend(param, formData);
        $("#grid").datagrid("load", param);
        $('#detail_form').form('load', { _taskHour: formData._planTime });
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
        $("input[name='owner']").val('');
    }

    //表格表头右键菜单
    function headerContextMenu(e, field) {
        e.preventDefault();
        if (!cmenu) {
            createColumnMenu("grid");
        }
        cmenu.menu('show', {
            left: e.pageX,
            top: e.pageY
        });
    }

    $.messager.progress({
        title: "提示",
        msg: "加载中,请稍候...",
        value: '10',
        text: '{value}%',
        interval: 200
    });
    $.parser.onComplete = function() {
        $.messager.progress("close");
    }
    //全局按键事件
    function getKey(e) {
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if (keycode == 46) { //如果按下删除键
            var selected = $("#grid").datagrid("getSelected");
            if (selected && selected != null) {
                del();
            }
        }
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function() {
    <%if(project!null!=null){%>
            $('#projectId').combobox('initValue', '${project.id!}');
            $('#projectId').combobox('setText', '${project.name!}');
        <%}%>
        bindFormEvent("form", "name", queryGrid);
       // bindFormEvent("_form", "_name", saveOrUpdate, function() { $('#dlg').dialog('close'); });
        if (document.addEventListener) {
            document.addEventListener("keyup", getKey, false);
        } else if (document.attachEvent) {
            document.attachEvent("onkeyup", getKey);
        } else {
            document.onkeyup = getKey;
        }
        queryGrid();
        if (!isProjectManager()) {
            $("#manager_tools").css("display", "none");
        }
    })

    function formatOptions(value, row, index) {
        var content = '<span style="padding:5px;"><a href="javascript:void(0)" onclick="openUpdateDetail(' + index + ')">执行任务</a></span>';
        return content;
    }
    //进度条处理
    function progressFormatter(value, rowData, rowIndex) {
        var progress = rowData.progress;
        if (rowData.progress > 100) {
            progress = 100;
        }
        var htmlstr = '<div style="width: 100px; height:20px;border: 1px solid #299a58;"><div style="width:' + progress + 'px; height:20px; background-color: #299a58;"><span>' + rowData.progress + '%</span></div></div>';
        return htmlstr;
    }

    function getDetailInfo(taskID) {

        var htmlobj = $.ajax({ url: "${contextPath}/task/listTaskDetail.json?id=" + taskID, async: false });
        var str = htmlobj.responseText;
        var obj = $.parseJSON(str);

        $('#detail_form').form('load', obj);
        $('#detail_form').form('load', { _taskHour: obj.taskHour, _overHour: obj.overHour });
    }

    function startTask() {
        $('#dlg').dialog('close');
        var id = $("#_id").val();
        $.ajax({
            type: "POST",
            url: "${contextPath}/task/updateTaskStatus?id=" + id,
            processData: true,
            dataType: "json",
            async: true,
            success: function(data) {
                if (data.code == "200") {
                    $("#grid").datagrid("reload");
                    $.messager.alert('信息', '任务开始成功');
                    LogUtils.saveLog("开始任务：" + data.result, function() {});
                } else {
                    $.messager.alert('错误', data.result);
                }
            },
            error: function() {
                $.messager.alert('错误', '远程访问失败');
            }
        });

    }

    function pauseTaskStatus() {
    	 $('#dlg').dialog('close');
        var id = $("#_id").val();
        $.ajax({
            type: "POST",
            url: "${contextPath}/task/pauseTaskStatus?id=" + id,
            processData: true,
            dataType: "json",
            async: true,
            success: function(data) {
                if (data.code == "200") {
                    $("#grid").datagrid("reload");
                    LogUtils.saveLog("暂停任务：" + data.result, function() {});
                } else {
                    $.messager.alert('错误', data.result);
                }
            },
            error: function() {
                $.messager.alert('错误', '远程访问失败');
            }
        });

    }
    $.extend($.fn.validatebox.defaults.rules, {
        endDateValidate: {
            validator: function(value, param) {
                var s = $("input[name=" + param[0] + "]").val();
                return value >= s;
            },
            message: '结束时间必须大于开始时间！'
        }
    });
/*     $.extend($.fn.validatebox.defaults.rules, {  
        isIds: {  
            validator: function(value){  
                return "----请选择---"!=value;  
            },  
            message: '此项为必输项'  
        }  
    });  */
</script>
<script type="text/javascript">
    <#task_index />
    <#members_index />
</script>
</#body>