

<#body>
<style>
<!--
时间轴样式
-->
.years{width: 150px;float: left;}
.time{float: left;width: 75%;}
.time ul,li{list-style: none;display: block;}
.time li a{ text-decoration: none; width: 55px;height:20px; display: block;}
</style>

<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
 
    <div region="north" height="auto" >
    <!-- 时间轴 -->
    <div style="width: 100%;clear: both;height: 55px;">
    <div class="years" style="width: 25%;float: left;height:55px;line-height: 55px;"><select><option value="2017">2017年</option><option value="2018">2018年</option></select></div>
    <div class="time"><ul style="list-style: none;display: block;"><li style="float: left;"><a href="javascript:void(0);" >一月</a></li><li style="float: left;"><a href="javascript:void(0);">二月</a></li><li style="float: left;"><a href="javascript:void(0);">三月</a></li><li style="float: left;"><a href="javascript:void(0);">第一季度</a></li></ul></div>
    </div>
    <div class="show">查询时间：<span>2017年1月01日 - 2017年1月31日</span>	 
    <div class="tools" style="float: right;">               
	                <a href="#" class="easyui-linkbutton"
	                   style="width: 40px;height: 24px; text-align: center;text-decoration: none;color: #000;border: 1px solid #ccc;border-radius: 3px;background: #ecf2ef">
	                    打印
	                </a>
	                <a href="#" class="easyui-linkbutton"
	                   style="width: 80px;height: 24px; text-align: center;text-decoration: none;color: #000;border: 1px solid #ccc;border-radius: 3px;background: #ecf2ef">
	                    导出EXCEL
	                </a>
	                </div></div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table class="easyui-datagrid" title="年度数据列表" style="width:100%;height:'auto'"
               pagination="false"
               data-options="
                rownumbers: true,
                singleSelect: true,
                url: '${contextPath}/resources/echarts/datagrid_data1.json',
                method: 'get',
                onLoadSuccess: onLoadSuccess">
            <thead>
            <tr>
                <th data-options="field:'attr1',width:'14%',align:'center'">项目名称</th>
                <th data-options="field:'productid',width:'12%',align:'center'">项目类型</th>
                <th data-options="field:'itemid',width:'10%',align:'center'">项目状态</th>
                <th data-options="field:'listprice',width:'9%',align:'center'">任务数量</th>
                <th data-options="field:'unitcost',width:'9%',align:'center'">完成数</th>
                <th data-options="field:'status',width:'9%',align:'center'">进行中</th>
                <th data-options="field:'status',width:'9%',align:'center'">正常完成率</th>
                <th data-options="field:'status',width:'9%',align:'center'">逾期数</th>
                <th data-options="field:'status',width:'9%',align:'center'">逾期率</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    function onLoadSuccess(data){
        var merges = [{
            index: 1,
            rowspan: 5
        },];
        for(var i=0; i<merges.length; i++){
            $(this).datagrid('mergeCells',{
                index: merges[i].index,
                field: 'attr1',
                rowspan: merges[i].rowspan
            });
        }
    }
    
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/statistical/listPage";
        }
        if (!$('#form').form("validate")) {
            return;
        }
        var param = bindMetadata("grid", true);
        var formData = $("#form").serializeObject();
        $.extend(param, formData);
        $("#grid").datagrid("load", param);
    }
</script>

</#body>