<#body>
<style>
    .textbox-label{
        width: 60px;
    }
    .datagrid-cell-c1-opt span a{
        color:#999;
    }
</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="startDate" id="startDate" style="width:100%" data-options="editable:false,label:'起止日期:'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="endDate" id="endDate" style="width:100%" data-options="editable:false,label:'至:'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox"  name="project" id="projectA" style="width:100%"
                                   data-options="editable:false,label:'项目:'"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table id="grid" title="数据列表"> 
        </table> 
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    function onLoadSuccess(data){
        var merges = [{
            index: 1,
            rowspan: 5
        },];
        for(var i=0; i<merges.length; i++){
            $(this).datagrid('mergeCells',{
                index: merges[i].index,
                field: 'attr1',
                rowspan: merges[i].rowspan
            });
        }
    }
    
    //表格查询
    function queryGrid() {
        if (!$('#form').form("validate")) {
            return;
        }
        var param = bindMetadata("grid", true);
        var formData = $("#form").serializeObject();
        formData.project=$("#projectA").val();
        $.extend(param, formData);

        easyUIDataGrid(param);
/*         var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/statistical/listPage";
        }

        $("#grid").datagrid("load", param); */
    }
    
    $(function(){  
  	  
   	 //初始化多选复选框  
   	 initCombobox('projectA');
   }) ; 
   	function initCombobox(id){  
   	            var value = "";  
   	            //加载下拉框复选框  
   	            $('#'+id).combobox({  
   	            	url:'${contextPath}/statistical/projectList',
   					panelHeight:'200px',
   	                method:'post',
   	                valueField:'id',
   					textField:'name',
   	                multiple:true,  
   	                formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
   	                    var opts = $(this).combobox('options');  
   	                    return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]  
   	                },  
   	                onLoadSuccess: function () {  //下拉框数据加载成功调用  
   	                    var opts = $(this).combobox('options');  
   	                    var target = this;  
   	                    var values = $(target).combobox('getValues');//获取选中的值的values  
   	                    $.map(values, function (value) {  
   	                        var el = opts.finder.getEl(target, value);  
   	                        el.find('input.combobox-checkbox')._propAttr('checked', true);   
   	                    })  
   	                },  
   	                onSelect: function (row) { //选中一个选项时调用  
   	                    var opts = $(this).combobox('options');  
   	                    //获取选中的值的values  
   	                    $("#"+id).val($(this).combobox('getValues'));  
   	                     
   	                   //设置选中值所对应的复选框为选中状态  
   	                    var el = opts.finder.getEl(this, row[opts.valueField]);  
   	                    el.find('input.combobox-checkbox')._propAttr('checked', true);  
   	                },  
   	                onUnselect: function (row) {//不选中一个选项时调用  
   	                    var opts = $(this).combobox('options');  
   	                    //获取选中的值的values  
   	                    $("#"+id).val($(this).combobox('getValues'));  
   	                    
   	                    var el = opts.finder.getEl(this, row[opts.valueField]);  
   	                    el.find('input.combobox-checkbox')._propAttr('checked', false);  
   	                }  
   	            });  
   	        } 
    
    $(function () {easyUIDataGrid(null);});        

    function easyUIDataGrid(param) {
    	var $datagrid = {};
    	var columns = new Array();
    	var columns1 = new Array();
    	var columns2 = new Array();
     	$datagrid.title = "";
     	$datagrid.fit   =true;
    	$datagrid.height = $(window).height() - 31;
    	$datagrid.width = $(window).width();
    	$datagrid.sortName = "dt";
    	$datagrid.sortOrder = "desc";
    	$datagrid.idField = "id";
    	//var param = { "medid": medid };
    	$.ajax({
    	url: '${contextPath}/statistical/listProjectHours',
    	type: 'post',
    	data: param,
    	dataType: "json",
    	async: false,
    	success: function (returnValue) {
    		columns1.push({"title": " ", "width": 80 , align: "center"});	
    		columns2.push({"field":"userName", "title": "人员", "width": 80 , align: "center"});
    		
    	$.each(returnValue, function (i, item) {
    		 columns1.push({field:"userNo", title: item.projectName+"<br/>("+item.sumHour+"H)", width:160 , align: "center",colspan:2});
      	     columns2.push({"field":"ptHours"+item.projectId, "title": "常规工时", "width": 80 , align: "center","rowspan":1,"formatter":projectTashHour});//实际工时	
    	     columns2.push({"field":"poHours"+item.projectId, "title": "加班工时", "width": 80, align: "center","rowspan":1,"formatter":aaa});//加班工时
    	});
    	     
    	     columns1.push({"field":"", "title": "合计", "width": 240 , align: "center","colspan":3});	
    	    
    	     columns2.push({"field":"sumTaskHours", "title": "常规工时", "width":80 , align: "center","rowspan":1});	
    	     columns2.push({"field":"sumOverHours", "title": "加班工时", "width":80 , align: "center","rowspan":1});
    	     columns2.push({"field":"totalHours", "title": "总工时", "width": 80 , align: "center","rowspan":1});

    	     columns.push(columns1);
    	     columns.push(columns2);
    	     
    	$datagrid.columns=  columns;
    	
    	$('#grid').datagrid($datagrid);
    	
    	 bindDate(param);
    	}
    	});
    	}
 		function bindDate(param){
 			  var opts = $("#grid").datagrid("options");
 		        if (null == opts.url || "" == opts.url) {
 		            opts.url = "${contextPath}/statistical/listUserHours";
 		        }
 		       $("#grid").datagrid("load", param);
 		}
   
 		function projectTashHour(value,row,index){
 			var projectHoursObj = row.projectHours;
 			var str="project"+this.field.slice(7); 
 			var aahours=0;
 			for (var i in projectHoursObj) { 
 				if(i==str){
 				 var hoursStr = projectHoursObj[i];
 				 var aa = hoursStr.split(",");
 				 var ab = aa[0].split(":");
 				 aahours=ab[1];
 				}
 			}
 			 return aahours;
 		}
 		function aaa(value,row,index){
 			var projectHoursObj = row.projectHours;
 			var str="project"+this.field.slice(7); 
 			var aahours=0;
 			for (var i in projectHoursObj) { 
 				if(i==str){
 				 var hoursStr = projectHoursObj[i];
 				 var aa = hoursStr.split(",");
 				 var ab = aa[1].split(":");
 				 aahours=ab[1];
 				}
 			}
 			 return aahours;
	 	}
</script>
</#body>