<#body>
<style>
.textbox-label {
	width: 60px;
}

.datagrid-cell-c1-opt span a {
	color: #999;
}

.pdiv div {
	font-size: 15px;
	height: 28px;
	line-height: 28px;
}
</style>
<script type="text/javascript">
	function loadUsers(nval, oval) {
		var url = '${contextPath!}/member/loadUsersByDepartment';
		if (nval) {
			$(nval).each(function(index, item) {
				if (index == 0) {
					url += '?' + 'departmentId=' + item;
				} else {
					url += '&' + 'departmentId=' + item;
				}
			});
		}
		$.post(url, {}, function(res) {
			$('#userId').combobox('loadData', res);
		});
	}

	function renderRowStyle(index, row) {
		if (index == $('#grid').datagrid('getRows').length - 1) {
			return 'background-color: #d3ecde;';
		}
	}
</script>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-datebox" name="startTime" id="startDate" style="width: 100%"
							data-options="editable:false,label:'起止日期:',prompt:'2018-01-01'" /></td>
						<td style="padding: 5px;"><input class="easyui-datebox" name="endTime" id="endDate" style="width: 100%"
							data-options="editable:false,label:'至:',prompt:'今日'" /></td>
						<td style="padding: 5px;"><input class="easyui-combotree" name="userId" id="userId" style="width: 100%"
							data-options="
								loadFilter:treeLoadFilter, 
								editable:false,
								label:'人员:',
								multiple:true,
								prompt:'--全部--',
								_textField:'realName',
								_valueField:'id',
								url:'${contextPath!}/member/loadUsersByDepartment'" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-combotree" style="width: 100%" id="departmentId" name="departmentId"
							data-options="
							loadFilter:treeLoadFilter, 
							_idField:'id', 
							_textField:'name', 
							_parentIdField:'parentId',
							multiple:true,
							url:'${contextPath!}/department/departments',
							editable:false,
							label:'部门:',
							prompt:'-所有部门-',
							onChange:loadUsers" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a
							href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto" id="dy">
		<!-- =========================================================表格========================================================= -->
		<!-- datagrid工具栏 -->
		<div id="infoToolbar" style="float: left; line-height: 28px; height: 28px;">
			<table class="easyui-form" method="post" fit="true">
				<tr>
					<td><a href="#" class="easyui-linkbutton"
						style="width: 40px; height: 24px; text-align: center; text-decoration: none; color: #000; border: 1px solid #ccc; border-radius: 3px; background: #ecf2ef"
						onclick="print()"> 打印 </a> <a href="javascript:doExport('grid')" class="easyui-linkbutton"
						style="width: 80px; height: 24px; margin-right: 3px; text-align: center; text-decoration: none; color: #000; border: 1px solid #ccc; border-radius: 3px; background: #ecf2ef"
						plain="true"> 导出EXCEL </a></td>
				</tr>
			</table>
		</div>
		<div>
			<table id="grid" class="easyui-datagrid" style="width: 100%; height: 'auto'" title="数据列表"
				data-options="
                rownumbers: true,
                singleSelect: true,
                url: '${contextPath}/statistical/taskHoursByUser',
                method: 'get',
                onLoadSuccess: onLoadSuccess,
                tools:'#infoToolbar',
                idField:'userNo',
                headerCls:'pdiv',
                rowStyler:renderRowStyle">
				<thead>
					<tr>
						<th data-options="field:'selectDate',width:'24%',align:'center'">统计日期</th>
						<th data-options="field:'userName',formatter:userNameFormatter,width:'14%',align:'center'">姓名</th>
						<th data-options="field:'departmentName',width:'14%',align:'center'">部门</th>
						<th data-options="field:'totalHour', sortable:true, width:'12%',align:'center'">总工时(H)</th>
						<th data-options="field:'taskHours', sortable:true, width:'12%',align:'center'">实际工时(H)</th>
						<th data-options="field:'overHours', sortable:true, width:'12%',align:'center'">加班工时(H)</th>
						<th data-options="field:'workOrderTaskHours', sortable:true, width:'12%',align:'center'">工单工时(H)</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
<div id="smDialog" style="display: none;"></div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 -->
<!-- ====================================================================================================================== --> <script
	src="${contextPath}/resources/js/jquery.jqprint-0.3.js"></script> <script src="${contextPath}/resources/js/jquery-migrate-1.1.0.js"></script>
<script type="text/javascript">
	function onLoadSuccess(data) {
		var merges = [ {
			index : 1,
			rowspan : 5
		}, ];
		for (var i = 0; i < merges.length; i++) {
			$(this).datagrid('mergeCells', {
				index : merges[i].index,
				field : 'attr1',
				rowspan : merges[i].rowspan
			});
		}
	}
	//清空表单
	function clearForm() {
		$('#form').form('reset');
		queryGrid();
	}
	//表格查询
	function queryGrid() {
		var opts = $("#grid").datagrid("options");
		if (null == opts.url || "" == opts.url) {
			opts.url = '${contextPath}/statistical/taskHoursByUser';
		}
		if (!$('#form').form("validate")) {
			return;
		}
		var param = bindMetadata("grid", true);
		var formData = $("#form").serializeObject();
		formData.departmentId = $("#departmentId").val();
		formData.userId = $("#userId").val();
		$("#grid").datagrid("load", formData);
	}
	$(function() {

		//初始化多选复选框
		initCombobox('departmentId');
	});
	function initCombobox(id) {
		var value = "";
		//加载下拉框复选框
		$('#' + id)
				.combobox(
						{
							url : '${contextPath}/department/departments',
							panelHeight : '200px',
							method : 'post',
							valueField : 'id',
							textField : 'name',
							multiple : true,
							formatter : function(row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法
								var opts = $(this).combobox('options');
								return '<input type="checkbox" class="combobox-checkbox">'
										+ row[opts.textField]
							},
							onLoadSuccess : function() { //下拉框数据加载成功调用
								var opts = $(this).combobox('options');
								var target = this;
								var values = $(target).combobox('getValues');//获取选中的值的values
								$.map(values, function(value) {
									var el = opts.finder.getEl(target, value);
									el.find('input.combobox-checkbox')
											._propAttr('checked', true);
								})
							},
							onSelect : function(row) { //选中一个选项时调用
								var opts = $(this).combobox('options');
								//获取选中的值的values
								$("#" + id).val($(this).combobox('getValues'));

								//设置选中值所对应的复选框为选中状态
								var el = opts.finder.getEl(this,
										row[opts.valueField]);
								el.find('input.combobox-checkbox')._propAttr(
										'checked', true);
							},
							onUnselect : function(row) {//不选中一个选项时调用
								var opts = $(this).combobox('options');
								//获取选中的值的values
								$("#" + id).val($(this).combobox('getValues'));

								var el = opts.finder.getEl(this,
										row[opts.valueField]);
								el.find('input.combobox-checkbox')._propAttr(
										'checked', false);
							}
						});
	}
	function getCheckBoxSelect(row) {

		var opts = $(this).combobox('options');
		return '<input type="checkbox" class="combobox-checkbox">'
				+ row[opts.textField];//关键在这一步，在项前面加一个checkbox。opts这个是combobox对象。

	}

	// 打开选择用户弹出框
	function selectDep(callback, args) {
		if (callback) {
			eval("(" + callback + "(args))");
		} else {
			showDepDlg($(this)[0].id);
		}
	}
	function showDepDlg(id) {
		$('#smDialog').dialog({
			title : '部门选择',
			width : 600,
			height : 400,
			href : '${contextPath}/department/departments',
			modal : true,
			buttons : [ {
				text : '确定',
				handler : function() {
					confirmDepBtn(id);
				}
			}, {
				text : '取消',
				handler : function() {
					$('#smDialog').dialog('close');
				}
			} ]
		});
	}

	function userNameFormatter(value, row, index) {
		if (!row.userNo) {
			return value;
		}
		return '<a href="${contextPath!}/taskDetails/index?userId='
				+ row.userNo + '">' + value + '</a>';
	}

	function print() {
		$("#dy").jqprint();
	}
</script> </#body>