<#body>
<style>
    .textbox-label{
        width: 60px;
    }
    .datagrid-cell-c1-opt span a{
        color:#999;
    }
</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="startTime" id="startDate" style="width:100%" data-options="editable:false,label:'起止日期:'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="endTime" id="endDate" style="width:100%" data-options="editable:false,label:'至:'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="created" id="created" style="width:100%"
                                   data-options="editable:false,label:'部门:'"/>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px;">
                            <input class="combobox-checkbox" name="userId" id="userId" style="width:100%"
                                   data-options="editable:false,label:'人员:',valueField:'id',textField:'text'"/>
                            <#comboProvider _id="userId" _title="人员"  
                    _nameField="real_name" _valueField="id" _provider='memberProvider'></#comboProvider>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
        <!-- =========================================================表格========================================================= -->
        <table id="grid" class="easyui-datagrid" title="数据列表" style="width:100%;height:'auto'"
               
               data-options="
                rownumbers: true,
                singleSelect: true,
                url: '${contextPath}/statistical/taskHoursByUser',
                method: 'get',
                onLoadSuccess: onLoadSuccess
            ">
            <thead>
            <tr>
                <th data-options="field:'selectDate',width:'26%',align:'center'">统计日期</th>
                <th data-options="field:'userName',width:'16%',align:'center'">姓名</th>
                <th data-options="field:'departmentName',width:'16%',align:'center'">部门</th>
                <th data-options="field:'totalHour',width:'14%',align:'center'">总工时(H)</th>
                <th data-options="field:'taskHours',width:'14%',align:'center'">实际工时(H)</th>
                <th data-options="field:'overHours',width:'14%',align:'center'">加班工时(H)</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    function onLoadSuccess(data){
        var merges = [{
            index: 1,
            rowspan: 5
        },];
        for(var i=0; i<merges.length; i++){
            $(this).datagrid('mergeCells',{
                index: merges[i].index,
                field: 'attr1',
                rowspan: merges[i].rowspan
            });
        }
    }
    
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = '${contextPath}/statistical/taskHoursByUser';
        }
        if (!$('#form').form("validate")) {
            return;
        }
        var param = bindMetadata("grid", true);
        var formData = $("#form").serializeObject();
        $.extend(param, formData);
        $("#grid").datagrid("load", param);
    }
</script>
</#body>