<#body>
<style>
    .textbox-label{
        width: 60px;
    }
    .datagrid-cell-c1-opt span a{
        color:#999;
    }
</style>
<div class="easyui-layout" fit="true">
 
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center">
    <a href="${contextPath}/statistical/export">rrrr</a>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;" align="left"  height="auto">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="startDate" id="startDate" style="width:100%" data-options="editable:false,label:'起止日期:'" />
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-datebox" name="endDate" id="endDate" style="width:100%" data-options="editable:false,label:'至:'" />

                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox"  name="project" id="projectA" style="width:100%"
                                   data-options="editable:false,label:'项目:'"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" onclick="clearForm()">重置</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width:100%;" height="auto">
            <div id="toolbar" style="float: right">
            	 <table style="padding:10px;">
            	 <tr><td>
                <a href="#" class="easyui-linkbutton"
                   style="width: 40px;height: 24px; text-align: center;text-decoration: none;color: #000;border: 1px solid #ccc;border-radius: 3px;background: #ecf2ef" onclick="print()">
                    打印
                </a>
                <a href="javascript:exportExcel()" class="easyui-linkbutton"
                   style="width: 80px;height: 24px; margin-right:3px;text-align: center;text-decoration: none;color: #000;border: 1px solid #ccc;border-radius: 3px;background: #ecf2ef" onclick="doExport('grid')" plain="true" >
                    导出EXCEL
                </a>
              
	              </td>
                 </tr>
                 </table>
            </div>
        <!-- =========================================================表格========================================================= -->
        <table id="grid" title="数据列表" pagination="false" data-options="rownumbers: true,singleSelect: true, fit:false"  style="width:98%;height:auto"> 
        </table> 
    </div>
    <!-- 图表 -->
        <!-- =========================================================图表========================================================= -->
        <div id="bar2"  style="width:100%;height:300px" ></div>
    
    
</div>


<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script src="${contextPath}/resources/echarts/echarts.common.min.js"></script>
<script type="text/javascript">

function exportExcel(){
		$('#form').form('submit', {
			url : '${contextPath}/statistical/export',
			success : function(data) {
				var obj = $.parseJSON(data);
				if (obj.code != 200) {
					$.messager.alert('错误', obj.result);
				}  
			}
		});
		
	}
//清空表单
function clearForm() {
    $('#form').form('clear');
    queryGrid();
}
    function onLoadSuccess(data){
        var merges = [{
            index: 1,
            rowspan: 5
        },];
        for(var i=0; i<merges.length; i++){
            $(this).datagrid('mergeCells',{
                index: merges[i].index,
                field: 'attr1',
                rowspan: merges[i].rowspan
            });
        }
    }
    
    //表格查询
    function queryGrid() {
        if (!$('#form').form("validate")) {
            return;
        }
        var param = bindMetadata("grid", true);
        var formData = $("#form").serializeObject();
        formData.project=$("#projectA").val();
        $.extend(param, formData);

        easyUIDataGrid(param);
/*         var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/statistical/listPage";
        }

        $("#grid").datagrid("load", param); */
    }
    
    $(function(){  
  	  
   	 //初始化多选复选框  
   	 initCombobox('projectA');
   }) ; 
   	function initCombobox(id){  
   	            var value = "";  
   	            //加载下拉框复选框  
   	            $('#'+id).combobox({  
   	            	url:'${contextPath}/statistical/projectList',
   					panelHeight:'200px',
   	                method:'post',
   	                valueField:'id',
   					textField:'name',
   	                multiple:true,  
   	                formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
   	                    var opts = $(this).combobox('options');  
   	                    return '<input type="checkbox" class="combobox-checkbox">' + row[opts.textField]  
   	                },  
   	                onLoadSuccess: function () {  //下拉框数据加载成功调用  
   	                    var opts = $(this).combobox('options');  
   	                    var target = this;  
   	                    var values = $(target).combobox('getValues');//获取选中的值的values  
   	                    $.map(values, function (value) {  
   	                        var el = opts.finder.getEl(target, value);  
   	                        el.find('input.combobox-checkbox')._propAttr('checked', true);   
   	                    })  
   	                },  
   	                onSelect: function (row) { //选中一个选项时调用  
   	                    var opts = $(this).combobox('options');  
   	                    //获取选中的值的values  
   	                    $("#"+id).val($(this).combobox('getValues'));  
   	                     
   	                   //设置选中值所对应的复选框为选中状态  
   	                    var el = opts.finder.getEl(this, row[opts.valueField]);  
   	                    el.find('input.combobox-checkbox')._propAttr('checked', true);  
   	                },  
   	                onUnselect: function (row) {//不选中一个选项时调用  
   	                    var opts = $(this).combobox('options');  
   	                    //获取选中的值的values  
   	                    $("#"+id).val($(this).combobox('getValues'));  
   	                    
   	                    var el = opts.finder.getEl(this, row[opts.valueField]);  
   	                    el.find('input.combobox-checkbox')._propAttr('checked', false);  
   	                }  
   	            });  
   	        } 
    
    $(function () {easyUIDataGrid(null);});        

    function easyUIDataGrid(param) {
    	var $datagrid = {};
    	var columns = new Array();
    	var columns1 = new Array();
    	var columns2 = new Array();

    	//var param = { "medid": medid };
    	$.ajax({
    	url: '${contextPath}/statistical/listProjectHours',
    	type: 'post',
    	data: param,
    	dataType: "json",
    	async: false,
    	success: function (returnValue) {
    		
    		var projectIds = new Array();
    		columns1.push({"field": "u&p","title": "人员&项目","width": 80 , align: "center"});	
    		columns2.push({"field":"userName", "title": "人员", "width": 80 , align: "center"});
    		
    	$.each(returnValue, function (i, item) {
    		 columns1.push({"field":"userNo", "title": item.projectName+"<br/>("+item.sumHour+"H)", "width":160 , "align": "center","colspan":2});
      	     columns2.push({"field":"toHours"+item.projectId, "title": "常规工时", "width": 80 , align: "center","rowspan":1,"formatter":projectTaskHour});//实际工时	
    	     columns2.push({"field":"ooHours"+item.projectId, "title": "加班工时", "width": 80, align: "center","rowspan":1,"formatter":projectOverHour});//加班工时
    	     projectIds.push(item.projectId);
    	});
    	     
    	     columns1.push({"field":"heji", "title": "合计", "width": 240 , align: "center","colspan":3});	
    	    
    	     columns2.push({"field":"sumTaskHours", "title": "常规工时", "width":80 , align: "center","rowspan":1});	
    	     columns2.push({"field":"sumOverHours", "title": "加班工时", "width":80 , align: "center","rowspan":1});
    	     columns2.push({"field":"totalHours", "title": "总工时", "width": 80 , align: "center","rowspan":1});

    	     columns.push(columns1);
    	     columns.push(columns2);
    	     
    	$datagrid.columns=  columns;
    	
    	$('#grid').datagrid($datagrid);
    	 bindDate(param,projectIds);
    	}
    	});
    	}
 		function bindDate(param,projectIds){
 			  var opts = $("#grid").datagrid("options");
 		        if (null == opts.url || "" == opts.url) {
 		            opts.url = "${contextPath}/statistical/listUserHours";
 		        }
 		       $("#grid").datagrid("load", param);
 		      var rowobj = $('#grid').datagrid('getRows'); 
 		      if(rowobj.length<1){     return "";}
 		      loadInitEchartForProject(projectIds);
 		}
   
 		function projectTaskHour(value,row,index){
 			var projectHoursObj = row.projectHours;
 			console.log(row.projectHours);
 			var str="project"+this.field.slice(7); 
 			var aahours=0;
 			for (var i in projectHoursObj) { 
 				if(i==str){
 				 var hoursStr = projectHoursObj[i];
 				 var aa = hoursStr.split(",");
 				 var ab = aa[0].split(":");
 				 aahours=ab[1];
 				}
 			}
 			 return aahours;
 		}
 		function projectOverHour(value,row,index){
 			var projectHoursObj = row.projectHours;
 			var str="project"+this.field.slice(7);//截取得到id 
 			var aahours=0;
 			for (var i in projectHoursObj) { 
 				if(i==str){
 				 var hoursStr = projectHoursObj[i];
 				 var aa = hoursStr.split(",");
 				 var ab = aa[1].split(":");
 				 aahours=ab[1];
 				}
 			}
 			 return aahours;
	 	}
</script>

<script type="text/javascript">


function loadInitEchartForProject(param){
  	 $.ajax({
  	        type : 'post',
  	        async : false, //同步执行
  	            url :'${contextPath}/statistical/listProjectForEchar', //web.xml中注册的Servlet的url-pattern
  	            data : {projectIds:param}, //无参数
  	            dataType : 'json', //返回数据形式为json
  	            traditional:true,
  	            success : function(result) {
  	                if (result) {
  	                    //把result(即Json数据)以参数形式放入Echarts代码中
  	                    bindDateForEchats(result);
  	                   
  	                }
  	            },
  	            error : function(errorMsg) {
  	                alert("加载数据失败");
  	            }
  	        }); //ajax
  }
function bindDateForEchats(result){
	//处理result集
	var projectName= new Array();
	
	var taskHours= new Array();
	
	var overHours= new Array();
	
	var totalHours= new Array();
	
/*  	var resultMapList= result.projectHours;
	
 	for (var i in resultMapList) { 
 		
 		      var hoursStr = resultMapList[i];
			 var aa = hoursStr.split(",");
			 var taskHoursValue = aa[0].split(":")[1];
			 var overHoursValue = aa[1].split(":")[1];
			 taskHours.push(taskHours);
			 overHours.push(overHours);
			 console.log(taskHours);
			}  */
    var option3 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['常规工时', '加班工时']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value'
        },
        yAxis: {
            type: 'category',
            data: (function(){
            	var resultMapList= result.projectHours;
            	var res = [];
            	
             	 for (var i in resultMapList) { 
             		res.unshift(i);  
            	 }
             	 console.log(res);
             	return res;
            })()
        },
        series: [
            {
                name: '加班工时',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: (function(){
                	var resultMapList= result.projectHours;
                	var res = [];
                	
                 	 for (var i in resultMapList) { 
                 		var hoursStr = resultMapList[i];
           			    var aa = hoursStr.split(",");
           			    var overHoursValue = aa[1].split(":")[1];
                 		res.unshift(overHoursValue);  
                	 }
                 	return res;
                })()
            },
            {
                name: '正常工时',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'insideRight'
                    }
                },
                data: (function(){
                	var resultMapList= result.projectHours;
                	var res = [];
                	
                 	 for (var i in resultMapList) { 
                 		var hoursStr = resultMapList[i];
           			    var aa = hoursStr.split(",");
           			    var taskHoursValue = aa[0].split(":")[1];
                 		res.unshift(taskHoursValue);  
                	 }
                 	return res;
                })()
            },
            { // 总和计算
                name: '总计',
                type: 'bar',
                barGap: '-100%',
                label: {
                    normal: { //显示数据
                        show: true,
                        position: 'insideRight',
                        formatter: '{c}',
                        fontSize: 16,
                        textStyle: { color: '#333' }
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'rgba(128, 128, 128, 0)'
                    }
                },
                data:  (function(){
                	var resultMapList= result.projectHours;
                	var res = [];
                	
                 	 for (var i in resultMapList) { 
                 		var hoursStr = resultMapList[i];
           			    var aa = hoursStr.split(",");
           			    var overHoursValue = aa[1].split(":")[1];
           			    var taskHoursValue = aa[0].split(":")[1];
           			    var totalHours = parseInt(overHoursValue)+parseInt(taskHoursValue);
                 		res.unshift(totalHours);  
                	 }
                 	return res;
                })()//总和数据
            }
        ]
    };
    echarts.init(document.getElementById('bar2')).setOption(option3);
}
    </script>
</#body>