
<#body>
<style>
.panel-body {
	color: #555;
}

input {
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	font-size: 13px;
	padding-left: 6px;
	border: 1px solid #ddd;
	/*border-radius: 3px;*/
	color: #666;
}

button {
	background: #fff;
	border: 1px solid #ccc;
	color: #333;
}

button:hover {
	background: #ecf2ef;
}
</style>
<div class="easyui-layout" data-options="fit:true">

	<div height="auto" align="center" data-options="region:'center'">
	   <form id="_form"  enctype="multipart/form-data" class="easyui-form" method="post" fit="true">
	     <table id="tt" cellspacing="0" border="1" class="easyui-datagrid" style="width:90%; height: 135px; border: 1px solid #ddd; border-collapse: collapse;"
			   data-options="view:scrollview,rownumbers:true,singleSelect:true,autoRowHeight:false,pageSize:50">
			<caption style="padding: 5px; font-weight: bold; font-size: 15px; line-height: 35px; color: #333">线上数据变更申请表</caption>
			<tbody>
			
				<tr>
					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold;width: 15%;">申请人</td>
					<td style="padding: 5px;width: 30%;" ><input class="easyui-textbox" style="width: 100%" editable="false"     value="${applyUserIdName}"
							data-options="validType:['length[0,30]']" />   </td>
					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold;width: 15%;">申请时间</td>
					<td style="padding: 5px;width: 30%;"> <input class="easyui-datebox"   value="${odc.applyDate}"  editable="false" style="width: 100%"
					   data-options="required:false,validType:'isIds',prompt:'申请时间'" /></td>
				
				</tr>
				<tr>

					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold">项目名称</td>
					<td style="padding: 5px;">	<input class="easyui-textbox"
						name="_projectId" id="_projectId"  style="width: 100%" />
						<#comboProvider _id="_projectId" _provider='projectProvider' />
				
					 </td>
					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold">版本号  
					       <input name="_versionId" id="_versionId" value="${odc.versionId}" type="hidden"> </td>
					<td style="padding: 5px;">
					     
					       <input class="easyui-combobox"  id="_versionIdName" style="width:100%" data-options="required:true,validType:'length[0,28]',prompt:'--选择所属版本--'" />
					
					
					</td>

				</tr>
				<tr>

					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold">申请更新时间</td>
					<td style="padding: 5px;"><input class="easyui-datebox"    value="${odc.updateDate}" id="_updateDate" editable="false" style="width: 100%"
					data-options="required:true,validType:'isIds',prompt:'申请更新时间'" /></td>
					<td style="padding: 5px; background-color: #f5f5f5; font-weight: bold">灰度是否同步执行</td>
					<td style="padding: 5px;">
 					    <select class="easyui-combobox"  value="${odc.isSynchronization}"   name="_isSynchronization" id="_isSynchronization" style="width: 100%" >
						    <option value="1">是</option>
						    <option value="0">否</option>
						</select></td>
				</tr>
				
				<tr>
					<td  colspan="2"   style="padding: 5px; background-color: #f5f5f5; font-weight: bold">数据库名</td>
					<td  colspan="2"  style="padding: 5px;"><input class="easyui-textbox"   value="${odc.dbaName}" id="_dbaName" value=""
							data-options="validType:['length[0,30]']" style="width: 70%"/></td>
				</tr>
				
				<tr>
				   <td  colspan="2"   style="padding: 5px; background-color: #f5f5f5; font-weight: bold">生产环境名称（市场）</td>
					<td  colspan="2"  style="padding: 5px;">
					<input class="easyui-textbox" id="_applyMarketId" name="_applyMarketId"   value="${odc.applyMarketId}"    data-options="validType:['length[0,30]']" style="width: 70%"/>
					
					
					</td>
				</tr>
				
				<tr>
				      <td     style="padding: 5px; background-color: #f5f5f5; font-weight: bold">SQL脚本（可附件）</td>
							
					  <td colspan="3"  style="padding: 5px; background-color: #f5f5f5; font-weight: bold">
					       <input class="easyui-textbox"  id="_sqlScript" name="_sqlScript" value="${odc.sqlScript}"
							data-options="validType:['length[0,50]']" style="width: 39%">
							
						<!-- 	 <input  class="easyui-linkbutton" name="_sqlFileId"   style="width: 39%"  value="${odc.sqlFileId}"   id="_sqlFileId"> -->
					          <input  value="${odc.sqlFileId}"  name="_sqlFileId" id="_sqlFileId" type="hidden">
					          <input type="file" id="sqlFile" name="sqlFile"  data-options="prompt:'添加附件...',buttonText:'选择'" style="width: 39%">
							  <a id="btnShangChuan" href="#" class="easyui-linkbutton"   data-options="iconCls:'icon-save'">上传后保存</a>
						 	 <a id="xiazai" href="#" onclick="downMyFile(${odc.sqlFileId})" class="easyui-linkbutton"  data-options="iconCls:'icon-download'">下载sql文件</a>   	
					  </td>
				</tr>
				
				
				
				
	            
				  
				<tr>
				   <td  colspan="4"   style="padding: 5px; background-color: #f5f5f5; font-weight: bold"> 
				    	<a id="agree" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">继续提交</a>
				   </td>
					
				</tr>
				<tr>
	                <input type="hidden" name="isNeedClaim" value="${isNeedClaim!}">
	                  <input type="hidden" id="taskId" value="${taskId}" />
	                
	           </tr>
				
			</tbody>

			

		</table>
		</form>

		


	
	</div>
</div>



<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->

<script type="text/javascript">

	 
$("#_projectId").combobox({  

	   onChange: function () {
		   var curValue=$('#_projectId').combobox('getValue');
		   $('#_versionIdName').combobox('clear');
		   if(curValue!=null){
			  // alert("sssss"+${versionTask});
		       reloadVisionSelect(curValue);
	        }
	　　  }  

});
$("#_versionIdName").combobox({  

	   onChange: function () {
		   var curValue=$('#_versionIdName').combobox('getValue');
		   $('#_versionId').val( curValue);
	　　  }  

});

function reloadVisionSelect(id) {
		
    $('#_versionIdName').combobox({
			url : "${contextPath!}/task/listTreeVersionByProject.json?id=" + id,
			valueField : 'id',
			textField : 'version',
			editable : false
		});

}

 
 $(function () {
	 
	  $("#_projectId").combobox("select",${odc.projectId});
	  $("#_versionIdName").combobox("select",${odc.versionId});
	 
});
 
$('#btnShangChuan').bind('click', function(){
		 
		 var input = document.getElementById('sqlFile');
		
		    var formdata = new FormData();
		    var curValue=$('#_projectId').combobox('getValue');
		   // alert(curValue);
		    formdata.append('file', input.files[0]);
		    formdata.append('projectId',curValue);
		    
		    $.ajax({
		       type: "POST",
		       url: "${contextPath!}/files/filesUpload",
		       data: formdata,
		       processData: false,
		        contentType: false,
		        dataType:"json",

	           success:function(data){
	        	   var rowd = data.data[0];
	        	    alert("上传成功");
	        	    alert( rowd.id);
	        	   $('#_sqlFileId').val( rowd.id); 
	        	  
	           }
	           
	       
	    });
		    
		    
	 });
	 
    function downMyFile(id){
    	      var temp= $('#_sqlFileId').val();
    	      alert(temp);
    	      if(temp!=null){
    	    	 id=temp;
    	      }
		      if(id!=null&&temp!=null)
		       	window.open('${contextPath!}/files/download?id=' + id);
			  else
				alert("没有文件");   
		 }
</script >
<script type="text/javascript">


   $('#agree').bind('click', function(){
	 
	   var taskIdd=$('#taskId').val();
	
	   $.ajax({
           type: "post",
           url: "${contextPath}/onlineDataChange/indexOnlineData.action",
           data: {"taskId":taskIdd},
           async : true,
           success: function (data) {
           	
             	alert("执行成功");

         	   try{
 					document.domain="diligrp.com";
 					//如果父页面是任务中心
                    var plh = parent.location.href.indexOf('?') > 0 ? parent.location.href.substring(0, parent.location.href.indexOf('?')) : parent.location.href;
                    if(plh=='<#config name="bpmc.server.address"/>/task/taskCenter.html') {
                        //向任务中心发送消息，参数为要跳转的地址
                        window.parent.postMessage('<#config name="bpmc.server.address"/>/task/taskCenter.html', '<#config name="bpmc.server.address"/>');
                    }else{
                    	window.location.href='${contextPath!}/onlineDataChange/index.html';
                    }
                }catch(ex){
                	console.log(ex);
                	window.location.href='${contextPath!}/onlineDataChange/index.html';
                }
              	 
              
             	
           	
           },
           error: function(){
               $.messager.alert('错误','远程访问失败');
           }
       });
	    
	    
     });

   	
</script>
<style type="text/css">
td {
	text-align: center; /*设置水平居中*/
	vertical-align: middle; /*设置垂直居中*/
}
</style>
<script>
    document.domain="diligrp.com";
</script>
</#body>