html,body{
    height: 100%;
}
body {
    font-family: "Microsoft YaHei", "微软雅黑", "sans-serif";
    /*padding:10px;*/
    font-size:13px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
    padding:0 0 12px 0;
}
.demo-tip{
    display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
/* datagrid row border st */
.lines-both .datagrid-body td{
}
.lines-no .datagrid-body td{
    border-right:1px dotted transparent;
    border-bottom:1px dotted transparent;
}
.lines-right .datagrid-body td{
    border-bottom:1px dotted transparent;
}
.lines-bottom .datagrid-body td{
    border-right:1px dotted transparent;
}

/* datagrid row border end */
.show-hint{
    margin: 0 0 10px;
    color: #999;
}

.oth-input{
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}
/*图表*/
.echarts-index{
    width: 100%;
    height: 300px;
    /*background: #2a5d3f;*/
}
.charts-box{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 272px;
    padding: 10px;
}
.charts-box:first-child{
    /*background: #2a5d3f;*/
    border-right:1px solid #f0f0f0;
}
